* {
    padding: 0;
    margin: 0;
}


/* AZUL 
body {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
} */

body {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background: #000000;
    background: linear-gradient(to right, #070707, #060124, #0d053b, #090329, #000000);
}

.shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(5, 5, 104), 0 0 0.2em rgb(15, 15, 212);
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    color: #e6ecee;
    align-items: center;
    justify-content: center;
}

.shrink-text a {
    display: flex;
    font-size: 60px;
    color: #e6ecee;
    text-decoration: unset;
}

.shrink-text a:hover {
    display: flex;
    font-size: 60px;
    color: #e6ecee;
    text-decoration: unset;
}

span:nth-child(even) {
    overflow: hidden;
    letter-spacing: -1em;
    transition: letter-spacing 0.5s linear;
}

.shrink-text a:hover span:nth-child(even) {
    letter-spacing: 0;
}

.Maven {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
}

a {
    text-decoration: none;
}

a::hover {
    text-decoration: none;
}
