.b
	.b--top
			
	.b--left
		.left-face
			h1 The Web <span>Artisan</span> Society
			h2 <span>240</span> Minutes of <span>Handcrafted HTML &amp; CSS</span>
			p The unique art &amp; craftmanship of web design in the 21<sup>st</sup> century
			
	.b--right
		.right-face
			h3 The Web <span>Artisan</span> Society
			h4 <span>240</span> <span>Minutes of Handcrafted HTML &amp; CSS</span>
			.quantity
				p 4<sup>x</sup>
				p 
					svg(fill="none" viewBox="0 0 50 16")
						circle(cx="8" cy="8" r="8" fill="var(--black)" stroke-width="1px" stroke="var(--green)")
						circle(cx="16" cy="8" r="8" fill="var(--black)" stroke-width="1px" stroke="var(--green)")
						circle(cx="24" cy="8" r="8" fill="var(--black)" stroke-width="1px" stroke="var(--green)")
						circle(cx="32" cy="8" r="8" fill="var(--black)" stroke-width="1px" stroke="var(--green)")
						circle(cx="32" cy="8" r="2" fill="var(--green)")
					|Discs inside
			
	.b--bottom
		