$paper-color: #F1EDE9;
$paper-line: #94ACD4;

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}
.notepad {
  width: 80%;
  max-width: 600px;
  box-shadow: 10px 10px 40px rgba(black, .15);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 5px 5px 0 0;
}

.paper {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  padding: 35px 20px;
  background: repeating-linear-gradient($paper-color, $paper-color 31px, $paper-line 31px, $paper-line 32px);
  font-family: 'Shadows Into Light', cursive;
  line-height: 32px;
  outline: 0;
  font-size: 22px;
}