:root {
  --primary: teal;
  --secondary: lightcoral;
  --txt-light: white;
  --background: rgba(255, 255, 255, 0.7);
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  font-size: 1.5em;
}

aside {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  min-width: 15em;
  width: 25%;
  height: 100%;
  background: var(--background);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  transition: transform 0.5s ease;
}

aside:first-of-type {
  left: 0;
  
  .messages {
    justify-content: flex-end;
  }
}

aside:nth-of-type(2) {
  right: 0;
  
  .message:first-child {
    margin-top: auto;
  }
}

.header {
  text-align: center;
  padding: 0.5em;
  background-color: var(--primary);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  line-height: 1.3;
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-close {
  margin-left: auto;
  height: 2em;
  width: 2em;
  background: transparent;
  border: none;
}

.btn-close svg {
  height: 1em;
  width: 1em;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1em 1.5em 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.message {
  display: flex;
  align-items: center;
}

.message p {
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.message.agent {
  position: relative;
}

.message.agent::after {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 1em;
  border: 0 solid transparent;
  border-top: 9px solid var(--primary);
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}

.message.agent p {
  background-color: var(--primary);
  color: var(--txt-light);
  border-radius: 4px;
}

.message.input {
  position: relative;
  align-self: flex-end;
}

.message.input::after {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 1em;
  border: 0 solid transparent;
  border-top: 9px solid var(--secondary);
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(45deg) scaleY(-1);
  
}

.message.input p {
  background-color: var(--secondary);
  text-align: right;
  color: var(--txt-light);
}

.controls {
  padding: 0.5em;
  background-color: var(--txt-light);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

input[type="text"] {
  flex: 1;
  font-size: 100%;
  max-width: calc(100% - 4em);
}

input[type="submit"] {
  font-size: 100%;
  border-radius: 4px;
  margin-left: 0.5em;
  height: 2em;
  padding: 0 0.5em;
  background-color: var(--primary);
  color: var(--txt-light);
}
