body {
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.9)), linear-gradient(85deg, rgba(109, 70, 190, 0.9), rgba(51, 163, 201, 0.8), rgba(14, 185, 108, 0.9)),
   url("https://www.xbr.pw/dragonball/img/Dragon-Ball-anime-digital-art-sky-clouds-tower-korin.webp" );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 1;
  box-sizing: border-box;
  height: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.logo {
  background: linear-gradient(95deg, #000000, #000000, rgb(51, 23, 23));
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.4), 0 10px 15px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.8), inset 0 2px 4px rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  left: 46%;
  padding: 1.5em 4em;
  position: absolute;
  transform: skew(-10deg) translate(-50%, -50%);
  top: 50%;
  text-decoration: none;

}
.logo:before {
  background: linear-gradient(95deg, #2d1c4f, #14404f, #86b7e4);
  opacity: .8;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), inset 0 0 20px rgba(0, 0, 0, 0.4), inset 0 0 100px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(255, 255, 255, 0.8), 0 -2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  bottom: 1em;
  content: '';
  left: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
}
.logo h1 {
  font-family: fontawesome, 'Oswald', sans-serif;
  font-size: 4em;
  margin: 0;
  padding: 1 0.4em;
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 3px 15px rgba(0, 0, 0, 0.7), 0 -1px 4px rgba(34, 4, 4, 0.2);
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  width: 100%;
}
.logo h1:after {
  background: linear-gradient(95deg, #a991d9, #c0e3ef, #6cf4b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: attr(data-text);
  position: absolute;
  text-align: center;
  left: 0;
  text-shadow: none;
  top: 0;
  width: 100%;
  z-index: 33;
}