* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Segoe UI", sans-serif;
}

button {
    font-family: "Segoe UI", sans-serif;
}

.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
}

p {
    margin-bottom: 15px;
}

input {
    text-align: center;
    border: none;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.3s;
}

input:focus {
    box-shadow: 0 3px 6px rgba(64, 179, 255, 0.8);
    color: rgb(64, 179, 255);
}

.form {
    width: 90%;
    max-width: 350px;
}

.row {
    margin: 15px 0;
    display: flex;
}

.row label {
    padding: 8px 0;
    color: #8B8B8B;
}

.row input {
    width: 70%;
    margin-left: auto;
    padding: 8px 10px;
}

.row .input {
    width: 100%;
    padding: 8px 10px;
}

button {
    width: 100%;
    margin-bottom: 15px;
    padding: 9px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    color: #8B8B8B;
    background: none;
    outline: none;
    border: none;
    transition: 0.3s;
}

button:focus {
    box-shadow: 0 3px 6px rgba(64, 179, 255, 0.8);
    color: rgb(64, 179, 255);
}

.resultbox {
    background: none;
}