body {
  margin: 10%;
}

.header-container {
  display: flex;
  justify-content: center;
}

#profile-photo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid #444;
  overflow: hidden;
}
#profile-photo img {
  width: 100%;
}

#name {
  margin-top: 20px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 3em;
}
#name:hover {
  color: steelblue;
}