@import url(https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,400);
* {
  box-sizing: border-box;
}
*:active, *:focus {
  border: 0;
  outline: 0;
}

html, body {
  height: 100%;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 70em) {
  html {
    font-size: 0.625rem;
  }
}

body {
  background-color: #EEEEEF;
  font-family: Montserrat, Helvetica, Times, serif;
  font-size: 1rem;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "kern";
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #888;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.45rem;
}

h1 {
  margin-top: 0;
  font-size: 6.853em;
  /* Hello stylesheet! */
  width: 90vw;
}

section {
  position: relative;
  height: 100vh;
  padding: 2.618em 0;
  text-align: center;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
}
section:after {
  content: '/';
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.75ex;
  font-weight: 300;
  font-family: Lato, Helvetica, Times, serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  white-space: nowrap;
}
section .bold {
  display: inline-block;
  font-weight: normal;
  color: #14151c;
  will-change: transform;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}