@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}

.break-inside {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}