html {
  background-color:#FFEBEE;
}
h1 {
  font-size: 35px;
  font-family: Lato, sans-serif;
  color :#00695C;
}
canvas {
  border : 1px solid #00695C;
  width : 402px;
}
input {
  font-size: 11pt;
}