header
  span#header-menu Menu
  span#header-settings Settings
  time.time(style="float: right") time
  time.date(style="float: right") date

#menu
  .menu-content
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item
  .menu-footer
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item
    .menu-item
      i.fa.fa-cube
      p Item

main

.screensaver
  .content
    time.time time
    time.date date
  .unlock click to unlock
