 /* Boton banner */
 
 .buttonb {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 14px;
     padding: 12px;
     width: 140px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 5px;
 }
 
 .buttonb span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .buttonb span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .buttonb:hover span {
     padding-right: 25px;
 }
 
 .buttonb:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton banner */
 
 .buttonm {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 14px;
     padding: 12px;
     width: 100px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 2px;
 }
 
 .buttonm span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .buttonm span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .buttonm:hover span {
     padding-right: 25px;
 }
 
 .buttonm:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton banner */
 
 .buttonxs {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 12px;
     padding: 12px;
     width: 80px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 0px;
 }
 
 .buttonxs span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .buttonxs span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .buttonxs:hover span {
     padding-right: 25px;
 }
 
 .buttonxs:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton banner */
 
 .buttonxxs {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 12px;
     padding: 12px;
     width: 70px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 0px;
 }
 
 .buttonxxs span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .buttonxxs span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .buttonxxs:hover span {
     padding-right: 25px;
 }
 
 .buttonxxs:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton principal */
 
 .button0 {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 14px;
     padding: 12px;
     width: 200px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 0px;
 }
 
 .button0 span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .button0 span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .button0:hover span {
     padding-right: 25px;
 }
 
 .button0:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton principal */
 
 .buttonflo {
     background-color: #FFFFFF;
     color: #cebebe;
     font-size: 10px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 0px;
 }
 
 .buttonflo span {
     position: relative;
     transition: 0.5s;
 }
 
 .buttonflo span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .buttonflo:hover span {
     padding-right: 25px;
 }
 
 .buttonflo:hover span:after {
     opacity: 1;
     right: 0;
 }
 /* Boton  largo  */
 
 .buttonx {
     border-radius: 12px;
     background-color: #FFFFFF;
     border: none;
     color: #000000;
     text-align: center;
     font-size: 14px;
     padding: 10px;
     width: 250px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 0px;
 }
 
 .buttonx span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .buttonx span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: 0px;
     transition: 0.5s;
 }
 
 .buttonx:hover span {
     padding-right: 25px;
 }
 
 .buttonx:hover span:after {
     opacity: 1;
     right: 0;
 }