* Homepage Events */ .event-group {
    width: 495px;
    font-size: 14px;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    float: right;
}

.event-group:first-child {
    float: left;
}

h2.event-group-title {
    font-weight: lighter;
    font-size: 24px;
    margin: 0 0 30px
}

.event-listing {
    clear: left;
    width: 100%;
    position: relative;
    margin: 0 0 25px;
    overflow: hidden;
    min-height: 90px;
}

.event-listing .event-teacher {
    float: left;
    margin: 0 10px 0 0;
    width: 80px;
}

.event-listing .event-details {
    float: left;
    display: inline;
}

.event-listing .event-date-register {
    position: absolute;
    width: 65px;
    top: 0;
    right: 0;
    text-align: center;
}

.event-listing .event-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.event-calendar {
    border: 1px solid #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 5px;
    margin: 0 0 3px;
    color: #999
}

.event-calendar .event-day {
    font-size: 26px;
}

.event-register a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #999;
    font-size: 11px;
    padding: 2px 0 2px;
}

.event-teacher img {
    border-radius: 50%
}