    /* Footerx  */
    
    .icon-bar {
        width: 100%;
        background-color: #ffffff;
        overflow: auto position: fixed;
        font-size: 20pt;
    }
    
    .icon-bar a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 6px 0;
        transition: all 0.3s ease;
        color: #bfbfbf;
        background-color: #ffffff;
    }
    
    .footerx {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        text-align: center;
        font-size: 20pt;
    }