/* Logo  */

.logo {
    position: fixed;
    top: 100px;
    right: 45px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 35px;
    width: auto;
    display: block;
}