 /* Style the tab */
 
 .tabx {
     overflow: hidden;
     border: 1px solid #f2f2f2;
     background-color: #ffffff;
 }
 /* Style the buttons inside the tab */
 
 .tabx button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     font-size: 17px;
 }
 /* Change background color of buttons on hover */
 
 .tabx button:hover {
     background-color: #f2f2f2;
 }
 /* Create an active/current tablink class */
 
 .tabx button.active {
     background-color: #f2f2f2;
 }
 /* Style the tab content */
 
 .tabcontentx {
     display: none;
     padding: 6px 12px;
     border: 1px solid #f2f2f2;
     border-top: none;
 }
 
 .calloutx {
     position: fixed;
     bottom: 35px;
     right: 20px;
     margin-left: 20px;
     max-width: 300px;
 }
 
 .calloutx-header {
     padding: 25px 15px;
     background: #555;
     font-size: 30px;
     color: white;
 }
 
 .calloutx-container {
     padding: 15px;
     background-color: #ccc;
     color: black
 }
 
 .closebtnx {
     position: absolute;
     top: 5px;
     right: 15px;
     color: white;
     font-size: 30px;
     cursor: pointer;
 }
 
 .closebtnx:hover {
     color: lightgrey;
 }