@import url(https://fonts.googleapis.com/css?family=Lato:700);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #626A6B;
  background-color: #A1B1B2;
}

#toggle-btn, #toggle-btn + label {
  display: inline-block;
}

#toggle-btn {
  width: 0;
  height: 0;
  opacity: 0;
}

#toggle-btn + label {
  position: relative;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: 3px solid;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#toggle-btn + label:before {
  content: "Show ";
}

#toggle-btn:checked + label:before {
  content: "Hide ";
}