body {
    margin: 0;
    padding: 0;
}

.choice {
    text-align: center
}

.choice button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    background: #333;
    color: #fff;
    font-size: 25px;
    margin: 100px 15px 20px;
    cursor: pointer;
}

#mine,
#comp {
    width: 180px;
    height: 180px;
    margin: 0 auto 30px;
    background-size: 100% 100%;
}

span {
    width: 400px;
    height: 90px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.even {
    color: #167AC6;
    opacity: 1;
}

.win {
    color: #34A853;
    opacity: 1;
}

.lose {
    color: #EA4335;
    opacity: 1;
}