@ancho: 200px;

.logo-almagro {
  background-color: #d3212b;
  color: white;
  width: @ancho;
  height: @ancho/3;
  padding-top: @ancho*.7;
  border-radius: @ancho/10;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @ancho/4.7;
  text-align: center;
  text-transform: lowercase;
  line-height: 100%;
  
  sub {
    font-size: 20%;
  }
}