.container
  .pinwheel
    .flap
    .flap
    .flap
    .flap
  blockquote.active
    h1 Intro Title 1
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  blockquote
    h1 Second Title
    p  Mollitia quibusdam aliquid ratione esse dicta excepturi labore molestiae quo!
  blockquote
    h1 Third one
    p  Vel laboriosam rerum aut doloribus repellendus pariatur eligendi adipisci maiores dignissimos
  blockquote
    h1 This is the forth
    p  Illo aspernatur asperiores dolor tempore sapiente labore in voluptas illum! Fugiat.