%h1 secuencia de trabajo:<br> desde la idea hasta el lanzamiento
%h2 
  %a(href="https://www.twitter.com/csslab") @csslab
%ol
  %li ¡IDEA!
  %li Desarrollo: funcional (HTML+CSS+JS)
  %li Desarrollo: estético (HTML5+CSS3)
  %li Diseño: logo en CSS3
  %li Dominio: nombre
  %li ¡A producción!