html, button, input, select, textarea {
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.blog-app {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
}

.blog-form, .blog-renderer {
  padding: 1em;
  width: 50%;
}

.blog-form textarea {
  resize: vertical;
  max-height: 70vh;
}
.blog-form label {
  display: block;
}
.blog-form label > span {
  display: block;
}

.blog-renderer {
  height: 100%;
  overflow: auto;
}