@import "compass/css3";


$perspective:1200px;
$scale:0.75;
$rotationX: 45deg;
$rotationY: 8deg;
$rotationZ: 0;

$steps:2; //has to match js

$blur-deviation:0.4;
$color:#222;
body{
  //overflow:hidden;
  background:linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
  //background:linear-gradient(70deg,rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(0,0,0,0)), linear-gradient(30deg,#fafafa,#fcfcfc,#ddd);
  background-size:100vw 100vh;
  background-attachment:fixed;
  //-webkit-filter:blur(0.5px); 
}
.realistic{
  color:$color;
  font-family:Georgia, Baskerville, serif;
  font-size:30px;
  position:absolute;
  top:-300px;
  //top:-200px;
  left:0;
  //-webkit-filter:contrast(7);
  opacity:1/(($steps*2));
  transform-origin:50% 600px; 
  max-width:900px;
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY) rotateX($rotationX); 
  text-shadow:0 0 3px transparentize($color,0.4),0 0 1px transparentize($color,0.8);
  text-align:justify;
}
p{
  text-indent:60px;
}
h1{
    font-weight:normal;
    font-size:100px;
    text-align:center;
}
.realistic.blur{
  pointer-events:none;
}
$transform:scale($scale,$scale) perspective($perspective);
$step:$blur-deviation/$steps;
@for $i from 1 through $steps{
  $cur:$step*($i);
  .realistic.blur-top:nth-child(#{$i}){
    transform: $transform rotateY($rotationY + $cur) rotateX($rotationX + $cur);
  }
  .realistic.blur-bottom:nth-child(#{$i}){
    transform: $transform rotateY($rotationY - $cur) rotateX($rotationX - $cur);
  }
}
.realistic.blur1{
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY + $blur-deviation) rotateX($rotationX + $blur-deviation);
}

.realistic.blur2{
  transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY - $blur-deviation) rotateX($rotationX - $blur-deviation) ;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:linear-gradient(transparentize(#eee,0.7),transparentize(#eee,1));
  z-index:99;
  pointer-events:none; 
}