* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,15%);
	--fg: hsl(var(--hue),10%,90%);
	font-size: calc(20px + (60 - 20) * (100vw - 320px) / (1280 - 320));
}
body, input {
	color: var(--fg);
	font: 1em/1.5 Inconsolata, monospace
}
body {
	background: hsl(var(--hue),90%,15%);
	height: 100vh;
	display: grid;
	place-items: center;
}
input {
	background: transparent;
	box-shadow: 0 -1px 0 hsla(var(--hue),10%,90%,0.3) inset;
	width: 24ch;
	transition: box-shadow 0.15s linear;
	-webkit-appearance: none;
	appearance: none;
}
input:focus {
	box-shadow: 0 -1px 0 hsl(var(--hue),10%,90%) inset;
	outline: transparent;
}
input::placeholder {
	color: hsla(var(--hue),10%,90%,0.3);
}
.sr {
	clip: rect(1px,1px,1px,1px);
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.particle {
	border-radius: 50%;
	pointer-events: none;
	position: fixed;
	width: 1.5ch;
	height: 1.5ch;
}
.particle--ring {
	box-shadow: 0 0 0 0.125em inset;
}