body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	--s1: hsl(var(--ter), var(--sat), 85%) 0 0.1%, #fff0 0.3% 100%;
	--s2: hsl(var(--pri), var(--sat), 85%) 0 0.15%, #fff0 0.35% 100%;
	--s3: hsl(var(--sec), var(--sat), 95%) 0 0.2%, #fff0 0.4% 100%;
	background:   
		/*stars*/ radial-gradient(
			circle at var(--s1x) var(--s2y),
			var(--s1)
		),
		radial-gradient(circle at var(--s2x) var(--s3y), var(--s2)),
		radial-gradient(circle at var(--s3x) var(--s4y), var(--s3)),
		radial-gradient(circle at var(--s4x) var(--s5y), var(--s1)),
		radial-gradient(circle at var(--s5x) var(--s6y), var(--s2)),
		radial-gradient(circle at var(--s6x) var(--s7y), var(--s3)),
		radial-gradient(circle at var(--s7x) var(--s8y), var(--s1)),
		radial-gradient(circle at var(--s8x) var(--s9y), var(--s2)),
		radial-gradient(circle at var(--s9x) var(--s10y), var(--s1)),
		radial-gradient(circle at var(--s10x) var(--s11y), var(--s2)),
		radial-gradient(circle at var(--s11x) var(--s12y), var(--s1)),
		radial-gradient(circle at var(--s12x) var(--s13y), var(--s2)),
		radial-gradient(circle at var(--s13x) var(--s14y), var(--s1)),
		radial-gradient(circle at var(--s14x) var(--s15y), var(--s2)),
		radial-gradient(circle at var(--s15x) var(--s1y), var(--s1)),
		/*space*/
			radial-gradient(
				circle at 50% 100%,
				hsl(var(--ter), var(--sat), 5%) 5%,
				hsl(var(--ter), var(--sat), 1%) 80%
			);
}

.poster {
	position: relative;
	width: var(--wid);
	height: var(--hei);
	border: 3vmin solid #fff;
	box-shadow: 1vmin 1vmin 1vmin 0vmin #0008;
	overflow: hidden;
	background: 
		/*stars*/ radial-gradient(
			circle at var(--s1x) var(--s1y),
			var(--s1)
		),
		radial-gradient(circle at var(--s2x) var(--s2y), var(--s2)),
		radial-gradient(circle at var(--s3x) var(--s3y), var(--s3)),
		radial-gradient(circle at var(--s4x) var(--s4y), var(--s1)),
		radial-gradient(circle at var(--s5x) var(--s5y), var(--s2)),
		radial-gradient(circle at var(--s6x) var(--s6y), var(--s3)),
		radial-gradient(circle at var(--s7x) var(--s7y), var(--s1)),
		radial-gradient(circle at var(--s8x) var(--s8y), var(--s2)),
		radial-gradient(circle at var(--s9x) var(--s9y), var(--s1)),
		radial-gradient(circle at var(--s10x) var(--s10y), var(--s2)),
		radial-gradient(circle at var(--s11x) var(--s11y), var(--s1)),
		radial-gradient(circle at var(--s12x) var(--s12y), var(--s2)),
		radial-gradient(circle at var(--s13x) var(--s13y), var(--s1)),
		radial-gradient(circle at var(--s14x) var(--s14y), var(--s2)),
		radial-gradient(circle at var(--s15x) var(--s15y), var(--s1)),
		/*space*/
			linear-gradient(
				0deg,
				hsl(var(--pri), var(--sat), 10%) 0%,
				hsl(var(--pri), var(--sat), 1%) 60%
			);
}

/*** MOON ***/

.moon {
	width: calc(var(--wid) * 2);
	height: calc(var(--wid) * 2);
	position: absolute;
	border-radius: 99%;
	border: 2px dotted #ffffff00;
	left: calc(var(--wid) / -2);
	top: calc(var(--wid) / var(--mot));
	transform: rotate(0deg);
	animation: moon-orbit var(--spe) linear -4s infinite;
	z-index: 1;
	/*animation-play-state: paused;*/
}

.moon:before {
	content: "";
	width: var(--mos);
	height: var(--mos);
	position: absolute;
	background: radial-gradient(
			circle at 18% 80%,
			#fff0 15%,
			hsla(var(--pri), var(--sat), 50%, 0.75) 55%,
			#fff0 80%
		),
		radial-gradient(circle at 38% 71%, #ccc8 3%, #fff0 5%),
		radial-gradient(circle at 25% 60%, #ccc8 6%, #fff0 9.5%),
		radial-gradient(circle at 40% 60%, #ededed 20%, #afafaf 100%);
	background: radial-gradient(circle at 17% 60%, #fff0 40% 65%, #000 85% 100%),
		radial-gradient(
			circle at 17% 55%,
			#fff0 5%,
			hsla(var(--qua), var(--sat), 35%, 0.75) 50%,
			hsla(var(--qua), var(--sat), 35%, 0.75) 80%,
			#fff0 100%
		),
		radial-gradient(circle at 41% 71%, #0001 3%, #fff0 5%),
		radial-gradient(circle at 42% 72%, #fff4 1%, #fff0 3%),
		radial-gradient(circle at 42% 72%, #0001 3%, #fff0 5%),
		radial-gradient(circle at 42% 73%, #0002 3%, #fff0 5%),
		radial-gradient(circle at 26.25% 60.75%, #fff7 3%, #fff0 10.5%),
		radial-gradient(circle at 25% 60%, #0002 6%, #fff0 9.5%),
		radial-gradient(circle at 27% 62%, #0002 6%, #fff0 9.5%),
		radial-gradient(circle at -15% 60%, #ededed 20%, #000 87% 100%);
	border-radius: 99%;
	left: 12%;
	top: 12%;
	animation: moon-spin var(--spe) linear 0s infinite;
	box-shadow: #00000080 -2vmin 0vmin 1vmin 0 inset, 2vmin 2vmin 2vmin 0 #0008;
}

@keyframes moon-orbit {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes moon-spin {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/*** PLANETS ***/

.planet {
	border-radius: 99%;
	box-shadow: #0008 -2vmin 0vmin 1vmin 0 inset;
}

/*** PLANET ONE ***/

.planet.one {
	width: calc(var(--wid) * 2);
	height: calc(var(--wid) * 2);
	left: calc(var(--wid) / -2);
	position: relative;
	top: var(--p-one-y);
	border-radius: 99%;
	overflow: hidden;
	background: linear-gradient(
			0deg,
			hsla(var(--sec), var(--sat), 20%, 0.75),
			#fff0 20% 80%,
			hsla(var(--sec), var(--sat), 30%, 0.75)
		),
		radial-gradient(
			circle at 23% 73%,
			transparent 0 40%,
			hsla(var(--qua), var(--sat), 30%, 0.75) 49% 50%,
			hsla(var(--qua), var(--sat), 60%, 0.25) 57% 59%,
			hsla(var(--qua), var(--sat), 61%, 0.75) 61% 62%,
			hsla(var(--pri), var(--sat), 51%, 0.35) 65% 66%,
			hsla(var(--pri), var(--sat), 40%, 0.65) 74% 100%
		),
		radial-gradient(
			circle at 45% 50%,
			hsl(var(--pri), var(--sat), 75%) 50%,
			hsl(var(--pri), var(--sat), 50%) 100%
		);
	box-shadow: 0 0 5px 0 hsla(var(--pri), var(--sat), 50%, 0.35),
		hsla(var(--pri), var(--sat), 20%, 0.75) -15vmin 0vmin 5vmin 0 inset,
		0 0 5vmin 0vmin #000000f2, 0 0 5vmin 0vmin #fff5;
}

/*** PLANET TWO ***/

.planet.two {
	width: var(--p-two-s);
	height: var(--p-two-s);
	background: linear-gradient(
		calc(var(--p-ring-d) * 15deg),
		hsl(var(--sec), var(--sat), 40%) 0 15%,
		hsl(var(--ter), var(--sat), 20%) 40%,
		hsl(var(--sec), var(--sat), 55%) 100%
	);
	background: radial-gradient(circle at 20% 50%, #fff0 30%, #0008 70%, #000 85%),
		linear-gradient(
			calc(var(--p-ring-d) * 15deg),
			#fff0 0 12%,
			hsla(var(--pri), var(--sat), 30%, 0.5) 17% 20%,
			#fff0 35% 60%,
			hsla(var(--pri), var(--sat), 41%, 0.5) 80%,
			#fff0 100%
		),
		linear-gradient(
			calc(var(--p-ring-d) * 15deg),
			hsl(var(--sec), var(--sat), 40%) 0 15%,
			hsl(var(--ter), var(--sat), 20%) 40%,
			hsl(var(--sec), var(--sat), 55%) 100%
		);
	border-radius: 99%;
	position: absolute;
	transform-style: preserve-3d;
	top: var(--p-two-y);
	left: var(--p-two-x);
	box-shadow: #0009 -1vmin 0vmin 1vmin 0vmin inset,
		#0009 -2vmin 0vmin 1vmin 0vmin inset, 0vmin 0vmin 1vmin 0 #0008;
}

/*** PLANET THREE ***/

.planet.three {
	width: var(--p-three-s);
	height: var(--p-three-s);
	border-radius: 99%;
	position: absolute;
	transform-style: preserve-3d;
	top: var(--p-three-y);
	left: var(--p-three-x);
	background: radial-gradient(
			circle at 20% 50%,
			hsl(var(--ter), var(--sat), 30%) 0% 10%,
			hsla(var(--sec), var(--sat), 27%, 0.65) 25% 30%,
			#0005 50% 100%
		),
		radial-gradient(
			circle at 20% 51%,
			hsl(var(--ter), var(--sat), 30%) 0% 10%,
			hsl(var(--ter), var(--sat), 31%) 20% 60%,
			#000c 90% 100%
		);
}

/*** PLANET FOUR ***/

.planet.four {
	position: absolute;
	left: var(--p-four-x);
	top: var(--p-four-y);
	width: var(--p-four-s);
	height: var(--p-four-s);
	transform-style: preserve-3d;
	background: radial-gradient(
			ellipse at 15% 40%,
			hsl(var(--qua), var(--sat), 19%) 0 6%,
			#0000 20% 100%
		),
		radial-gradient(
			circle at 62% 18%,
			hsl(var(--qua), var(--sat), 16%) 0 8%,
			#0000 20% 100%
		),
		radial-gradient(
			ellipse at 18% 45%,
			hsl(var(--qua), var(--sat), 24%) 0 20%,
			#0000 34% 100%
		),
		radial-gradient(
			ellipse at 65% 70%,
			hsl(var(--qua), var(--sat), 22%) 0 5%,
			#0000 20% 100%
		),
		radial-gradient(
			circle at 50% 100%,
			hsl(var(--qua), var(--sat), 29%) 0 10%,
			#0001 30% 100%
		),
		radial-gradient(
			circle at 0% 50%,
			hsl(var(--qua), var(--sat), 19%) 0 60%,
			#0008 100%
		);
}

/*** CRATERS ***/

.crater {
	content: "";
	position: absolute;
	left: var(--cax);
	top: var(--cay);
	width: var(--crs);
	height: var(--crs);
	border-radius: 99%;
	box-shadow: inset 0.5vmin -0.5vmin 0.75vmin 0 #0004;
	transform: rotateX(45deg) rotateY(-10deg);
	opacity: 0.65;
}

.crater:nth-child(2) {
	left: var(--cbx);
	top: var(--cby);
	width: calc(var(--crs) / 1.5);
	height: calc(var(--crs) / 1.5);
}

.crater:nth-child(3) {
	left: var(--ccx);
	top: var(--ccy);
	width: calc(var(--crs) / 1.25);
	height: calc(var(--crs) / 1.25);
}

.planet.random .crater {
	position: absolute;
	left: 3%;
	top: 27%;
	width: 35%;
	height: 47%;
	transform: rotateX(0deg) rotateY(0deg);
	opacity: 0.85;
}

.planet.two .crater {
	box-shadow: inset 0.5vmin -0.5vmin 0.75vmin 0 #0006;
	opacity: 0.5;
}

/*** RINGS ***/

.ring {
	width: 150%;
	height: 150%;
	border-radius: 99%;
	top: -25%;
	left: -25%;
	position: absolute;
	transform: rotate3d(0.8, calc(var(--p-ring-d) * 0.2), 0, 75deg) rotate(0deg);
	box-sizing: border-box;
	box-shadow: 0 0 2vmin 0vmin hsla(var(--pri), var(--sat), 20%, 0.75),
		0 0 1.5vmin 0vmin hsla(var(--pri), var(--sat), 20%, 0.75);
	opacity: 0.35;
	filter: sepia(1);
	background: linear-gradient(
			0deg,
			hsla(var(--sec), var(--sat), 20%, 0.75),
			#fff0 20% 80%,
			hsla(var(--sec), var(--sat), 30%, 0.75)
		),
		radial-gradient(ellipse at 10% 30%, #fff1 0 1%, #fff0 3% 100%),
		radial-gradient(ellipse at 60% 90%, #0002 0 1%, #fff0 3% 100%),
		radial-gradient(ellipse at 45% 97%, #fff1 0 1%, #fff0 4% 100%),
		radial-gradient(
			transparent 0 50%,
			hsla(var(--pri), var(--sat), 40%, 0.75) 53% 55%,
			hsla(var(--pri), var(--sat), 60%, 0.25) 57% 59%,
			hsla(var(--pri), var(--sat), 30%, 0.75) 61% 63%,
			hsla(var(--pri), var(--sat), 54%, 0.35) 66% 67%,
			hsla(var(--pri), var(--sat), 40%, 0.65) 69% 100%
		);
	animation: ring-spin 6s linear 0s infinite;
}

@keyframes ring-spin {
	0% {
		transform: rotate3d(0.8, calc(var(--p-ring-d) * 0.2), 0, 75deg) rotate(0deg);
	}
	0% {
		transform: rotate3d(0.8, calc(var(--p-ring-d) * 0.2), 0, 75deg) rotate(360deg);
	}
}

a .poster:before {
	content: "";
	z-index: 1;
	width: 3vmin;
	height: 3vmin;
	position: absolute;
	border: 0.5vmin solid #fff;
	border-radius: 99%;
	border-right-color: #fff0;
	transition: all 0.4s ease 0s;
	border-left-color: #fff0;
	bottom: 3vmin;
	left: calc(50% - 1.5vmin);
	box-sizing: border-box;
}

a .poster:after {
	content: "";
	width: 3vmin;
	height: 3vmin;
	position: absolute;
	bottom: 3vmin;
	left: calc(50% - 1.5vmin);
	background: conic-gradient(from 45deg at 64% 38%, #fff 0 12.5%, #fff0 0 100%),
		conic-gradient(from 225deg at 38% 64%, #fff 0 12.5%, #fff0 0 100%);
}

a:hover .poster:before,
a:hover .poster:after {
	animation: reload 1s ease-in-out 0s 1;
}

@keyframes reload {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
