/* 
╭╮╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭╮╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭╮
┃┃╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱┃┃╱╱╱╱╱╱╱╱╱╱╱╱╱╱┃┃
┃┃╭╮╭┳┳━━┳━━┳━╮╭━━┳━━┫┃╱╭╮╭┳━━┳━━┳┳━━┫┃
┃┃┃┃┃┣┫━━┫╭╮┃╭╮┫╭╮┃┃━┫┃╱┃╰╯┃╭╮┃╭━╋┫┃━┫┃
┃╰┫╰╯┃┣━━┃╭╮┃┃┃┃╰╯┃┃━┫╰┳┫┃┃┃╭╮┃╰━┫┃┃━┫╰╮
╰━┻━━┻┻━━┻╯╰┻╯╰┻━╮┣━━┻━┻┻┻┻┻╯╰┻━━┻┻━━┻━╯
╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭━╯┃
╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╰━━╯ code & travel */

*,
::after,
::before {
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif, Verdana, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.5
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:after {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

div.scrollmenu {
    background-color: rgb(20, 20, 20);
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-bottom: 0px;
    text-align: center;
    line-height: 0;
}

div.scrollmenu i {
    display: inline-block;
    text-align: center;
    padding: 0px 0;
    transition: all 0.3s ease;
    font-size: 25pt;
}

div.scrollmenu p {
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vw;
}

div.scrollmenu p:hover {
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vw;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.container-publicaciones {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    height: 78%;
}

@media (min-width:576px) {
    .container-publicaciones {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-publicaciones {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-publicaciones {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-publicaciones {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container-publicaciones {
        max-width: 1320px
    }
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

#Button-explosive {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    background: #0000002a;
    border-radius: 50%;
    color: #ececec;
    z-index: 1;
}

.Nav-explosive {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 302px;
    height: 302px;
    font-size: 0;
    transform: scale(0);
    transition: transform 0.8s;
    box-shadow: 0px 0px 10px #999;
    z-index: 1;
}

.a-explosive {
    display: inline-block;
    width: 150px;
    height: 150px;
    font-size: 28px;
    text-decoration: none;
    line-height: 150px;
    text-align: center;
    /*   text-shadow: 2px 2px 4px #666;  */
    color: #fff;
}

.a-explosive:nth-of-type(odd) {
    margin-right: 2px;
}

.a-explosive:nth-child(1) {
    margin-bottom: 2px;
    background: #1abc9c;
}

.a-explosive:nth-child(2) {
    background: #2ecc71;
}

.a-explosive:nth-child(3) {
    background: #3498db;
}

.a-explosive:nth-child(4) {
    background: #9b59b6;
}

.active {
    transform: scale(1);
}

canvas {
    position: fixed;
}

.bg-black-negro {
    background-color: rgb(2, 9, 27);
}

@media (prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth
    }
}

h2,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0
}

h2 {
    font-size: calc(1.325rem + .9vw);
    font-size: 30px
}

@media (min-width:1200px) {
    h2 {
        font-size: 2rem
    }
}

h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    h4 {
        font-size: 1.5rem
    }
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem
}

svg {
    vertical-align: middle
}

button:focus:not(:focus-visible) {
    outline: 0
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%
}

.g-4 {
    --bs-gutter-x: 1.5rem
}

.g-4 {
    --bs-gutter-y: 1.5rem
}

@media (min-width:576px) {
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%
    }
}

@media (min-width:768px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }
}

@media (min-width:992px) {
    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%
    }
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}

.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}

.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-floating>.form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    white-space: nowrap!important;
    border: 0!important
}

.d-flex {
    display: flex!important
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important
}

.flex-shrink-0 {
    flex-shrink: 0!important
}

.align-items-start {
    align-items: flex-start!important
}

.me-3 {
    margin-right: 1rem!important
}

.mb-0 {
    margin-bottom: 0!important
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

.pb-2 {
    padding-bottom: .5rem!important
}

.fw-bold {
    font-weight: 700!important
}

.text-muted {
    color: #6c757d!important
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


/* HI.CSS 0.01 julio2021 by Luis Angel Maciel reference w3.css by Jan Egil and Borge Refsnes */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


/* End extract */

html {
    overflow-x: hidden
}

:disabled * {
    pointer-events: none
}

button,
hr,
input {
    overflow: visible
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress,
sub,
sup {
    vertical-align: baseline
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

menu,
article,
aside,
details,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {}

button,
select {
    text-transform: none
}

[type=submit],
[type=reset],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}


/*# sourceMappingURL=normalize.min.css.map */