$icomoon-font-family: "vinme" !default;
$icomoon-font-path: "fonts" !default;

$b-google-my-business: "\e900";
$b-grindr: "\e901";
$b-hornet: "\e902";
$b-mercado-libre: "\e903";
$b-onlyfans: "\e904";
$b-scruff: "\e905";
$tripadvisor: "\f65e";
$avatar-hihello: "\ec41";
$logo-hihello-path1: "\ea51";
$logo-hihello-path2: "\ea52";
$logo-hihello-path3: "\ea53";
$hhm: "\ea54";
$logo-xiiber-2021c: "\ea56";

