- 
  const links = [
    'HOME',
    'WORKS',
    'ABOUT',
    'CONTACT'
  ];

.container
  header
    h1
      a.manga(href="#") 漫画線 - Cartoon line
    h2 Please hover the elements.
    ul
      - for (let i = 0; i < links.length; i++) 
        li
          a.manga(href="#") #{links[i]}
  main
    ol
      - for (let i = 0; i < 24; i++)
        li
          a.manga(href="#")
  footer
    p
      small MangaLine