@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.panel {
  width: 100%;
}
.main {
  width: 100%;
}
@media (min-width: 1024px) {
  .panel {
    width: 20%;
  }
  .main {
    width: 60%;
  }
}
