/* CSS only way:
body {
	color: black; 
	background-color: white;
}
@media (prefers-color-scheme: dark) {
	body {
		color: white; 
		background-color: black;
	}
}
*/

/* JavaScript will apply class */
body {
	color: black; 
	background-color: white;
}
body.dark {
	color: white; 
	background-color: black;
}