body {
  background: #161616;
  font: 12px normal Verdana, Arial, Helvetica, sans-serif;
}
.stop {
  -webkit-animation-play-state: paused;
}
.trigger {
  background-image: -webkit-linear-gradient(top, #161616 25%, #000);
  border: 1px solid #111;
  border-right-color: #333;
  border-bottom-color: #333;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
  text-transform: lowercase;
  margin: 10px auto;
  /*display: block;
  width: 140px;*/
  border-radius: 5px;
  text-align: center;
}
.trigger:hover {
  background-image: -webkit-linear-gradient(top, #202020 25%, #161616);
}
#ajaxloader1 {
  width: 30px;
  height: 30px;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px;
  color: #fff;
  border-color: #f00;
  color: #cc0000;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-animation: spin-right 1s linear infinite;
  margin: 30px auto 0;
}
#ajaxloader1:after {
  display: block;
  width: 13px;
  height: 13px;
  margin: 3px;
  border: 6px solid #f00;
  content: " ";
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
#ajaxloader2 {
  margin: 30px auto 0;
}
#ajaxloader2 .outer {
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  width: 50px;
  height: 50px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  -webkit-animation: spin-right 0.5s infinite linear;
  margin: 0 auto;
}
#ajaxloader2 .inner {
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
  position: relative;
  top: -50px;
  margin: 0 auto;
  -webkit-animation: spin-left 0.5s infinite linear;
}
#ajaxloader3 {
  margin: 0 auto;
}
#ajaxloader3 .outer {
  border: 5px solid rgba(0, 229, 183, 0.9);
  opacity: 0.9;
  border-right-color: transparent;
  border-left-color: transparent;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 35px rgba(0, 76, 61, 0.9);
  -webkit-animation: spin-pulse 1s infinite linear;
}
#ajaxloader3 .inner {
  border: 5px solid rgba(0, 229, 183, 0.9);
  opacity: 0.9;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 76, 61, 0.9);
  width: 30px;
  height: 30px;
  position: relative;
  top: -50px;
  margin: 0 auto;
  -webkit-animation: spin-right 1s infinite linear;
}
#ajaxbar1 {
  margin: 0 auto;
  overflow: hidden;
  width: 90px;
}
#ajaxbar1 .barlittle {
  background-color: #8aff51;
  background-image: -webkit-linear-gradient(45deg, #8aff51 25%, #f1ffea);
  border: 1px solid #111;
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 5px;
  opacity: 0.1;
  -webkit-animation: pulse 1s infinite linear;
}
#ajaxbar1 #block2 {
  -webkit-animation-delay: 0.1s;
}
#ajaxbar1 #block3 {
  -webkit-animation-delay: 0.2s;
}
#ajaxbar1 #block4 {
  -webkit-animation-delay: 0.3s;
}
#ajaxbar1 #block5 {
  -webkit-animation-delay: 0.4s;
}
#ajaxwave1 {
  margin: 30px auto 0;
  overflow: hidden;
  height: 50px;
}
#ajaxwave1 .pointcircle {
  background-color: #f00;
  background-image: -webkit-linear-gradient(90deg, #f00 25%, #ff9999);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0 0 5px #cc0000;
  margin: 0 auto;
  position: relative;
}
#ajaxwave1 #pointcircle1 {
  -webkit-animation: ball-circlex 2s infinite cubic-bezier(0, 0, 0.35, 1);
}
#ajaxwave1 #pointcircle2 {
  opacity: 0.7;
  top: 1px;
  -webkit-animation: ball-circlex 2s 0.1s infinite cubic-bezier(0, 0, 0.35, 1);
}
#ajaxwave1 #pointcircle3 {
  opacity: 0.5;
  top: 2px;
  -webkit-animation: ball-circlex 2s 0.2s infinite cubic-bezier(0, 0, 0.35, 1);
}
#ajaxwave1 #pointcircle4 {
  opacity: 0.3;
  top: 3px;
  -webkit-animation: ball-circlex 2s 0.3s infinite cubic-bezier(0, 0, 0.35, 1);
}
#ajaxwave1 #pointcircle5 {
  opacity: 0.1;
  top: 4px;
  -webkit-animation: ball-circlex 2s 0.4s infinite cubic-bezier(0, 0, 0.35, 1);
}
#facebook {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
#facebook .bar {
  background: #99aaca;
  border: 1px solid #96a6c9;
  float: left;
  margin: 6px 4px 0 0;
  width: 6px;
  height: 18px;
  -webkit-animation: facebook-pulse 1s infinite;
}
#facebook .bar:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
#facebook .bar:last-child {
  -webkit-animation-delay: 0.2s;
  margin-right: 0;
}
@-webkit-keyframes spin-right {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes spin-left {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(-180deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes spin-pulse {
  from {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.7);
    opacity: 0.1;
  }
}
@-webkit-keyframes ball-circlex {
  from {
    -webkit-transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(25px);
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-25px);
    -webkit-animation-timing-function: ease-in;
  }
  to {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes facebook-pulse {
  10% {
    margin-top: 5px;
    height: 22px;
    border-color: #d1d8e6;
    background-color: #bac5db;
  }
  20% {
    margin-top: 0px;
    height: 32px;
    border-color: #d1d7e2;
    background-color: #bac5db;
  }
  30% {
    margin-top: 1px;
    height: 30px;
    border-color: #d1d8e6;
    background-color: #bac5db;
  }
  40% {
    margin-top: 3px;
    height: 26px;
  }
  50% {
    margin-top: 5px;
    height: 22px;
  }
  60% {
    margin-top: 6px;
    height: 18px;
  }
}