.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #D3D5F6;
}
.ag-apps-block {
  padding: 50px 0;
}
.ag-apps-tabs_title {
  padding: 0 0 20px;

  font-weight: bold;
  font-size: 30px;
}
.ag-apps_col__left {
  float: left;
  width: 350px;
}
.ag-apps_col-wrap {
  overflow: hidden;
}
.ag-apps_col__right {
  padding-left: 6%;
}

.ag-apps-tabs_tabs {
  padding: 0 0 40px;
}
.ag-apps-tabs_tab {
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 10px 15px;

  cursor: pointer;

  opacity: .7;

  font-weight: bold;
  font-size: 20px;
  color: #191F3D;

  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;

  -webkit-transition: background .3s ease-out, opacity .3s ease-out;
  -moz-transition: background .3s ease-out, opacity .3s ease-out;
  -o-transition: background .3s ease-out, opacity .3s ease-out;
  transition: background .3s ease-out, opacity .3s ease-out;
}
.ag-apps-tabs_tab:last-child {
  margin: 0;
}
.ag-apps-tabs_tab:hover {
  opacity: 1;
}
.ag-apps-tabs_tab.js-ag-active {
  background-color: rgba(255, 255, 255, .4);

  opacity: 1;
}
.ag-apps-subtabs_list {
  visibility: hidden;

  opacity: 0;

  position: absolute;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
}
.ag-apps-subtabs_list.js-ag-active {
  visibility: visible;

  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  position: relative;
}
.ag-apps-subtabs_item {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0 15px 15px 0;
}
.ag-apps-subtabs_item:nth-child(3n) {
  margin-right: 0;
}
.ag-apps-subtabs_item:not(.js-ag-active) {
  cursor: pointer;
}
.ag-apps-subtabs_item.js-ag-active {
  background: #b7abff;
  background: -moz-linear-gradient(top,  #b7abff 0%, #4f99c1 100%);
  background: -webkit-linear-gradient(top,  #b7abff 0%,#4f99c1 100%);
  background: linear-gradient(to bottom,  #b7abff 0%,#4f99c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7abff', endColorstr='#4f99c1',GradientType=0 );

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.ag-apps-subtabs_icon {
  height: 90px;
  width: 90px;
  margin: 5px auto 0;
  background-color: #EEE;

  overflow: hidden;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);

  -webkit-transition: -webkit-transform .3s ease-in-out, -webkit-box-shadow .3s ease-in-out, opacity .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, -moz-box-shadow .3s ease-in-out, opacity .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, -o-box-shadow .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, opacity .3s ease-in-out;
}
.ag-apps-subtabs_item:hover .ag-apps-subtabs_icon {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
}
.ag-apps-subtabs_item:not(.js-ag-active) .ag-apps-subtabs_icon {
  opacity: .5;
}
.ag-apps-subtabs_item:not(.js-ag-active):hover .ag-apps-subtabs_icon {
  opacity: 1;

  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}
.ag-apps-subtabs_item.js-ag-active .ag-apps-subtabs_icon,
.ag-apps-subtabs_item.js-ag-active:hover .ag-apps-subtabs_icon {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ag-apps-subtabs_img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.ag-apps_content {
  min-height: 510px;
  padding: 0 0 0 200px;

  position: relative;
}
.ag-apps-phone_box {
  width: 200px;

  opacity: 0.7;

  z-index: -10;
  position: absolute;
  top: 55px;
  left: 40px;

  -webkit-transform: scale(1.1) rotate(-10deg) translateX(-25px);
  -moz-transform: scale(1.1) rotate(-10deg) translateX(-25px);
  -ms-transform: scale(1.1) rotate(-10deg) translateX(-25px);
  -o-transform: scale(1.1) rotate(-10deg) translateX(-25px);
  transform: scale(1.1) rotate(-10deg) translateX(-25px);
}
.ag-apps-phone_img {
  width: 100%;

  filter: drop-shadow(30px 30px 40px #eaeaea);
}

.ag-apps-phone_slides {
  height: calc(100% - 36px);
  width: calc(100% - 32px);
  background-color: #d2d2d2;

  overflow: hidden;

  z-index: 10;
  position: absolute;
  top: 14px;
  left: 50%;
  border-radius: 18px;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ag-apps-phone_slides .slick-track,
.ag-apps-phone_slides .slick-list {
  height: 100%;
}
.ag-apps-phone_slide {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.js-ag-apps-info_name {
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 30px;

  text-shadow: 5px 5px 20px #dadada;

  -webkit-animation: an-apps-info_name 0.4s ease-in-out forwards;
  -moz-animation: an-apps-info_name 0.4s ease-in-out forwards;
  -o-animation: an-apps-info_name 0.4s ease-in-out forwards;
  animation: an-apps-info_name 0.4s ease-in-out forwards;
}
.js-ag-apps-info_descr {
  padding: 0 0 30px;

  opacity: 0;

  font-size: 21px;
  color: #191F3D;

  filter: blur(4px);

  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);

  -webkit-animation: an-apps-show .4s .2s ease-in-out forwards;
  -moz-animation: an-apps-show .4s .2s ease-in-out forwards;
  -o-animation: an-apps-show .4s .2s ease-in-out forwards;
  animation: an-apps-show .4s .2s ease-in-out forwards;
}
.js-ag-apps-info_btn {
  display: inline-block;
  margin-right: 25px;

  opacity: 0;

  text-decoration: none;

  filter: blur(4px);

  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);

  -webkit-animation: an-apps-show .4s .3s ease-in-out forwards;
  -moz-animation: an-apps-show .4s .3s ease-in-out forwards;
  -o-animation: an-apps-show .4s .3s ease-in-out forwards;
  animation: an-apps-show .4s .3s ease-in-out forwards;
}

@-webkit-keyframes an-apps-info_name {
  0% {
    opacity: 0;

    filter: blur(4px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);
  }
}
@-moz-keyframes an-apps-info_name {
  0% {
    opacity: 0;

    filter: blur(4px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);
  }
}
@-o-keyframes an-apps-info_name {
  0% {
    opacity: 0;

    filter: blur(4px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);
  }
}
@keyframes an-apps-info_name {
  0% {
    opacity: 0;

    filter: blur(4px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);
  }
}

@-webkit-keyframes an-apps-show {
  0% {
    opacity: 0;

    filter: blur(4px);

    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);

    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-moz-keyframes an-apps-show {
  0% {
    opacity: 0;

    filter: blur(4px);

    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);

    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-o-keyframes an-apps-show {
  0% {
    opacity: 0;

    filter: blur(4px);

    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);

    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes an-apps-show {
  0% {
    opacity: 0;

    filter: blur(4px);

    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;

    filter: blur(0px);

    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}


@media only screen and (max-width: 979px) {
  .ag-apps_col-wrap {
    overflow: visible;
  }
  .ag-apps_col__left {
    float: none;
    width: auto;
  }
  .ag-apps_col__right {
    padding: 0 0 0 30px;
  }

  .ag-apps-tabs_tabs {
    padding: 0 0 20px;
  }
  .ag-apps-subtabs_list {
    padding: 0 0 20px;
  }
  .ag-apps-subtabs_item {
    height: 70px;
    width: 70px;
    margin: 0 1% 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .ag-apps-subtabs_item.js-ag-active {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .ag-apps-subtabs_icon {
    height: 60px;
    width: 60px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
