/* before text on the section */
@media (min-width: 992px) {
    .section.before::before {
        position: absolute;
        top: 100px;
        left: -80px;
        width: 100%;
        content: 'default';
        clear: both;
        display: block;
        font-family: var(--font-roboto);
        font-weight: var(--font-weight-7);
        color: red;
        text-transform: uppercase;
        font-size: 400px;
        z-index: 0;
        line-height: 527px; 
    }

    .section-hero.before::before {
        content: 'mice';
        color: var(--color-dark-silver);
    }

    .section-sale.before::before {
        content: 'sale';
        color: var(--color-light);
    }

    .section-popular.before::before {
        content: 'popular';
        color: var(--color-dark-silver);
        bottom: 0;
        top: inherit;
    }    
}
/* end/ before text on the section */