* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background: #343433;
}

  .container {
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
  }

  .container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
  }

  .container .form-outer {
    width: 100%;
    overflow: hidden;
  }

  .form-outer form {
    display: flex;
    width: 400%;
  }

  .form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
  }
  .form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }
  .form-outer form .page .field {
    height: 45px;
    width: 330px;
    margin: 45px 0;
    position: relative;
  }
  .form-outer form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
  }
  .form-outer form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
  }
  .form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #d43f8d;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease;
  }
  .form-outer form .page .field button:hover {
    background: #000;
  }
  form .page .btns button {
    margin-top: -20px !important;
  }
  form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next {
    margin-left: 3px;
  }

  .container .progress-bar {
    display: flex;
    margin: 40px 0;
  }
  .container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
  }
  .progress-bar .step p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
    transition: .2s;
  }
  .progress-bar .step p.active {
    color: #d43f8d;
  }
  .progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: relative;
    transition: .2s;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
  }
  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after {
    display: none;
  }
  .progress-bar .step .bullet.active {
    border-color: #d43f8d;
    background: #d43f8d;
  }
  .progress-bar .step .bullet.active:after {
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate .3s linear forwards;
  }
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  .progress-bar .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar .step .bullet.active span {
    display: none;
  }
  .progress-bar .step .check.active {
    display: block;
    color: white;
  }
  .progress-bar .step .check {
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
  }