body,
html {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.action-bar {
  background: #303030;
  width: 100%;
  display: block;
  padding: 3em;
  position: relative;
  text-align: center;
  
  .checkbox-holder input {
    margin: 0 6px 0 0;
  }
  
  .checkbox-holder span {
    color: #dcdcdc;
  }
}

.stamp {
  color: #0a9928;
  font-size: 3rem;
  font-weight: 700;
  border: 6px solid #0a9928;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 6px;
  font-family: "Courier";
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  -webkit-mask-size: 944px 604px;
  -webkit-mask-position: 13rem 6rem;
  mix-blend-mode: multiply;
  position: absolute;
  display: none;
  top: -3em;
  left: 50%;

  &.show {
    display: block;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-14deg) scale(1);
  }
}
