$icomoon-font-family: "vinme" !default;
$icomoon-font-path: "fonts" !default;

$b-google-my-business: "\e900";
$b-grindr: "\e901";
$b-hornet: "\e902";
$b-mercado-libre: "\e903";
$b-onlyfans: "\e904";
$b-scruff: "\e905";
$google-my-business-path1: "\e906";
$google-my-business-path2: "\e907";
$google-my-business-path3: "\e908";
$google-my-business-path4: "\e909";
$google-my-business-path5: "\e90a";
$grindr: "\e90b";
$hornet-path1: "\e90c";
$hornet-path2: "\e90d";
$hornet-path3: "\e90e";
$hornet-path4: "\e90f";
$hornet-path5: "\e910";
$hornet-path6: "\e911";
$hornet-path7: "\e912";
$hornet-path8: "\e913";
$mercado-libre-path1: "\e914";
$mercado-libre-path2: "\e915";
$mercado-libre-path3: "\e916";
$mercado-libre-path4: "\e917";
$mercado-libre-path5: "\e918";
$mercado-libre-path6: "\e919";
$mercado-libre-path7: "\e91a";
$onlyfans-path1: "\e91b";
$onlyfans-path2: "\e91c";
$scruff-path1: "\e91d";
$scruff-path2: "\e91e";
$scruff-path3: "\e91f";
$scruff-path4: "\e920";
$scruff-path5: "\e921";
$scruff-path6: "\e922";
$scruff-path7: "\e923";
$scruff-path8: "\e924";
$scruff-path9: "\e925";
$scruff-path10: "\e926";
$scruff-path11: "\e927";
$scruff-path12: "\e928";
$netflix-gayflix: "\e929";
$netflix-gayflix1: "\e92a";
$tumblr: "\e92b";
$youtube-path1: "\ea5c";
$youtube-path2: "\ea5d";
$logo-tepozspa-2021: "\ea58";
$tripadvisor: "\f65e";
$google-path1: "\ea5b";
$google-path2: "\ea5e";
$google-path3: "\ea5f";
$google-path4: "\ea60";
$twitter-bird: "\f5a4";
$whatsapp: "\ea5a";
$facebook-azul-letra-path1: "\f0a1";
$facebook-azul-letra-path2: "\f0a2";
$facebook-azul-letra-path3: "\f0a3";
$facebook-azul-letra-path4: "\f0a4";
$gmail: "\e92c";
$tumbrl: "\f660";
$intagram-camera: "\f66c";
$pinterest: "\e92d";
$viajes-one: "\f5bf";
$entradas: "\ea78";
$faq: "\ea71";
$send: "\e92e";
$codepen: "\f657";
$repliit: "\f658";
$codesandbox-path1: "\f659";
$codesandbox-path2: "\f65a";
$github-logo: "\f65b";
$github: "\f65c";
$w3spaces: "\f65d";
$www: "\f65f";
$hi5-path1: "\f661";
$hi5-path2: "\f662";
$hi5-path3: "\f663";
$hi5-path4: "\f664";
$hi5-path5: "\f665";
$hi5-path6: "\f666";
$hi5-path7: "\f667";
$hi5-path8: "\f668";
$hi5-path9: "\f669";
$like: "\f66a";
$twiiter-bird: "\f66b";
$instagram-path1: "\ee02";
$instagram-path2: "\ee03";
$instagram-path3: "\ee04";
$instagram-path4: "\ee05";
$instagram-path5: "\ee06";
$instagram-path6: "\ee07";
$instagram-path7: "\ee08";
$instagram-path8: "\ee09";
$instagram-path9: "\ee0a";
$instagram-path10: "\ee0b";
$instagram-path11: "\ee0c";
$instagram-path12: "\ee0d";
$instagram-path13: "\ee0e";
$logo-ciudad-de-mexico: "\eb0e";
$logo-morelos: "\eb0f";
$logo-acapulco: "\eb10";
$logo-puerto-vallarta: "\eb11";
$avatar-hihello: "\ec41";
$logo-dragvesti-negro: "\ea4f";
$pokebola: "\f413";
$amazon: "\e92f";
$codepen1: "\e930";
$css3: "\e931";
$gitpod: "\e932";
$html5: "\e933";
$mastodon: "\e934";
$medium: "\e935";
$meetup: "\e936";
$mega: "\e937";
$logo-geus-bai-bai-cosmeticos: "\ec3e";
$logo-la-mas-draga-drag-queen-path1: "\f25a";
$logo-la-mas-draga-drag-queen-path2: "\f25b";
$logo-la-mas-draga-drag-queen-path3: "\f25c";
$logo-la-mas-draga-drag-queen-path4: "\f25d";
$logo-la-mas-draga-drag-queen-path5: "\f25e";
$logo-la-mas-draga-drag-queen-path6: "\f25f";
$logo-la-mas-draga-drag-queen-path7: "\f260";
$logo-la-mas-draga-drag-queen-path8: "\f261";
$logo-la-mas-draga-drag-queen-path9: "\f262";
$logo-la-mas-draga-drag-queen-path10: "\f263";
$logo-la-mas-draga-drag-queen-path11: "\f264";
$logo-la-mas-draga-drag-queen-path12: "\f265";
$logo-la-mas-draga-drag-queen-path13: "\f266";
$logo-la-mas-draga-drag-queen-path14: "\f267";
$logo-la-mas-draga-drag-queen-path15: "\f268";
$logo-la-mas-draga-drag-queen-path16: "\f269";
$logo-la-mas-draga-drag-queen-path17: "\f26a";
$logo-la-mas-draga-drag-queen-path18: "\f26b";
$logo-la-mas-draga-drag-queen-path19: "\f26c";
$logo-la-mas-draga-drag-queen-path20: "\f26d";
$logo-la-mas-draga-drag-queen-path21: "\f26e";
$logo-la-mas-draga-drag-queen-path22: "\f26f";
$logo-la-mas-draga-drag-queen-path23: "\f270";
$logo-la-mas-draga-drag-queen-path24: "\f271";
$logo-la-mas-draga-drag-queen-path25: "\f272";
$logo-la-mas-draga-drag-queen-path26: "\f273";
$logo-la-mas-draga-drag-queen-path27: "\f274";
$logo-la-mas-draga-drag-queen-path28: "\f275";
$logo-la-mas-draga-drag-queen-path29: "\f276";
$logo-la-mas-draga-drag-queen-path30: "\f277";
$logo-la-mas-draga-drag-queen-path31: "\f278";
$logo-la-mas-draga-drag-queen-path32: "\f279";
$logo-la-mas-draga-drag-queen-path33: "\f27a";
$logo-la-mas-draga-drag-queen-path34: "\f27b";
$logo-la-mas-draga-drag-queen-path35: "\f27c";
$logo-la-mas-draga-drag-queen-path36: "\f27d";
$logo-la-mas-draga-drag-queen-path37: "\f27e";
$logo-la-mas-draga-drag-queen-path38: "\f27f";
$logo-la-mas-draga-drag-queen-path39: "\f280";
$logo-la-mas-draga-drag-queen-path40: "\f281";
$logo-la-mas-draga-drag-queen-path41: "\f282";
$logo-la-mas-draga-drag-queen-path42: "\f283";
$logo-la-mas-draga-drag-queen-path43: "\f284";
$logo-la-mas-draga-drag-queen-path44: "\f285";
$logo-la-mas-draga-drag-queen-path45: "\f286";
$logo-la-mas-draga-drag-queen-path46: "\f287";
$logo-la-mas-draga-drag-queen-path47: "\f288";
$logo-la-mas-draga-drag-queen-path48: "\f289";
$logo-la-mas-draga-drag-queen-path49: "\f28a";
$logo-la-mas-draga-drag-queen-path50: "\f28b";
$logo-la-mas-draga-drag-queen-path51: "\f28c";
$logo-la-mas-draga-drag-queen-path52: "\f28d";
$logo-la-mas-draga-drag-queen-path53: "\f28e";
$logo-la-mas-draga-drag-queen-path54: "\f28f";
$logo-la-mas-draga-drag-queen-path55: "\f290";
$logo-la-mas-draga-drag-queen-path56: "\f291";
$logo-la-mas-draga-drag-queen-path57: "\f292";
$logo-la-mas-draga-drag-queen-path58: "\f293";
$logo-la-mas-draga-drag-queen-path59: "\f294";
$logo-la-mas-draga-drag-queen-path60: "\f295";
$logo-la-mas-draga-drag-queen-path61: "\f296";
$logo-la-mas-draga-drag-queen-path62: "\f297";
$logo-la-mas-draga-drag-queen-path63: "\f298";
$logo-la-mas-draga-drag-queen-path64: "\f299";
$logo-la-mas-draga-drag-queen-path65: "\f29a";
$logo-la-mas-draga-drag-queen-path66: "\f29b";
$logo-la-mas-draga-drag-queen-path67: "\f29c";
$logo-la-mas-draga-drag-queen-path68: "\f29d";
$logo-la-mas-draga-drag-queen-path69: "\f29e";
$logo-la-mas-draga-drag-queen-path70: "\f29f";
$logo-la-mas-draga-drag-queen-path71: "\f2a0";
$logo-la-mas-draga-drag-queen-path72: "\f2a1";
$logo-la-mas-draga-drag-queen-path73: "\f2a2";
$logo-la-mas-draga-drag-queen-path74: "\f2a3";
$logo-la-mas-draga-drag-queen-path75: "\f2a4";
$logo-la-mas-draga-drag-queen-path76: "\f2a5";
$logo-la-mas-draga-drag-queen-path77: "\f2a6";
$logo-la-mas-draga-drag-queen-path78: "\f2a7";
$logo-la-mas-draga-drag-queen-path79: "\f2a8";
$logo-la-mas-draga-drag-queen-path80: "\f2a9";
$logo-la-mas-draga-drag-queen-path81: "\f2aa";
$logo-dragvesti: "\f257";
$logo-dragvesti-blanco: "\ea4e";
$logo-hihello-path1: "\ea51";
$logo-hihello-path2: "\ea52";
$logo-hihello-path3: "\ea53";
$hhm: "\ea54";
$xiiber-logo-horizontal-color-path1: "\ea57";
$xiiber-logo-horizontal-color-path2: "\ea59";
$xiiber-logo-horizontal-color-path3: "\ea61";
$xiiber-logo-horizontal-color-path4: "\ea62";
$xiiber-logo-horizontal-color-path5: "\ea63";
$xiiber-logo-horizontal-color-path6: "\ea64";
$xiiber-logo-horizontal-color-path7: "\ea65";
$xiiber-logo-horizontal-color-path8: "\ea66";
$xiiber-logo-horizontal-color-path9: "\ea67";
$xiiber-logo-horizontal-color-path10: "\ea68";
$xiiber-logo-horizontal-color-path11: "\ea69";
$xiiber-logo-horizontal-color-path12: "\ea6a";
$logo-xiiber-2021c: "\ea56";
$xiiber-circular-blanco-azul-path1: "\f5c5";
$xiiber-circular-blanco-azul-path2: "\f5c6";
$xiiber-circular-blanco-azul-path3: "\f5c7";
$xiiber-logo-circular-rojo-negro-path1: "\f5d1";
$xiiber-logo-circular-rojo-negro-path2: "\f5d2";
$xiiber-logo-circular-rojo-negro-path3: "\f5d3";
$xiiber-recomienda-negro-curvas: "\f5d4";
$ico: "\f0b5";
$xiiber-circular: "\f5c3";

