nav.mobile-accordion-multiplesteps
  ul
    li
      a(href="#") First Level
    li
      a(href="#") Level Two +
      ul
        li
          a(href="#") Level 2.1
        li
          a(href="#") Level Two.2 +
          ul
            li
              a(href="#") Level 2.two.1
            li
              a(href="#") Level Two.2.2
            li
              a(href="#") Level 2.2.three
            li
              a(href="#") Level 2.two.four
        li
          a(href="#") Level 2.three
        li
          a(href="#") Level Two.four
    li
      a(href="#") Third Item
    li
      a(href="#") Item Four