@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

$playColor: #1db954;
$playColorlight: #14e95e;
$backgroundColorLight: #121212;
$backgroundColor: #000;
$controlStrip: #242424;
$fontColor: #b3b3b3;
$highlightColor: #fff;
$activeTab: #f0f0f028;
$boxBorder: #f0f0f019;
$shadow: 0px 0px 15px rgba(2, 2, 2, 0.2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #1db954 0%,
    #85faae 100.2%
  );
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// CONTENT
.device {
  &.device::-webkit-scrollbar {
    width: 12px;
  }
  &.device::-webkit-scrollbar-track {
    background: $backgroundColorLight;
    border-radius: 5px;
  }
  &.device::-webkit-scrollbar-thumb {
    background-color: $playColorlight;
    border-radius: 20px;
    border: 2px solid $backgroundColorLight;
  }
  position: relative;
  width: 75vw;
  max-height: 75vh;
  background-color: $backgroundColorLight;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  color: $fontColor;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  border-radius: 10px 10px 0 0;

  // SIDEBAR
  aside {
    background-color: $backgroundColor;
    width: 225px;
    min-height: 500vh;
    padding: 0 6px;
    padding-top: 24px;
    .logo {
      width: 100%;
      margin-bottom: 18px;
      padding-left: 24px;
      img {
        width: 130px;
      }
    }

    .general-options,
    .playlist-options,
    .playlists {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .playlist-options {
      margin-top: 15px;
      span {
        padding: 8px 0;
        padding-left: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .playlists {
      border-top: 1px solid $activeTab;
      margin-top: 5px;
      padding-top: 5px;
    }
  }

  .option {
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
    padding-left: 24px;
    display: flex;
    align-items: center;
    transition: color 0.1s ease;
    i {
      width: 40px;
      font-size: 20px;
    }
    &.active {
      background-color: $activeTab;
      border-radius: 4px;
      color: $highlightColor;
      text-shadow: $shadow;
    }
    &:hover {
      color: $highlightColor;
      text-shadow: $shadow;
    }
  }

  // MAIN AREA
  .container {
    flex: 1;
    padding: 10px 25px;

    // HEADER & PROFILE STRIP
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      height: 4vh;
      .head-btns {
        i {
          visibility: hidden;
          cursor: pointer;
          font-size: 1.1rem;
          background-color: $backgroundColor;
          color: $highlightColor;
          padding: 10px;
          border-radius: 50%;
        }
      }
      .profile {
        width: 130px;
        background-color: $backgroundColor;
        color: $highlightColor;
        font-size: 13px;
        font-weight: 600;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 18px;
        img {
          width: 28px;
          border-radius: 50%;
        }
        i {
          padding-bottom: 2px;
        }
      }
    }

    // MAIN DASHBOARD
    .collection-strip {
      width: 100%;
      margin-top: 10px;
      .title-strip {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        padding-right: 30px;
        button {
          cursor: pointer;
          background-color: transparent;
          border: none;
          color: $highlightColor;
          text-transform: uppercase;
          text-shadow: $shadow;
          letter-spacing: 1px;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
        h3 {
          color: $highlightColor;
          font-size: 1.4rem;
          text-shadow: $shadow;
        }
      }

      // COLLECTIONS
      .inner-strip {
        display: flex;
        flex-wrap: wrap;
        .box-item {
          position: relative;
          cursor: pointer;
          margin-top: 18px;
          width: 180px;
          height: 250px;
          margin-left: 20px;
          background-color: $boxBorder;
          border-radius: 5px;
          color: $highlightColor;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 20px;
          .box-item__image {
            position: relative;
            width: 140px;
            height: 140px;
            img {
              width: 140px;
            }
          }
          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 12px;
          }
          &:hover {
            background-color: $controlStrip;
          }
        }
      }
    }
  }
}

// SONG CONTROL STRIP
.song-control {
  width: 75vw;
  padding: 25px 0;
  color: $highlightColor;
  background-color: $controlStrip;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  .song-control__inner {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .song-control__buttons {
      display: flex;
      align-items: center;
      i {
        cursor: pointer;
        font-size: 1rem;
        margin: 0 8px;
        transition: color 0.2s ease-out;
        &:nth-child(3) {
          font-size: 1.5rem;
        }
        &:hover {
          color: $playColorlight;
        }
      }
      margin-bottom: 10px;
    }
    .song-control__timeline {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.7rem;
      .timeline {
        position: relative;
        width: 400px;
        height: 4px;
        background-color: #646464;
        border-radius: 50px;
        .timeline-fill {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 310px;
          height: 4px;
          background-color: $playColorlight;
          border-radius: 50px;
        }
      }
    }
  }
}

// BREAKPOINTS
@media (max-width: 800px) {
  .song-control {
    .song-control__inner {
      width: 270px;
      .song-control__timeline {
        .timeline {
          width: 200px;
          .timeline-fill {
            width: 160px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .device {
    aside {
      display: none;
    }
    .container {
      header {
        .head-btns {
          i {
            visibility: visible;
          }
        }
      }
      .collection-strip {
        .inner-strip {
          align-items: center;
          justify-content: center;
        }
      }
    }
    .song-control {
      .song-control__close {
        display: none;
      }
    }
  }
}
