* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        
        body {
            position: relative;
        }
        
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            z-index: 33;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 48px 64px;
        }
        
        .logo {
            width: 100px;
        }
        
        .logo-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 48px 64px;
            z-index: 11;
        }
        
        .footer-item {
            font-size: 14px;
            color: rgba(#000000, 0.6)
        }
        
        .user {
            display: flex;
            align-items: center;
        }
        
        .user-profile-icon,
        .cart-icon {
            width: 25px;
            height: 25px;
            object-fit: cover;
        }
        
        .cart {
            margin-left: 20px;
        }
        
        .animate-item {
            transition: all .3s;
        }
        
        .background-image {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        .background-image:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            background-color: rgba(255, 255, 255, .6);
            height: 100vh;
            backdrop-filter: blur(50px);
            z-index: 11;
        }
        
        .background-image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: all .3s;
        }
        
        .hero-wrapper {
            width: 100%;
            height: 100vh;
            display: block;
            margin: auto;
            overflow: hidden;
        }
        
        .swiper-slide-active {
            justify-content: center;
        }
        
        .swiper-slide-active .product {
            background-color: #ffffff;
            opacity: 1;
        }
        
        .swiper-slide-next .product {
            margin-left: -15%;
            filter: blur(7px);
        }
        
        .swiper-slide-next .product__content {
            opacity: 0;
            transform: scale(1.2);
            transition: all .3s;
        }
        
        .swiper-slide-next .product__banner {
            box-shadow: none;
        }
        
        .swiper-slide-prev .product {
            opacity: 1;
            filter: blur(10px);
        }
        
        .swiper-slide {
            position: relative;
            height: 100vh;
            width: 100vw;
            perspective: 1000px;
            display: flex;
            align-items: center;
        }
        
        .product {
            position: relative;
            width: 500px;
            height: 600px;
            border-radius: 50px;
            transform-style: preserve-3d;
            transition: transform .2s linear;
        }
        
        .product__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateZ(80px);
        }
        
        .product__banner {
            width: 100%;
            height: 100%;
            padding: 20px;
            box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
        }
        
        .product__banner img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        .product__organic-logo {
            position: absolute;
            right: -15px;
            top: -15px;
            width: 90px;
            height: 90px;
            object-fit: cover;
        }
        
        .product__title {
            position: absolute;
            left: -5px;
            top: 45px;
            font-size: 2em;
            font-weight: 700;
            color: #242323;
            text-transform: uppercase;
        }
        
        .product__description {
            position: absolute;
            left: -5px;
            bottom: 45px;
            font-size: 14px;
            font-weight: 300;
            opacity: 1;
            width: 200px;
        }
        
        .product__price {
            position: absolute;
            bottom: 45px;
            right: 5px;
            font-weight: 700;
        }
        
        @media screen and (max-width: 992px) {
            .swiper-slide-next .product {
                margin-left: unset;
                opacity: 0;
            }
        }
        
        @media screen and (max-width: 576px) {
            .footer,
            .header {
                padding: 12px 20px;
            }
            .footer-item {
                font-size: 12px;
            }
            .swiper-slide {
                perspective: none;
                width: auto;
                padding: 20px;
            }
            .swiper-wrapper {
                width: 100%;
            }
            .product {
                width: 100%;
                height: auto;
                border-radius: 20px;
            }
            .product__content {
                position: relative;
                transform: translateZ(0px);
                height: 100px;
                width: calc(100% - 40px);
                margin-left: 20px;
            }
            .product__banner {
                padding: 12px;
                border-radius: 20px;
                box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.08);
                height: 320px;
            }
            .product__title {
                left: 0;
                top: -16px;
                font-size: 1.4em;
            }
            .product__description {
                left: 0;
                bottom: 15px;
                font-size: 12px;
                width: 180px;
            }
            .product__organic-logo {
                right: 0;
                top: -30px;
                width: 60px;
                height: 60px;
                object-fit: contain;
            }
            .product__price {
                bottom: 15px;
                right: 0px;
            }
            .background-image img {
                object-fit: cover;
            }
        }