html,body{
  color: #9E9E9E;
  background-color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
}

#maintitle{
  margin-bottom: 50px;
  padding: 10px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 40px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
#cHolder{
  max-width: 500px;
  margin: auto;
}
#cBreak, #cWork{
  max-width: 150px;
  padding: 20px;
}

.inner_holder{
  margin: auto;
  overflow: auto;
  width: 350px;
}
.cbut{
  background: none;
  border: none;
}

#clock{
  padding: 20px;
  padding-top: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  max-width: 500px;
  margin: auto;
  border-radius: 2px;
  background-color: #fff;
  font-size: 150px;
  transition: all 0.2s ease;
}

#clock:hover{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	-moz-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#clock.inactive{
  color: #9E9E9E;  
}
.work-time{
  color: #e91e63;
}
.break-time{
  color: green;
}

#clock b{
  font-size: 20px;
}

.accent{
  background-color: #e91e63;
}

.center{
  text-align: center;
}

.top-space{
  margin-top: 20px;
  text-align: right;
}

.floating-button{
  position: absolute; bottom: 20px; right: 5%;
}

.pop-down{
  margin-bottom: -35px;
}

.round-button{
  color: #fff;
  height: 70px;
  width: 70px;    
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  border: none;  
  transition: all 0.2s ease;
}

.round-button:active{
  width: 60px;
  height: 60px;
  background-color: #c2185b;
}

.round-button:hover{
  width: 80px;
  height: 80px;
  margin-top: -10px;
}

.fa-fw {
  width: 2em;
  color: #BADFFF;
}

.fa-fw:hover {
  color: #fff;
}