.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.container-fluid {
  overflow-x: hidden;
  overflow-y: visible;
}
.headmenu .nav-item {
  cursor: pointer;
  z-index: 9;
}
.headmenu .nav-link {
  padding: 0.5rem 1.35rem 0.5rem 0;
}
.social {
  float: right;
}
.navbar-brand img {
  max-height: 70px;
}
.jumbotron {
  background-image: url("img/eso0514-20220831.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.headmenu {
  float: right;
  width: 100%;
  background: #4caf50;
}
.headmenu ul {
  float: right;
  max-width: 50%;
  font-size: 12px;
  color: #cacaca;
}
.headmenu ul a {
  color: #e8e8e8;
}
.headmenu:after {
  transition: all 0.5s ease-in;
  opacity: 0.5;
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.02) 37%,
    rgba(0, 0, 0, 0.19) 99%,
    rgba(0, 0, 0, 0.22) 100%
  );
}
.perfilselect {
  cursor: pointer;
}
.perfilselect h4,
.perfilselect .circle {
  transition: all 0.5s ease;
}
.perfilselect:hover .circle {
  width: 115px;
  margin-top: -15px;
}
.perfilselect:hover h4 {
  color: #5a6764;
}
.badge-success.novedades {
  padding: 3rem 3rem 3rem 1rem !important;
}
.badge-pink {
  color: #fff;
  background-color: #e91e63;
}
.badge-pink:hover {
  background-color: #ab3e63;
}
.badge-deepblue {
  color: #fff;
  background-color: #253162;
}
.area.badge-info:hover {
  background-color: #28c8e2 !important;
}
.badge-deepblue:hover {
  background-color: #3f51b5;
}
.badge-lightblue {
  color: #fff;
  background-color: #009688;
}
.badge-lightblue:hover {
  background-color: #00bcd4;
}
.badge-purple {
  color: #fff;
  background-color: #591558;
}
.badge-purple:hover {
  background-color: #7d3a7c;
}
.areasyproyectos a.area:hover {
  color: white;
  text-decoration: none;
}
.areasyproyectos .area:after {
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  position: absolute;
  content: "";
  width: 100%;
  height: 90px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.02) 37%,
    rgba(0, 0, 0, 0.19) 99%,
    rgba(0, 0, 0, 0.22) 100%
  );
}
.areasyproyectos .area {
  /*   padding: 2rem 1rem 5rem 1rem!important;*/
  position: relative;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1.09em;
  font-family: "Lato";
  font-weight: 700;
  height: 90px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.area:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.accesosrapidos li {
  cursor: pointer;
  color: #01cee8;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.accesosrapidos li:hover {
  color: #e6e6e6;
}
.proyectos .card {
  box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  -moz-box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  transition: box-shadow 0.25s ease;
  width: 23%;
}
.card {
  border: 0;
  width: 24%;
  height: 320px;
  max-height: 320px;
  cursor: pointer;
  float: left;
  margin-left: 20px;
}
.proyectos .card {
  height: 260px;
  max-height: 260px;
}
.card-text {
  color: #565656;
  overflow: hidden;
  opacity: 0;
  text-overflow: ellipsis;
  font-size: 0.85em;
  -moz-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.novedades .card:hover .card-img-top {
  height: 90px;
}
.card-img-top {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 170px;
  position: relative;
}
.card .card-img-top:after {
  transition: all 0.5s ease-in;
  opacity: 0.5;
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.02) 37%,
    rgba(0, 0, 0, 0.19) 99%,
    rgba(0, 0, 0, 0.22) 100%
  );
}
.card:hover .card-img-top:after {
  opacity: 1;
}
.card-subtitle {
  color: #000000; 
  font-size: 0.7em;
  background: #f5f1f1;
  display: inline-block;
  padding: 1px 5px;
  margin-bottom: 10px;
}
.proyectos .card-subtitle,
.proyectos .card-text {
  display: none;
}
.proyectos .card-title {
  font-size: 1.1rem;
  color: #505050;
  padding-bottom: 5px;
  border: 0px solid #cacaca;
}
.proyectos .card:hover .card-title {
  border-bottom: 3px solid #cacaca;
}
.novedades .card:hover .card-text {
  opacity: 1;
  display: block !important;
}
.card-body {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.card-title {
  color: #2d2727;
  font-size: 1.24rem;
}
.circle {
  background: #4caf50;
  border: 0px solid #4caf50;
  display: inline-block;
  width: 100px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  -moz-box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.5);
  transition: box-shadow 0.25s ease;
}

.circle:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.circle > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  position: absolute;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s;
}

.circle > img.tallAndNarrow {
  width: 100%;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  left: 0;
  height: auto;
}

.circle > img {
  opacity: 1;
}

.jumbotron-overlay {
  background: rgba(0, 0, 0, 0.4);
}
.jumbotron {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.container-fluid {
  padding: unset;
  overflow-y: hidden;
}
.dropdown-toggle::after {
  margin-left: 0.455em;
  vertical-align: 0.355em;
  font-size: 12px;
}
.navbar-nav li.nav-item {
  padding: 0 8px;
}
.btn.btn-primary {
  border: 0px solid #7ae201;
  background: #4caf50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #176619,
    #155717
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4caf50,
    #155717
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-primary.focus,
.btn-primary:focus,
.form-control:focus {
  border-color: #c7c7c7;
  box-shadow: 0 0 0 0.2rem #8bc34a61;
}
.dropdown {
  position: initial;
}
.dropdown-menu {
  position: absolute;
  width: 100vw;
  height: 80vh;
  margin: -1px -10px;
}
.dropdown-menu a {
  font-size: 0.8em;
}
@media (min-width: 600px) {
  a.navbar-brand img {
    max-height: 90px;
  }
}
@media (max-width: 600px) {
  form.form-inline.form-inline.ml-md-auto {
    width: 90%;
    margin: auto;
  }
  .headmenu .nav-link {
    padding: 0.5rem 0.8rem 0.5rem 0;
  }

  .headmenu ul {
    max-width: 100%;
    font-size: 11px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0.5rem 0rem !important;
  }
  .jumbotron-overlay {
    padding-left: 1.5rem !important;
  }
  .herotext h2 {
    font-size: 1.8rem;
  }

  .herotext {
    padding: 0 !important;
    width: 100% !important;
  }
  .perfilselect {
    padding: 15px 0;
  }
  .card {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .areas {
    padding: 0 !important;
  }
  .areasyproyectos h4.pt-4.px-5.text-muted {
    margin-bottom: 15px;
  }
  .areasyproyectos div > br {
    display: none;
  }
  .areasyproyectos h4 {
    padding: 1rem 0 !important;
  }
  .areasyproyectos h3 {
    padding: 2rem 0 1rem !important;
  }
  .areasyproyectos .area {
    height: 5.5em !important;
    padding-top: 15px !important;
    padding: 0.7rem 0.5rem 5rem 1rem !important;
  }
  .proyectos .px-5 {
    padding: 0 !important;
  }

  .proyectos .card {
    width: 50% !important;
    float: left;
    margin: 0;
    padding: 5px;
    box-shadow: none;
    position: relative;
  }

  .proyectos {
    margin: 0 -3rem !important;
  }
}


.fc {
  font-family: Roboto Condensed, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-image: url(img/leaves.jpg);
  background-color: #2b5a33;
  background-size: cover;
  padding: 1em 2em 2em;
}

.fc-r1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
}

.fc-r2 {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1em;
  letter-spacing: 0.64em;
  color: #1d6152;
  background-color: #fff;
  display: inline-block;
  margin-top: -0.7em;
  padding: 0.65em 0 0.65em 0.7em;
}

.ybile {
  color: #fffeec;
  font-family: Montserrat, sans-serif;
  text-align: center;
  background: #f1cf63 url(http://tobiasahlin.com/images/typesource/bike.png) no-repeat center bottom/38% 30%;
  line-height: 3em;
  padding-top: 1.5em;
  padding-bottom: 8em;
  text-transform: uppercase;
}

.ybile-r1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1em;
  font-family: Lora;
  font-style: italic;
  display: inline-block;
  position: relative;
  text-transform: lowercase;
}

.ybile-r2 {
  font-weight: 200;
  font-size: 4.8em;
  line-height: 1em;
  margin: 0;
}

.ybile-r3 {
  font-weight: 200;
  font-size: 3em;
  line-height: 1.1em;
  margin: 0;
}

.ybile-r1:before,
.ybile-r1:after {
  background: url(http://tobiasahlin.com/images/typesource/arrow.svg) no-repeat center center/5em 0.5em;
  content: "";
  left: -5.8em;
  position: absolute;
  width: 2.5em;
  height: 1.25em;
}

.ybile-r1:after {
  left: auto;
  right: -5.8em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.asog {
  color: #fff;
  text-align: center;
  background-image: url(http://tobiasahlin.com/images/typesource/mountains.jpg);
  background-size: cover;
  background-color: #f0ae93;
  font-family: PT Sans, sans-serif;
  line-height: 3em;
  padding-top: 5em;
  padding-bottom: 7em;
}

.asog-r1 {
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0;
}

.asog-r2 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7em;
  display: inline-block;
  position: relative;
  mix-blend-mode: overlay;
  margin: 0;
}

.asog-r2:before,
.asog-r2:after {
  background: url(http://tobiasahlin.com/images/typesource/leaves.svg) no-repeat center center/2.5em 0.7em;
  content: "";
  left: -3em;
  top: -0.3em;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
}

.asog-r2:after {
  left: auto;
  right: -3em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.thosm {
  font-family: Oswald, sans-serif;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #48a0dd;
  padding-top: 2em;
  padding-bottom: 4em;
}

.thosm-r1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1em;
  color: #87caed;
  display: inline-block;
  position: relative;
}

.thosm-r2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
}

.thosm-r3 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1.1em;
  color: #f1cf63;
  margin: 0;
}

.thosm-r1:before,
.thosm-r1:after {
  width: 2.5em;
  height: 1.4em;
  content: "";
  background: url(http://tobiasahlin.com//images/typesource/meatball-ornament.svg) no-repeat center center/2.5em 1.4em;
  position: absolute;
  top: -0.1em;
  left: -2.8em;
}

.thosm-r1:after {
  right: -2.8em;
  left: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.iwcp {
  color: #fff;
  text-align: center;
  background-color: #fd774c;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  line-height: 3em;
  padding-top: 5.5em;
  padding-bottom: 6.5em;
}

.iwcp-r1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

.iwcp-divider {
  background: url(http://tobiasahlin.com/images/typesource/banner.svg) no-repeat center center/20em 0.8em;
  font-size: 1.5em;
  height: 0.5em;
  border: 0;
  margin: 0;
  margin-bottom: -1.4em;
}

.iwcp-r2 {
  font: italic 400 1.3em/1.3em Playfair Display, sans-serif;
  text-transform: lowercase;
  padding: 0 0.5em;
  position: relative;
  background-color: inherit;
  display: inline-block;
}

.iwcp-r3 {
  font-size: 2.43em;
  font-weight: 700;
  margin: 0;
  margin-top: -0.4em;
}

.iwcp-r4 {
  font-size: 2.2em;
  margin: -0.3em 0 0;
  font-weight: 700;
}
.sos {
  color: #f1cf63;
  background-color: #343434;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  line-height: 3em;
  padding-top: 4em;
  padding-bottom: 5em;
}

.sos-r1 {
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.1em;
}

.sos-prep {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: italic;
  font-size: 0.5em;
  vertical-align: middle;
  margin-top: -0.4em;
  display: inline-block;
}

.hcc {
  color: #fff;
  text-align: center;
  background-image: url(http://tobiasahlin.com/images/typesource/climate.jpg);
  background-size: cover;
  font-family: Merriweather, serif;
  font-weight: 300;
  padding-top: 4em;
  padding-bottom: 2.5em;
}

.hcc-r1 {
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 700;
  line-height: 0.9em;
  margin: 0;
}

.hcc-r2 {
  font-size: 3.1em;
  line-height: 1em;
  font-weight: 100;
  font-style: italic;
  background-color: #fff;
  color: #31321c;
  margin-top: -0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
  margin: 0;
}

.hcc-r3 {
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: 600;
  margin-top: 0.3em;
  line-height: 1em;
}

.navbtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 3px rgb(255, 255, 255);
  z-index: 5;
  display: flex;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
}

.navbtn__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;  
  text-decoration: none;
  -webkit-tap-highlight-color: white;
  transition: background-color 0.1s ease-in-out;
}


.navbtn__icon {
  font-size: 18px;
}