@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/majormonodisplay/v12/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRhLCg.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.canvas-container {
  height: 100vh;
  width: 100vw;
  background: #104;
}
.fake-ui {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3vmin;
  text-align: center;
  width: 100%;
}
@media (max-width: 400px) {
  .fake-ui {
    font-size: 16px;
  }
}
.fake-ui > .text {
  font-family: 'Major Mono Display', monospace;
  color: #86b;
}
.fake-ui > .progressbar {
  height: 0.5em;
  width: 20em;
  max-width: 90%;
  background: linear-gradient(to right, #205 0%, #316 75%, #000 75%, #000 100%);
  border-radius: 0.5em;
  margin: 1em auto 0;
}