$icomoon-font-family: "LuisAngelMaciel" !default;
$icomoon-font-path: "fonts" !default;

$icon-avatar-path1: "\e900";
$icon-avatar-path2: "\e901";
$icon-avatar-path3: "\e902";
$icon-avatar-path4: "\e903";
$icon-pokebola: "\e904";
$icon-tepozspa-locker: "\e905";
$icon-tepozspa-vestidor: "\e906";
$icon-xiiber-logo-horizontal-color-path1: "\e907";
$icon-xiiber-logo-horizontal-color-path2: "\e908";
$icon-xiiber-logo-horizontal-color-path3: "\e909";
$icon-xiiber-logo-horizontal-color-path4: "\e90a";
$icon-xiiber-logo-horizontal-color-path5: "\e90b";
$icon-xiiber-logo-horizontal-color-path6: "\e90c";
$icon-xiiber-logo-horizontal-color-path7: "\e90d";
$icon-xiiber-logo-horizontal-color-path8: "\e90e";
$icon-xiiber-logo-horizontal-color-path9: "\e90f";
$icon-xiiber-logo-horizontal-color-path10: "\e910";
$icon-xiiber-logo-horizontal-color-path11: "\e911";
$icon-xiiber-logo-horizontal-color-path12: "\e912";
$icon-xiiber-travel-log-path1: "\e913";
$icon-xiiber-travel-log-path2: "\e914";
$icon-xiiber-travel-log-path3: "\e915";
$icon-xiiber-travel-log-path4: "\e916";
$icon-xiiber-travel-log-path5: "\e917";
$icon-xiib: "\f0b5";
$icon-logo-dragvesti: "\f257";
$icon-logo-dragvesti-negro: "\ea4f";
$icon-logo-dragvesti-blanco-letras: "\ea50";
$icon-viajero: "\ea68";
$icon-bus: "\ea6c";
$icon-ayuda: "\ea72";

