@import "compass/css3";

body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #ffeac3;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}