body {
  background: #72B565;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  height: 70px;
  white-space: nowrap;
}

.focus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 2px;
  filter: blur(3px);
  font-size: 65px;
  opacity: 0.6;
  color: #fff;
}

.mask {
  position: absolute;
  left: -5px;
  top: -2px;
  width: 70px;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 65px;
  clip: rect(0px, 70px, 75px, 0px);
  background: linear-gradient(#fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat;
  background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
  color: #fff;
  padding: 5px;
  transform: translateX(0);
  box-sizing: border-box;
  -webkit-animation: mask 2.5s ease infinite alternate;
          animation: mask 2.5s ease infinite alternate;
}

.text {
  transform: translateX(0);
  -webkit-animation: text 2.5s ease infinite alternate;
          animation: text 2.5s ease infinite alternate;
}

@-webkit-keyframes mask {
  to {
    transform: translateX(980px);
  }
}

@keyframes mask {
  to {
    transform: translateX(980px);
  }
}
@-webkit-keyframes text {
  to {
    transform: translateX(-980px);
  }
}
@keyframes text {
  to {
    transform: translateX(-980px);
  }
}