$small: 520px;
$medium: 768px;
$large: 1216px;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700, 900');

$secondaryColor: #657685;
$borderColor: #e6ecf1;
$redColor: #e0245e;
$blueColor: #1ca0f3;

*, *:after, *:before {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #e6ecf1;
  font-family: 'Roboto', sans-serif;
  color: #13171b;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0,0,0,0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 780px;
  position: relative;
  margin: 30px auto;  
  // Scale so that the iPhone fits in view
  transform: scale(.8);
}

.iphone-top {
  padding: 5px 110px 25px;
  position: relative; 
  .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728;
  }
  
  .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333;
  }
  
  .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%;
  }
}

.top-bar, .bottom-bar {
  display: block;
  width: 423px;
  height: 15px;
  border: {
    left: 5px solid #BBB;
    right: 5px solid #BBB;
  }
  position: absolute;
  left: -5px;
}
.top-bar {
  top: 65px;
}

.bottom-bar {
  bottom: 65px;
}

.iphone-screen {
  position: relative;
  background-color: #FFF;
  height: 640px;
  width: 375px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);

  .app {
    position: relative;
    height: 100%;
  }

  .loading {
    background: $blueColor;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .fa-twitter {
      color: #FFF;
    }
  }
}

.iphone-buttons {
  .on-off, .up, .down, .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px;
  }
  .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px;
  }
  
  .up, .down, .sleep {
    height: 60px;
    width: 5px;
    left: -10px;
  }
  
  .up {
    top: 170px;
  }
  
  .down {
    top: 250px;
  }
  
  .sleep {
    left: auto;
    right: -10px;
    top: 170px;    
    border-radius: 0px 2px 2px 0px;
  }
}

.iphone-bottom {
  padding: 7px 0 0;
  span {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 34px;
      height: 34px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 3px;
      top: 3px;
    }
  }
}

.phone-header {
  height: 50px;
  width: 375px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  text-align: center;

  p {
    font-weight: 900;
    font-size: 19px;
    padding-top: 11px;
  }
  
  .img-1 {
    max-width: 35px;
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 99px;
  }

  .img-2 {
    max-width: 30px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
  }
  
  .fa-times {
    color: #1ca0f3;
    font-size: 25px;
    position: absolute;
    top: 12px;
    left: 20px;
    cursor: pointer;
  }
  
  .button.is-primary {
    background-color: $blueColor;
    border-radius: 12px;
    position: absolute;
    top: 12px;
    right: 20px;
  }

  .cancel-cta,
  .next-cta {
    position: absolute;
    top: 12px;
    color: #209cee;
    font-weight: bold;
    cursor: pointer;
  }

  .cancel-cta {
    left: 10px;
  }

  .next-cta {
    right: 10px;
  }
}

.feed {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -15px;
  
  .tweet {
    padding: 10px;
    border-bottom: 1px solid $borderColor;

    .user-image {
      border-radius: 99px;
    }
    
    .verified-icon {
      width: 15px;  
    }

    p {
      font-size: 16px;
    }

    small {
      color: $secondaryColor;
    }
    
    .description .highlighted {
      color: $blueColor;      
    }

    .tweet-image img {
      border-radius: 10px;
      padding-bottom: 5px;
    }

    .level-left .level-item {
      margin-right: 3rem;
      color: $secondaryColor;
      cursor: initial;
    }
  
    .level-left .level-item.heart {
      cursor: pointer;
      color: $blueColor;
    }

    .level-left p {
      padding-left: 4px;
      font-size: 13px;
      color: $blueColor;
    }

    .level-left .fa-heart.fas {
      color: $redColor;
    }

    .level-left p.bold {
      color: $redColor;
    }
  }
  
  .tweet:last-of-type {
    margin-bottom: 85px;
  }
}

.make-tweet {
  padding: 15px;
  position: relative;
  height: 100%;

  .img-1 {
    max-width: 35px;
    border-radius: 99px;
    position: relative;
    top: -45px;
  }
  
  .caption-container {
    display: inline-block;
    position: relative;
    width: 80%;
    top: 10px;
    left: 5px;
    height: 15%;
 
    textarea {
      border: 0;
      font-size: 1.0rem;
      resize: none;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #eeeeee;
    }
    
    i {
      position: absolute;
      width: 1px;
      height: 30%;
      background-color: $blueColor;
      left: 0px;
      top: -2px;
      animation-name: blink;
      animation-duration: 2500ms;
      animation-iteration-count: infinite;
      opacity: 1;      
    }

    textarea:focus {
      outline: 0;
    }
  }
  
  .text-limit {
    font-size: 11px;
    margin-left: 45px;
    padding-top: 10px;
    
    span.right {
      float: right;
      padding-right: 20px;
    }
    
    span.highlighted {
      color: $blueColor;
      font-weight: 600;
    }
  }

  .caption-container textarea:focus + i {
    display: none;
  }
  
  .image-container {
    position: relative;
    padding-top: 10px;
    width: 90%;
    margin-left: 40px;
    
    .fa-times-circle {
      position: absolute;
      top: 15px;
      right: 5px;
      cursor: pointer;
    }
  }
  
  .image-container img {
    border-radius: 10px;
  }
}

.phone-footer {
  height: 35px;
  width: 375px;
  position: absolute;
  bottom: 0;
  background: #FFF;
  border-top: 1px solid #eeeeee;
  z-index: 99;
  
  .step-1 {
    .home-cta {
      position: absolute;
      left: 10px;
      top: 6px;
      cursor: pointer;
      color: $secondaryColor;
    }
  
    .upload-cta {
      position: absolute;
      right: 10px;
      top: 6px;
      color: $secondaryColor;
      p {
        font-size: 0.63rem;
        position: absolute;
        left: -25px;
        top: 5px;
      }
    } 
  }

  .step-2 {
    .home-cta {
      position: absolute;
      left: 10px;
      top: 6px;
      cursor: pointer;
      color: $blueColor;
    }
    
    .upload-cta {
      position: absolute;
      right: 10px;
      top: 6px;
      cursor: pointer;
      color: $blueColor;  
    }
    
    .helper-text {
      font-size: 11px;
      position: absolute;
      right: 40px;
      top: 7.5px;
    }
  }

  input[name="file"] {
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    z-index: 99;
  }
}

.details {
  position: absolute;
  left: 10px;
  bottom: 10px;
  li {
    font-size: 0.8rem;
    span {
      font-weight: bold;
    }
  }
}

.footer-contact {
  position: absolute;
  right: 10px;
  bottom: 10px;
  .fa-twitter {
    color: #209cee;
    font-size: 2.0rem;
    &:hover {
      color: #1496ed;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

// Media Queries
@media(max-width: $small) {
  #app {
    height: 100% !important;
    padding-top: 0 !important;
  }

  .app__phone,
  .app__phone__scroll__cover {
    height: 100%;
    width: 100%;
  }

  .phone-header,
  .phone-footer {
    width: 100%;
  }
}

@media(max-width: $large) and (max-height: $small) {
  .iphone {
    transform: scale(.5);
  }
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

