body {
 background-color: #216BB6;
 overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

body,
html {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

svg {
 max-width: 100%;
 height: 100%;
 visibility: hidden;
 
}
.bush {
 opacity: 0.2;
}