@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
body {
  font-family: "Helvetica", sans-serif;
  height: 100vh;
  background: linear-gradient(#e53935 0%, #eea849 100%);
}

.name-tag {
  position: relative;
  margin: 90px auto;
  height: 240px;
  width: 350px;
  background: #fff;
  border-radius: 10px;
  transform: rotate(-3deg);
}

.hello {
  height: 80px;
  width: 340px;
  background: #0E9BD6;
  text-align: center;
  color: #fff;
  border: 5px solid #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#hello {
  margin-top: 8px;
  font-weight: 600;
  font-size: 33px;
  letter-spacing: 10px;
}

#my-name-is {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

.underbar {
  position: absolute;
  top: 198px;
  left: 5px;
  height: 37px;
  width: 340px;
  background: #0E9BD6;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px 0 0 0;
}
form button {
  position: absolute;
  top: 198px;
  left: 5px;
  height: 37px;
  width: 340px;
  background: #0E9BD6;
  color: #fff;
  font-weight: 600;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 0;
  transition: all 0.2s;
}
form button:active {
  outline: none;
}
form input[type=text], form input[type=email] {
  width: 300px;
  font-family: "Gochi Hand", cursive;
  text-align: center;
  border: 0;
  outline: none;
}
form input[type=text]:valid, form input[type=text]:focus, form input[type=email]:valid, form input[type=email]:focus {
  border: 0;
}
form input[type=text] {
  font-size: 35px;
}
form input[type=email] {
  font-size: 28px;
  margin-top: 7px;
}

.greeting {
  display: none;
  height: 100px;
  font-size: 35px;
  font-weight: 200;
  color: #fff;
  text-align: center;
}
.greeting span {
  font-weight: 600;
}