body {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

.content {
    position: relative;
    display: block;
    width: 300px;
    height: 500px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.content .screens {
    position: relative;
    display: block;
    width: 200%;
    height: 100%;
}

.content .screen {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: 100%;
}

.content .stickerpack header {
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-top: 30px;
    border-bottom: solid 2px #eaeaea;
}

.content .stickerpack header .tray {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover, cover;
    background-repeat: no-repeat;
}

.content .stickerpack header h1 {
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content .stickerpack header p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', serif;
    color: #696969;
}

.content .stickerpack main {
    position: relative;
    display: block;
    width: 100%;
    height: calc(500px - 152px);
    overflow: hidden
}

.content .stickerpack main .stickers {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.content .stickerpack main .stickers .sticker {
    position: relative;
    display: block;
    float: left;
    width: calc(33% - 10px);
    height: 100px;
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content .stickerpack main .stickers .sticker:last-child {
    margin-bottom: 90px;
}

.content .stickerpack footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.content .stickerpack footer .button {
    position: relative;
    display: block;
    width: calc(100% - 10px);
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #00ab93;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    color: #fafafa;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto', serif;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
}

.content .stickerpack footer .button img {
    position: relative;
    display: inline-block;
    top: 5px;
}

.content .download {
    padding-top: 20%;
}

.content .download .logo {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-image: url("../images/sticker-studio.png");
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .download h1 {
    margin: 0;
    font-family: 'Roboto', serif;
    font-size: 17px;
    text-align: center;
}

.content .download p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', serif;
    color: #696969;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.content .download .downloadBtn {
    position: relative;
    display: block;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-image: url('../images/harold-pc.jpg');
    background-position: center;
}

.error h1 {
    padding-top: 45vh;
    margin: 0;
    text-align: center;
    color: #000;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .content {
        position: relative;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        border-radius: 4px;
        overflow: hidden;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    }

    .content .screens {
        position: relative;
        display: block;
        width: 200vw;
        height: 100%;
    }

    .content .screen {
        position: relative;
        display: block;
        float: left;
        width: 100vw;
        height: 100%;
    }

    .content .stickerpack header {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
        background-color: #f0f0f0;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        padding-top: 30px;
    }

    .content .stickerpack header .tray {
        position: relative;
        display: block;
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .content .stickerpack header h1 {
        margin: 0;
        text-align: center;
        font-size: 17px;
        font-family: 'Roboto', serif;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .content .stickerpack header p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-family: 'Roboto', serif;
        color: #696969;
    }

    .content .stickerpack main {
        position: relative;
        display: block;
        width: 100%;
        height: calc(100vh - 152px);
    }

    .content .stickerpack main .stickers {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .content .stickerpack main .stickers .sticker {
        position: relative;
        display: block;
        float: left;
        width: calc(33% - 10px);
        height: 160px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-size: 95px;
    }

    .content .stickerpack footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .content .stickerpack footer .button {
        position: relative;
        display: block;
        width: calc(100% - 10px);
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        background-color: #00ab93;
        border-radius: 4px;
        text-align: center;
        line-height: 50px;
        color: #fafafa;
        font-size: 14px;
        text-decoration: none;
        font-family: 'Roboto', serif;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    }

    .content .download {
        padding-top: 20%;
    }

    .content .download .logo {
        position: relative;
        display: block;
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover, cover;
        background-repeat: no-repeat;
        background-image: url("../images/sticker-studio.png");
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content .download h1 {
        margin: 0;
        font-family: 'Roboto', serif;
        font-size: 17px;
        text-align: center;
    }

    .content .download p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-family: 'Roboto', serif;
        color: #696969;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content .download .downloadBtn {
        position: relative;
        display: block;
        width: 170px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 475px) {
    .content .stickerpack main .stickers .sticker {
        height: 120px;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}