carousel {
  width: 100%;
  text-align: center;
  font-family: Trebuchet MS;
  display: block;
  font-size: 6vmin;
}
carousel page {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: scale(0);
}
carousel page div {
  padding: 3em;
}
carousel page label {
  cursor: pointer;
  background: #d9ff4f;
  padding: 1em 2em;
}
carousel #page1cb:checked ~ #page1 {
  transform: scale(1);
}
carousel #page2cb:checked ~ #page2 {
  transform: scale(1);
}
carousel #page3cb:checked ~ #page3 {
  transform: scale(1);
}
carousel #page4cb:checked ~ #page4 {
  transform: scale(1);
}
carousel #page5cb:checked ~ #page5 {
  transform: scale(1);
}