* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  background: #333;
}
img{
  max-width:100%;
}
.wrapper {
  position: relative;
  height: 100%;
}

pre {
  max-width: 30em;
  display: block;
  background: #1f1f1f;
  color: white;
  padding: 0.5em;
  border: 1px solid black;
  word-break: break-all;
  word-wrap: break-word;
}


/* box */

.box-left {
  width: 10rem;
  height: 100%;
  float: left;
  margin: 9;
  padding: 0.5rem;
  background: #333;
  font-size:12px;
}

.box-right {
  position: relative;
  width: calc(100% - 10rem);
  height: calc(100% - 5em);
  float: left;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.5rem;
  background: #fdfdfd;
  overflow-y: auto;
}


/* left boxes */

.box-left div {
  display: block;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 0.2em;
  text-align: center;
  line-height: 2rem;
  background: #1f1f1f;
  border: 1px solid #252525;
  color: white;
  cursor: all-scroll;
}

.box-left div:hover. .box-left div:focus {
  background: #222;
}

.reset,
.save {
  text-align: right;
  padding: 0.5em 1em;
  background: #1f1f1f;
  border: 1px solid #252525;
  color: white;
  margin: 0.8em 0.2em;
  cursor: pointer;
}

.reset:hover,
.save:hover,
.reset:focus,
.save:focus {
  background: #222;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: blue !important;
  display: block !important;
  padding: 0.5rem !important;
  text-align: center !important;
  line-height: 2rem !important;
  border: 1px solid red !important;
  color: white !important;
  overflow:hidden;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background: blue !important;
  line-height:1.2em;
  min-height:5em;
}