.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-0 {
  margin: 0 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-x-0 {
  margin-right: 0;
  margin-left: 0;
}

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-05 {
  margin: 5px 5px;
}

.m-t-05 {
  margin-top: 5px;
}

.m-r-05 {
  margin-right: 5px;
}

.m-b-05 {
  margin-bottom: 5px;
}

.m-l-05 {
  margin-left: 5px;
}

.m-x-05 {
  margin-right: 5px;
  margin-left: 5px;
}

.m-y-05 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-1 {
  margin: 10px 10px;
}

.m-t-1 {
  margin-top: 10px;
}

.m-r-1 {
  margin-right: 10px;
}

.m-b-1 {
  margin-bottom: 10px;
}

.m-l-1 {
  margin-left: 10px;
}

.m-x-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.m-y-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-15 {
  margin: 15px 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-x-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.m-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-2 {
  margin: 20px 20px;
}

.m-t-2 {
  margin-top: 20px;
}

.m-r-2 {
  margin-right: 20px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.m-l-2 {
  margin-left: 20px;
}

.m-x-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.m-y-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-3 {
  margin: 30px 30px;
}

.m-t-3 {
  margin-top: 30px;
}

.m-r-3 {
  margin-right: 30px;
}

.m-b-3 {
  margin-bottom: 30px;
}

.m-l-3 {
  margin-left: 30px;
}

.m-x-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.m-y-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-4 {
  margin: 40px 40px;
}

.m-t-4 {
  margin-top: 40px;
}

.m-r-4 {
  margin-right: 40px;
}

.m-b-4 {
  margin-bottom: 40px;
}

.m-l-4 {
  margin-left: 40px;
}

.m-x-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.m-y-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-5 {
  margin: 50px 50px;
}

.m-t-5 {
  margin-top: 50px;
}

.m-r-5 {
  margin-right: 50px;
}

.m-b-5 {
  margin-bottom: 50px;
}

.m-l-5 {
  margin-left: 50px;
}

.m-x-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.m-y-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-8 {
  margin: 80px 80px;
}

.m-t-8 {
  margin-top: 80px;
}

.m-r-8 {
  margin-right: 80px;
}

.m-b-8 {
  margin-bottom: 80px;
}

.m-l-8 {
  margin-left: 80px;
}

.m-x-8 {
  margin-right: 80px;
  margin-left: 80px;
}

.m-y-8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.p-0 {
  padding: 0 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-x-0 {
  padding-right: 0;
  padding-left: 0;
}

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-05 {
  padding: 5px 5px;
}

.p-t-05 {
  padding-top: 5px;
}

.p-r-05 {
  padding-right: 5px;
}

.p-b-05 {
  padding-bottom: 5px;
}

.p-l-05 {
  padding-left: 5px;
}

.p-x-05 {
  padding-right: 5px;
  padding-left: 5px;
}

.p-y-05 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-1 {
  padding: 10px 10px;
}

.p-t-1 {
  padding-top: 10px;
}

.p-r-1 {
  padding-right: 10px;
}

.p-b-1 {
  padding-bottom: 10px;
}

.p-l-1 {
  padding-left: 10px;
}

.p-x-1 {
  padding-right: 10px;
  padding-left: 10px;
}

.p-y-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-15 {
  padding: 15px 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-2 {
  padding: 20px 20px;
}

.p-t-2 {
  padding-top: 20px;
}

.p-r-2 {
  padding-right: 20px;
}

.p-b-2 {
  padding-bottom: 20px;
}

.p-l-2 {
  padding-left: 20px;
}

.p-x-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.p-y-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-3 {
  padding: 30px 30px;
}

.p-t-3 {
  padding-top: 30px;
}

.p-r-3 {
  padding-right: 30px;
}

.p-b-3 {
  padding-bottom: 30px;
}

.p-l-3 {
  padding-left: 30px;
}

.p-x-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.p-y-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-4 {
  padding: 40px 40px;
}

.p-t-4 {
  padding-top: 40px;
}

.p-r-4 {
  padding-right: 40px;
}

.p-b-4 {
  padding-bottom: 40px;
}

.p-l-4 {
  padding-left: 40px;
}

.p-x-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.p-y-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-5 {
  padding: 50px 50px;
}

.p-t-5 {
  padding-top: 50px;
}

.p-r-5 {
  padding-right: 50px;
}

.p-b-5 {
  padding-bottom: 50px;
}

.p-l-5 {
  padding-left: 50px;
}

.p-x-5 {
  padding-right: 50px;
  padding-left: 50px;
}

.p-y-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-8 {
  padding: 80px 80px;
}

.p-t-8 {
  padding-top: 80px;
}

.p-r-8 {
  padding-right: 80px;
}

.p-b-8 {
  padding-bottom: 80px;
}

.p-l-8 {
  padding-left: 80px;
}

.p-x-8 {
  padding-right: 80px;
  padding-left: 80px;
}

.p-y-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

[fontsize="0"] {
  font-size: 0px !important;
}

[fontsize="1"] {
  font-size: 1px !important;
}

[fontsize="2"] {
  font-size: 2px !important;
}

[fontsize="3"] {
  font-size: 3px !important;
}

[fontsize="4"] {
  font-size: 4px !important;
}

[fontsize="5"] {
  font-size: 5px !important;
}

[fontsize="6"] {
  font-size: 6px !important;
}

[fontsize="7"] {
  font-size: 7px !important;
}

[fontsize="8"] {
  font-size: 8px !important;
}

[fontsize="9"] {
  font-size: 9px !important;
}

[fontsize="10"] {
  font-size: 10px !important;
}

[fontsize="11"] {
  font-size: 11px !important;
}

[fontsize="12"] {
  font-size: 12px !important;
}

[fontsize="13"] {
  font-size: 13px !important;
}

[fontsize="14"] {
  font-size: 14px !important;
}

[fontsize="15"] {
  font-size: 15px !important;
}

[fontsize="16"] {
  font-size: 16px !important;
}

[fontsize="17"] {
  font-size: 17px !important;
}

[fontsize="18"] {
  font-size: 18px !important;
}

[fontsize="19"] {
  font-size: 19px !important;
}

[fontsize="20"] {
  font-size: 20px !important;
}

[fontsize="21"] {
  font-size: 21px !important;
}

[fontsize="22"] {
  font-size: 22px !important;
}

[fontsize="23"] {
  font-size: 23px !important;
}

[fontsize="24"] {
  font-size: 24px !important;
}

[fontsize="25"] {
  font-size: 25px !important;
}

[fontsize="26"] {
  font-size: 26px !important;
}

[fontsize="27"] {
  font-size: 27px !important;
}

[fontsize="28"] {
  font-size: 28px !important;
}

[fontsize="29"] {
  font-size: 29px !important;
}

[fontsize="30"] {
  font-size: 30px !important;
}

[fontsize="31"] {
  font-size: 31px !important;
}

[fontsize="32"] {
  font-size: 32px !important;
}

[fontsize="33"] {
  font-size: 33px !important;
}

[fontsize="34"] {
  font-size: 34px !important;
}

[fontsize="35"] {
  font-size: 35px !important;
}

[fontsize="36"] {
  font-size: 36px !important;
}

[fontsize="37"] {
  font-size: 37px !important;
}

[fontsize="38"] {
  font-size: 38px !important;
}

[fontsize="39"] {
  font-size: 39px !important;
}

[fontsize="40"] {
  font-size: 40px !important;
}

[fontsize="41"] {
  font-size: 41px !important;
}

[fontsize="42"] {
  font-size: 42px !important;
}

[fontsize="43"] {
  font-size: 43px !important;
}

[fontsize="44"] {
  font-size: 44px !important;
}

[fontsize="45"] {
  font-size: 45px !important;
}

[fontsize="46"] {
  font-size: 46px !important;
}

[fontsize="47"] {
  font-size: 47px !important;
}

[fontsize="48"] {
  font-size: 48px !important;
}

[fontsize="49"] {
  font-size: 49px !important;
}

[fontsize="50"] {
  font-size: 50px !important;
}

[fontsize="51"] {
  font-size: 51px !important;
}

[fontsize="52"] {
  font-size: 52px !important;
}

[fontsize="53"] {
  font-size: 53px !important;
}

[fontsize="54"] {
  font-size: 54px !important;
}

[fontsize="55"] {
  font-size: 55px !important;
}

[fontsize="56"] {
  font-size: 56px !important;
}

[fontsize="57"] {
  font-size: 57px !important;
}

[fontsize="58"] {
  font-size: 58px !important;
}

[fontsize="59"] {
  font-size: 59px !important;
}

[fontsize="60"] {
  font-size: 60px !important;
}

[fontsize="61"] {
  font-size: 61px !important;
}

[fontsize="62"] {
  font-size: 62px !important;
}

[fontsize="63"] {
  font-size: 63px !important;
}

[fontsize="64"] {
  font-size: 64px !important;
}

[fontsize="65"] {
  font-size: 65px !important;
}

[fontsize="66"] {
  font-size: 66px !important;
}

[fontsize="67"] {
  font-size: 67px !important;
}

[fontsize="68"] {
  font-size: 68px !important;
}

[fontsize="69"] {
  font-size: 69px !important;
}

[fontsize="70"] {
  font-size: 70px !important;
}

[fontsize="71"] {
  font-size: 71px !important;
}

[fontsize="72"] {
  font-size: 72px !important;
}

[fontsize="73"] {
  font-size: 73px !important;
}

[fontsize="74"] {
  font-size: 74px !important;
}

[fontsize="75"] {
  font-size: 75px !important;
}

[fontsize="76"] {
  font-size: 76px !important;
}

[fontsize="77"] {
  font-size: 77px !important;
}

[fontsize="78"] {
  font-size: 78px !important;
}

[fontsize="79"] {
  font-size: 79px !important;
}

[fontsize="80"] {
  font-size: 80px !important;
}

[fontsize="81"] {
  font-size: 81px !important;
}

[fontsize="82"] {
  font-size: 82px !important;
}

[fontsize="83"] {
  font-size: 83px !important;
}

[fontsize="84"] {
  font-size: 84px !important;
}

[fontsize="85"] {
  font-size: 85px !important;
}

[fontsize="86"] {
  font-size: 86px !important;
}

[fontsize="87"] {
  font-size: 87px !important;
}

[fontsize="88"] {
  font-size: 88px !important;
}

[fontsize="89"] {
  font-size: 89px !important;
}

[fontsize="90"] {
  font-size: 90px !important;
}

[fontsize="91"] {
  font-size: 91px !important;
}

[fontsize="92"] {
  font-size: 92px !important;
}

[fontsize="93"] {
  font-size: 93px !important;
}

[fontsize="94"] {
  font-size: 94px !important;
}

[fontsize="95"] {
  font-size: 95px !important;
}

[fontsize="96"] {
  font-size: 96px !important;
}

[fontsize="97"] {
  font-size: 97px !important;
}

[fontsize="98"] {
  font-size: 98px !important;
}

[fontsize="99"] {
  font-size: 99px !important;
}

[fontsize="100"] {
  font-size: 100px !important;
}

[fontsize="101"] {
  font-size: 101px !important;
}

[fontsize="102"] {
  font-size: 102px !important;
}

[fontsize="103"] {
  font-size: 103px !important;
}

[fontsize="104"] {
  font-size: 104px !important;
}

[fontsize="105"] {
  font-size: 105px !important;
}

[fontsize="106"] {
  font-size: 106px !important;
}

[fontsize="107"] {
  font-size: 107px !important;
}

[fontsize="108"] {
  font-size: 108px !important;
}

[fontsize="109"] {
  font-size: 109px !important;
}

[fontsize="110"] {
  font-size: 110px !important;
}

[fontsize="111"] {
  font-size: 111px !important;
}

[fontsize="112"] {
  font-size: 112px !important;
}

[fontsize="113"] {
  font-size: 113px !important;
}

[fontsize="114"] {
  font-size: 114px !important;
}

[fontsize="115"] {
  font-size: 115px !important;
}

[fontsize="116"] {
  font-size: 116px !important;
}

[fontsize="117"] {
  font-size: 117px !important;
}

[fontsize="118"] {
  font-size: 118px !important;
}

[fontsize="119"] {
  font-size: 119px !important;
}

[fontsize="120"] {
  font-size: 120px !important;
}

[fontsize="121"] {
  font-size: 121px !important;
}

[fontsize="122"] {
  font-size: 122px !important;
}

[fontsize="123"] {
  font-size: 123px !important;
}

[fontsize="124"] {
  font-size: 124px !important;
}

[fontsize="125"] {
  font-size: 125px !important;
}

[fontsize="126"] {
  font-size: 126px !important;
}

[fontsize="127"] {
  font-size: 127px !important;
}

[fontsize="128"] {
  font-size: 128px !important;
}

[fontsize="129"] {
  font-size: 129px !important;
}

[fontsize="130"] {
  font-size: 130px !important;
}

[fontsize="131"] {
  font-size: 131px !important;
}

[fontsize="132"] {
  font-size: 132px !important;
}

[fontsize="133"] {
  font-size: 133px !important;
}

[fontsize="134"] {
  font-size: 134px !important;
}

[fontsize="135"] {
  font-size: 135px !important;
}

[fontsize="136"] {
  font-size: 136px !important;
}

[fontsize="137"] {
  font-size: 137px !important;
}

[fontsize="138"] {
  font-size: 138px !important;
}

[fontsize="139"] {
  font-size: 139px !important;
}

[fontsize="140"] {
  font-size: 140px !important;
}

[fontsize="141"] {
  font-size: 141px !important;
}

[fontsize="142"] {
  font-size: 142px !important;
}

[fontsize="143"] {
  font-size: 143px !important;
}

[fontsize="144"] {
  font-size: 144px !important;
}

[fontsize="145"] {
  font-size: 145px !important;
}

[fontsize="146"] {
  font-size: 146px !important;
}

[fontsize="147"] {
  font-size: 147px !important;
}

[fontsize="148"] {
  font-size: 148px !important;
}

[fontsize="149"] {
  font-size: 149px !important;
}

[fontsize="150"] {
  font-size: 150px !important;
}

[fontsize="151"] {
  font-size: 151px !important;
}

[fontsize="152"] {
  font-size: 152px !important;
}

[fontsize="153"] {
  font-size: 153px !important;
}

[fontsize="154"] {
  font-size: 154px !important;
}

[fontsize="155"] {
  font-size: 155px !important;
}

[fontsize="156"] {
  font-size: 156px !important;
}

[fontsize="157"] {
  font-size: 157px !important;
}

[fontsize="158"] {
  font-size: 158px !important;
}

[fontsize="159"] {
  font-size: 159px !important;
}

[fontsize="160"] {
  font-size: 160px !important;
}

[fontsize="161"] {
  font-size: 161px !important;
}

[fontsize="162"] {
  font-size: 162px !important;
}

[fontsize="163"] {
  font-size: 163px !important;
}

[fontsize="164"] {
  font-size: 164px !important;
}

[fontsize="165"] {
  font-size: 165px !important;
}

[fontsize="166"] {
  font-size: 166px !important;
}

[fontsize="167"] {
  font-size: 167px !important;
}

[fontsize="168"] {
  font-size: 168px !important;
}

[fontsize="169"] {
  font-size: 169px !important;
}

[fontsize="170"] {
  font-size: 170px !important;
}

[fontsize="171"] {
  font-size: 171px !important;
}

[fontsize="172"] {
  font-size: 172px !important;
}

[fontsize="173"] {
  font-size: 173px !important;
}

[fontsize="174"] {
  font-size: 174px !important;
}

[fontsize="175"] {
  font-size: 175px !important;
}

[fontsize="176"] {
  font-size: 176px !important;
}

[fontsize="177"] {
  font-size: 177px !important;
}

[fontsize="178"] {
  font-size: 178px !important;
}

[fontsize="179"] {
  font-size: 179px !important;
}

[fontsize="180"] {
  font-size: 180px !important;
}

[fontsize="181"] {
  font-size: 181px !important;
}

[fontsize="182"] {
  font-size: 182px !important;
}

[fontsize="183"] {
  font-size: 183px !important;
}

[fontsize="184"] {
  font-size: 184px !important;
}

[fontsize="185"] {
  font-size: 185px !important;
}

[fontsize="186"] {
  font-size: 186px !important;
}

[fontsize="187"] {
  font-size: 187px !important;
}

[fontsize="188"] {
  font-size: 188px !important;
}

[fontsize="189"] {
  font-size: 189px !important;
}

[fontsize="190"] {
  font-size: 190px !important;
}

[fontsize="191"] {
  font-size: 191px !important;
}

[fontsize="192"] {
  font-size: 192px !important;
}

[fontsize="193"] {
  font-size: 193px !important;
}

[fontsize="194"] {
  font-size: 194px !important;
}

[fontsize="195"] {
  font-size: 195px !important;
}

[fontsize="196"] {
  font-size: 196px !important;
}

[fontsize="197"] {
  font-size: 197px !important;
}

[fontsize="198"] {
  font-size: 198px !important;
}

[fontsize="199"] {
  font-size: 199px !important;
}

[fontsize="200"] {
  font-size: 200px !important;
}

[lineheight="0"] {
  line-height: 0;
}

[lineheight="10"] {
  line-height: 1em !important;
}

[lineheight="11"] {
  line-height: 1.1em !important;
}

[lineheight="12"] {
  line-height: 1.2em !important;
}

[lineheight="13"] {
  line-height: 1.3em !important;
}

[lineheight="14"] {
  line-height: 1.4em !important;
}

[lineheight="15"] {
  line-height: 1.5em !important;
}

[lineheight="16"] {
  line-height: 1.6em !important;
}

[lineheight="17"] {
  line-height: 1.7em !important;
}

[lineheight="18"] {
  line-height: 1.8em !important;
}

[lineheight="19"] {
  line-height: 1.9em !important;
}

.d-inline-block {
  display: inline-block;
  vertical-align: top;
}

.w-auto {
  width: auto;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.width-100, .full-width, .w-100 {
  width: 100%;
}

.max-300 {
  max-width: 300px;
}

.min-100 {
  min-width: 100px;
}

.min-150 {
  min-width: 150px;
}

.w-100-50-sm {
  width: 100px;
}

.mw {
  max-width: 200px;
  overflow: hidden;
}

.w100-50-down {
  width: 100px;
}

.z--1 {
  z-index: -1;
}

/* ^ Can be replaced by Bootstrap 4 ^ */
.d-table, .d-true-table {
  display: table;
}

.d-table > *, .d-table-row > * {
  display: table-cell;
  vertical-align: middle;
}

.d-table-row {
  display: table-row;
}

.d-table-sm > *, .d-flex-sm, .d-block {
  display: block;
}

.d-flex, .d-flex-v-align, .d-flex-control {
  display: flex;
}

.d-flex > *, .flex-grow-1 {
  flex-grow: 1;
}

.d-flex-control {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.d-flex-v-align {
  align-items: stretch;
}

.d-flex-v-align > * {
  margin: auto;
}

.flex-height {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.v-align-t, .align-top, .table.v-align-t > tbody > tr > td {
  vertical-align: top;
}

.v-align-m, .align-middle {
  vertical-align: middle;
}

.v-align-b {
  vertical-align: bottom;
}

.br {
  border-radius: 5px;
}

.br-t {
  border-radius: 5px 5px 0 0;
}

.br-b {
  border-radius: 0 0 5px 5px;
}

.br-0 {
  border-radius: 0;
}

.relative, .square {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

small {
  font-size: 80% !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.border-l {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.square:before, .circle:before, [class^=circle-]:before, [class*=" circle-"]:before {
  content: "";
  padding-top: 100%;
  display: block;
}

.square > *, .abs-center, .circle > *, [class^=circle-] > *, [class*=" circle-"] > *, [class^=circle-] > * > *, [class*=" circle-"] > * > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.op0, .op-0 {
  opacity: 0;
}

.op025, .op-025 {
  opacity: 0.25;
}

.op05, .op-05 {
  opacity: 0.5;
}

.op09, .op-09 {
  opacity: 0.8;
}

.line-height-1 {
  line-height: 1 !important;
}

.shadow-b-10, .shadow-t-10 {
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: relative;
}

.shadow-t-10 {
  box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.1);
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

/*colours*/
/*colours*/
/*colours*/
.bg-white {
  background-color: #fff;
}

.bg-dark-025 {
  background-color: rgba(0, 0, 0, 0.025);
}

.bg-dark-05, .btn-default {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-grad-dark-05 {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.bg-dark-2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg-dark-1 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.bg-light-75 {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-light-95 {
  background-color: rgba(255, 255, 255, 0.95);
}

.bg-grey {
  background: #F3F3F3;
}

.hide {
  display: none;
}

[font="1"] {
  font-family: "Arial";
}

[font="2"] {
  font-family: "Comic Sans MS";
}

[font="3"] {
  font-family: "Courier New";
}

[font="4"] {
  font-family: "Impact";
}

[font="5"] {
  font-family: "Tahoma";
}

[font="6"] {
  font-family: "Times New Roman";
}

[font="7"] {
  font-family: "Trebuchet MS";
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html, body, main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

textarea, input, select, button, [contenteditable] {
  border: none;
  padding: 0;
  outline: none;
  background: none;
  border-radius: inherit;
}

button {
  cursor: pointer;
}

page {
  margin: auto;
  max-width: 21cm;
  width: 100%;
  position: relative;
}

page > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

page:before {
  content: "";
  padding-top: 141%;
  display: block;
}

button, input[type=checkbox] ~ *,
input[type=radio] ~ *,
input,
select {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 10px rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

button:hover,
button:focus,
input[type=checkbox] ~ *:hover,
input[type=checkbox] ~ *:focus,
input[type=radio] ~ *:hover,
input[type=radio] ~ *:focus,
input:hover,
select:hover {
  box-shadow: inset 0 0 0 60px rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

input[type=checkbox]:checked ~ *, input[type=radio]:checked ~ * {
  box-shadow: inset 0 0 0 60px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

[texti=yes] {
  font-style: italic;
}

[textb=yes] {
  font-weight: bold;
}

[textalign=left] {
  text-align: left;
}

[textalign=centre] {
  text-align: center;
}

[textalign=right] {
  text-align: right;
}

[columns="2"] {
  width: 50%;
}

[columns="2"]:nth-of-type(2) {
  left: 50%;
}

[columns="3"] {
  width: 33.3333333333%;
}

[columns="3"]:nth-of-type(2) {
  left: 33.3333333333%;
}

[columns="3"]:nth-of-type(3) {
  left: 66.6666666667%;
}

[columns="4"] {
  width: 25%;
}

[columns="4"]:nth-of-type(2) {
  left: 25%;
}

[columns="4"]:nth-of-type(3) {
  left: 50%;
}

[columns="4"]:nth-of-type(4) {
  left: 75%;
}

content, row, row > * {
  height: 100%;
  width: 100%;
}

row, row > * {
  position: absolute;
  top: 0;
  left: 0;
}

[positioner]:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.25);
  background: rgba(0, 0, 0, 0.05);
}

[positioner] {
  padding: 15px;
  resize: both;
  cursor: move;
}

[textframe] {
  background: #fff;
}