body {
    padding: 3rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

pre {
  background: #f9f9f9;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
}

input {
  box-sizing: border-box;
  display: block;
  padding: 0.5rem;
}
label {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
label > input {
  margin-left: 0.5rem;
}

main > * {
  margin-bottom: 0.5rem;
  width: 100%;
}

a {
  color: hotpink;
  font-size: 1rem;
  text-decoration: none;
}