* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 1em 5em;
  max-width: 50em;
  margin: 1em auto;
}

form {
  margin-bottom: 2em;
}

.form__fields {
  padding: 0;
  border: none;
  margin-bottom: 2em;
}

.field {
  margin-bottom: 1.5em;
}
.field label {
  display: block;
  font-size: 0.75em;
  line-height: 1em;
  padding: 0.25em 0;
  font-weight: bold;
}
.field input[type=text],
.field input[type=url],
.field textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #272727;
  color: #555;
}

.form__footer {
  margin-top: 1em;
}
.form__footer input {
  display: block;
  background: #eee;
  text-align: center;
}

.block-list {
  display: block;
  list-style-type: none;
  padding: 0;
}
.block-list li {
  padding-bottom: 0.5em;
}

label input {
  margin-right: 0.25em;
  margin-top: -4px;
  vertical-align: middle;
}

#generated-code {
  border-top: 1px solid #272727;
  padding: 2em 0;
}

.code-to-copy {
  width: 100%;
  min-height: 25em;
  padding: 1em;
  font-size: 0.85em;
}

.code-in-action a {
  display: block;
}