h1 404
.cloak__wrapper
  .cloak__container
    .cloak
.info
  h2 We can't find that page
  p.
    Well... That's a bummer... but it’s probably like.. the internet is broken or something..
  a(href="https://tylerjdoyle.myportfolio.com" target="_blank" rel="noreferrer noopener") Home