.thosm {
  font-family: Oswald, sans-serif;
  line-height: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #48a0dd;
  padding-top: 2em;
  padding-bottom: 4em;
}

.thosm-r1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1em;
  color: #87caed;
  display: inline-block;
  position: relative;
}

.thosm-r2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
}

.thosm-r3 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1.1em;
  color: #f1cf63;
  margin: 0;
}

.thosm-r1:before,
.thosm-r1:after {
  width: 2.5em;
  height: 1.4em;
  content: "";
  background: url(http://tobiasahlin.com//images/typesource/meatball-ornament.svg) no-repeat center center/2.5em 1.4em;
  position: absolute;
  top: -0.1em;
  left: -2.8em;
}

.thosm-r1:after {
  right: -2.8em;
  left: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}