.iwcp {
  color: #fff;
  text-align: center;
  background-color: #fd774c;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  line-height: 3em;
  padding-top: 5.5em;
  padding-bottom: 6.5em;
}

.iwcp-r1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

.iwcp-divider {
  background: url(http://tobiasahlin.com/images/typesource/banner.svg) no-repeat center center/20em 0.8em;
  font-size: 1.5em;
  height: 0.5em;
  border: 0;
  margin: 0;
  margin-bottom: -1.4em;
}

.iwcp-r2 {
  font: italic 400 1.3em/1.3em Playfair Display, sans-serif;
  text-transform: lowercase;
  padding: 0 0.5em;
  position: relative;
  background-color: inherit;
  display: inline-block;
}

.iwcp-r3 {
  font-size: 2.43em;
  font-weight: 700;
  margin: 0;
  margin-top: -0.4em;
}

.iwcp-r4 {
  font-size: 2.2em;
  margin: -0.3em 0 0;
  font-weight: 700;
}