.sos {
  color: #f1cf63;
  background-color: #343434;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  line-height: 3em;
  padding-top: 4em;
  padding-bottom: 5em;
}

.sos-r1 {
  font-size: 5em;
  font-weight: 900;
  line-height: 1.1em;
}

.sos-prep {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: italic;
  font-size: 0.5em;
  vertical-align: middle;
  margin-top: -0.4em;
  display: inline-block;
}