.hcc {
  color: #fff;
  text-align: center;
  background-image: url(http://tobiasahlin.com/images/typesource/climate.jpg);
  background-size: cover;
  font-family: Merriweather, serif;
  font-weight: 300;
  padding-top: 4em;
  padding-bottom: 2.5em;
}

.hcc-r1 {
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 700;
  line-height: 0.9em;
  margin: 0;
}

.hcc-r2 {
  font-size: 3.1em;
  line-height: 1em;
  font-weight: 100;
  font-style: italic;
  background-color: #fff;
  color: #31321c;
  margin-top: -0.1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
  margin: 0;
}

.hcc-r3 {
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: 600;
  margin-top: 0.3em;
  line-height: 1em;
}