body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 1px #fff;;
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#page {
  width: 70%;
  max-width: 600px;
  min-height: 4000px;
  margin: 8% auto 0;
  text-align: center;
}

h1, h2, p {
  margin: 2em 0;
}
h1 { font-size: 5em; }
h2 { font-size: 3em; }
p { font-size: 2em; }

a { color: #4040ff; text-decoration: none; }
a:hover { text-decoration: underline; }

@media screen and (max-width: 800px) {
	h1 { font-size: 4em; }
	h2 { font-size: 2em; }
	p { font-size: 1.5em; }
}