@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.wrap {
  width: 375px;
  height: 640px;
  background: #0D1019;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow: hidden;
}
.wrap .app {
  width: 375px;
  height: 640px;
  overflow-y: scroll;
}
.wrap .app .statusBar {
  position: fixed;
  z-index: 10;
}
.wrap .app header {
  padding: 25px 16px 0 16px;
}
.wrap .app header .notifHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .app header .notifHeader .userAvatar {
  width: 35px;
  height: 35px;
}
.wrap .app header .notifHeader .userAvatar img {
  border-radius: 50%;
  width: 100%;
  cursor: pointer;
}
.wrap .app header .notifHeader .options {
  text-align: right;
}
.wrap .app header .notifHeader .options i {
  width: 50px;
  color: #fff;
  cursor: pointer;
}
.wrap .app header .timeStamp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.wrap .app header .timeStamp .greet {
  color: #fff;
}
.wrap .app header .timeStamp .greet p {
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.wrap .app header .timeStamp .greet h1 {
  font-size: 40px;
  font-weight: 500;
}
.wrap .app header .timeStamp .dayIcon {
  width: 52px;
  height: 52px;
}
.wrap .app header .timeStamp .dayIcon i {
  font-size: 60px;
  margin-left: -5px;
  color: yellow;
}
.wrap .app .reminders {
  padding: 0 16px;
  color: #fff;
}
.wrap .app .reminders .halfWidth {
  display: flex;
  justify-content: space-between;
}
.wrap .app .reminders .halfWidth .todo {
  width: 48%;
  height: 160px;
  border-radius: 10px;
  position: relative;
}
.wrap .app .reminders .halfWidth .todo span {
  font-size: 72px;
  font-weight: 300;
  margin: 0 16px;
  line-height: 90px;
}
.wrap .app .reminders .halfWidth .todo .fa {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(, );
}
.wrap .app .reminders .halfWidth .todo p, .wrap .app .reminders .halfWidth .todo h4 {
  padding-left: 16px;
}
.wrap .app .reminders .halfWidth .todo .line {
  height: 2px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.wrap .app .reminders .halfWidth .todo h4 {
  font-weight: 600;
  line-height: 40px;
  cursor: pointer;
}
.wrap .app .reminders .halfWidth .todo:first-child {
  background: #FACE14;
}
.wrap .app .reminders .halfWidth .todo:last-child {
  background: #F21E60;
}
.wrap .app .reminders .fullWidth .todo {
  width: 100%;
  height: 160px;
  background: #8D4DE9;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}
.wrap .app .reminders .fullWidth .todo span {
  font-size: 72px;
  font-weight: 300;
  margin: 0 16px;
  line-height: 116px;
  float: left;
}
.wrap .app .reminders .fullWidth .todo .fa {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(, );
}
.wrap .app .reminders .fullWidth .todo p {
  padding-top: 72px;
}
.wrap .app .reminders .fullWidth .todo .line {
  height: 2px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3);
  clear: both;
}
.wrap .app .reminders .fullWidth .todo h4 {
  font-weight: 600;
  padding-left: 16px;
  line-height: 40px;
  cursor: pointer;
}
.wrap .app .publicActivity {
  width: 600px;
  height: auto;
  background: #1E1F27;
  margin: 16px 0;
  padding: 16px 0 16px 16px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}
.wrap .app .publicActivity .card {
  width: 240px;
  height: 160px;
  background: #fff;
  float: left;
  border-radius: 10px;
}
.wrap .app .publicActivity .card:first-child {
  margin-right: 16px;
}
.wrap .app .publicActivity .card .userAvatar {
  width: 32px;
  height: 32px;
  margin: 16px;
  margin-bottom: 10px;
  float: left;
}
.wrap .app .publicActivity .card .userAvatar img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .app .publicActivity .card .userName {
  margin-top: 25px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.wrap .app .publicActivity .card .text {
  clear: both;
  line-height: 24px;
  margin: 0 16px;
  font-size: 20px;
}
.wrap .app .publicActivity .card .line {
  height: 2px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.wrap .app .publicActivity .card .action .activityIcon {
  width: 42px;
  height: 42px;
  text-align: center;
  float: left;
}
.wrap .app .publicActivity .card .action .activityIcon i {
  line-height: 42px;
  color: #99cc66;
  cursor: pointer;
}
.wrap .app .publicActivity .card .action span {
  color: #99cc66;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  line-height: 42px;
}
.wrap .app .friends {
  width: 100%;
  height: 300px;
  padding: 0 16px;
  margin: 16px 0;
}
.wrap .app .friends .title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.wrap .app .friends .card {
  width: 100%;
  height: 422px;
  background: #fff;
  border-radius: 10px;
  margin-top: 16px;
}
.wrap .app .friends .card .cardCol {
  height: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.wrap .app .friends .card .cardCol:last-child {
  border-bottom: none;
}
.wrap .app .friends .card .cardCol .userAvatar {
  width: 30px;
  height: 30px;
  float: left;
  margin: 16px 16px 5px 16px;
}
.wrap .app .friends .card .cardCol .userAvatar img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .app .friends .card .cardCol .userName {
  padding-top: 26px;
  font-weight: 600;
  font-size: 14px;
}
.wrap .app .friends .card .cardCol span {
  float: right;
  margin: -15px 15px 0 0;
  font-size: 14px;
  cursor: pointer;
  color: #99cc66;
  font-weight: 600;
}
.wrap .app .friends .card .cardCol .activity {
  line-height: 24px;
  margin: 0 16px;
  font-size: 18px;
  clear: both;
  padding-bottom: 16px;
  opacity: 0.7;
}
.wrap .app .empty {
  width: 100%;
  height: 216px;
}
.wrap .tabs {
  width: 100%;
  height: 60px;
  background: #161724;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(, );
  display: flex;
  justify-content: space-between;
}
.wrap .tabs .tab {
  width: 25%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.wrap .tabs .tab:first-child {
  background: #0c0d14;
}
.wrap .tabs .tab:hover {
  background: #0c0d14;
}

@media screen and (max-width: 380px) {
  .wrap {
    width: 100vw;
    height: 100vh;
    background: #0D1019;
  }
  .wrap .app {
    width: inherit;
    height: inherit;
    overflow-x: hidden;
  }
}