@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

html {

  background: -webkit-linear-gradient(to top, #1a284f 0%, #2b1b37 100%);
  background: -moz-gradient(to top, #1a284f 0%, #2b1b37 100%);
  background: linear-gradient(to top, #1a284f 0%, #2b1b37 100%);
}

html, body {
  margin: 0;  overflow-x:hidden;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  justify-content: center;  
  align-content: center;
}

.keys {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
}

.key {
  border: .1rem solid #3697ca;
  border-radius: .8rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: .8rem .4rem;
  transition: all .07s ease;
  width: 9rem;
  text-align: center;
  color: #fff;
  background: transparent;
}

.playing {
  transform: scale(1.1);
  border-color: #7adcff;
  box-shadow: 0 0 1rem #7adcff;
  background: rgba(255,255,255,0.05);
}

.playing .sound {
  color: #7adcff;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sound {
  font-size: 1.35rem;  text-transform: uppercase;
  letter-spacing: .1rem;  color: #3697ca;}

.titulo { color: #7adcff;  font-size: 1.9rem;  text-transform: uppercase;
  letter-spacing: .0.6rem;   font-family: 'Poppins', sans-serif;
  font-weight: 600;   text-align: center; }

 .status {
      display: flex;
      align-items: center;
      /*font-family: Helvetica;*/
    }
    .status__light {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .status__light__ring {
      position: absolute;
      width: 18px;
      height: 18px;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      border: 3px solid #BADA55;
      border-radius: 30px;
    }
    @keyframes pulsate {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
      }
    }
    .status__light__led {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #BADA55;
      border-radius: 100%;
    }
    .status__message {
      margin-left: 10px;
    }   