#wrap
 -2.times do
  .grid
   -12.times do
    .cell
     .plant
      .stem
 .hair
  -6.times do
   .flower
    -10.times do
     .petal
 .neck
 .body
  -2.times do
   .arm
 .face
  -2.times do
   .brow
  .eye.left
  .eye.right
  .ear.left
  .ear.right
  .nose
  .mouth
   -2.times do
    .side

