
.middle-title {
    font-size: 3.6rem;
    font-weight: var(--font-weight-4);
    color: var(--color-white);
    margin-top: 0;
}
.big-title {
    font-size: 4.8rem;
    font-weight: var(--font-weight-7);
    color: var(--color-white);
    line-height: 56px;
    margin-top: 0;
}