.accordion {
  
  
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:# 99c2ff; 
}

.panel {
  padding: 0 18px;
  display: none;
  
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #A9A9A9;
    --text-secondary: #333333;
    --color-main: #ffffff;
    --color-main-2: # f2f2f2;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-special: #6649b8;
    --company-color: #A93226;
}

body {
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-special);
}

main {
    padding: 1.5rem;
}

.navbar {
    position: fixed;
    background-color: var(--color-main);
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-item .link-text {
    display: none;
    margin-left: 1rem;
}

.head {
    height: 3.5rem;
    position: fixed;
    background-color: var(--color-main);
    z-index: 9;
    top: 0;
    width: 100vw;
}

.head-nav {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.head-link svg {
    width: 1.25rem;
    margin: 0;
}

.head-logo-link svg {
    /* width: 1.35rem; */
    height: 19.2px;
    padding-left: .5rem;
}

.head-item:first-child {
    padding-left: 1.5rem;
}

.head-item:last-child {
    padding-right: 1.5rem;
}

.head-logo-link,
.head-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

.head-link {
    color: var(--text-primary);
}

.head-logo-link {
    /* color: var(--company-color); */
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--color-main-2);
    min-height: 100vh;
    padding-top: 3.5rem
}


/* Small screens */
@media only screen and (max-width: 700px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .desktop {
        display: none;
    }

    main {
        margin: 0;
        padding-bottom: 5rem;
    }

    .nav-link svg {
        min-width: 1rem;
        margin: 0 1.5rem 1rem;
    }

    .logo .link-text {
        display: none;
        margin-left: 0;
    }

    .nav-item .link-text {
        display: none;
        margin-left: 1rem;
    }

    .head-nav {
        justify-content: space-between;
    }

    /* overlay for mobile */
    .mm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 100ms ease-in-out;
        z-index: 30;
        width: 100%;
        max-width: 320px;
        height: 100%;
        max-height: 480px;
    }

    .mm.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .mm-h {
        height: 5rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-main);
        color: var(--text-secondary);
    }

    .mm-h-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-left: 0.5rem;
        font-weight: 700;
    }

    .mm-h-close svg {
        width: 1.25rem;
        margin: 0.5rem 1rem;
        color: var(--text-secondary);
    }

    .mm-b {
        min-height: 24.95rem;
    }

    .mm-b-nav {
        list-style: none;
        padding: 1.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .mm-b-nav-item {
        height: 3.5rem;
        min-width: 17rem;
    }
    
    .mm-b-nav-link {
        color: var(--text-secondary);
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mm-b-nav-link svg {
        width: 1.25rem;
        margin: 0 1.3rem 0 0;
    }

    .mm-b {
        width: 100%;
        background-color: var(--color-main-2);
        color: var(--text-secondary);
    }

    .overlay {
        position: fixed;
        opacity: 0;
        transition: 100ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 29;
        background-color: rgba(var(--rgba-overlay), 0.9);
        pointer-events: none;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }
}

/* Large screens */
@media only screen and (min-width: 701px) {
    main {
        margin-left: 15rem;
    }

    .navbar {
        width: 15rem;
        height: 100vh;
    }

    .navbar .link-text {
        display: block;
    }

    /* .logo .link-text {
        color: var(--company-color);
    } */

    .navbar-nav {
        flex-direction: column;
    }

    .head-item:first-child {
        padding-left: 16.5rem;
    }

    .mobile-menu,
    .mobile {
        display: none;
    }

    .nav-link {
        height: 3.5rem;
        color: var(--text-primary);
        text-decoration: none;
    }

    .nav-item .nav-link:hover {
        background-color: var(--color-nav-hover);
    }

    .nav-link svg {
        width: 1.1625rem; /*1.2*/
        margin: 0 .2rem 0 1.4rem;
    }

    .logo {
        height: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

    .logo .nav-link {
        padding-left: 1.4rem;
    }
}

.light {
    --text-primary: #A9A9A9;
    --text-secondary: #333333;
    --color-main: #ffffff;
    --color-main-2: #eeeeee;
    --color-nav-hover: #e5e5e5;
    --rgba-overlay: 224, 224, 224;
}

.dark {
    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
    --color-main: #212121;
    --color-main-2: #181818;
    --color-nav-hover: #383838;
    --rgba-overlay: 0, 0, 0;
}