@bgcolor: #333;
@valcolor: #ecf0f1;
@resultcolor: ;
@resetcolor: #e74c3c;
@size: 60px;
@radius: @size/10;
@buttoncolor: #2ecc71;

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

input {
  width: @size*3;
  height: @size;
  line-height: @size;
  font-size: @size*.8;
  text-align: center;
  border: 0;
  border: 4px solid @buttoncolor;
  background-color: @valcolor;
  border-radius: @radius;
  color: @bgcolor;
  font-family: 'Ubuntu Mono';
  
  &:focus {
    outline: 0;
  }
  &[disabled] {
    box-shadow: none;
    background-color: black;
    float: left;
    width: @size*5.3;
    border: 0;
    color: @buttoncolor;
  }
}

button {
  display: block;
  background-color: @buttoncolor;
  border: 0;
  border-radius: @radius;
  width: @size;
  height: @size;
  font-size: @size*.8;
  float: left;
  
  &:focus {
    outline: 0;
  }
  &.calc {
    margin-right: @size/10;
  }
  &.reset {
    background-color: @resetcolor;
    font-size: @size*.4;
    margin-left: @size/10;
  }
}

// GENERAL STYLE
html,body {height:100%;}
body {
  font-size: @size*.8;
  padding-top: 100px;
  background-color: @bgcolor;
  color: @valcolor;
  font-family: 'Ubuntu Mono';
}

body > div {
  clear: both;
  overflow: hidden;
  margin: 0 auto @size/5;
  width: @size*8;
}

h1 {
  font-size: @size*.3;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: @size;
}