body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    background: #eee;
    text-align: center;
}


/* basic */

#rand-images {
    position: relative;
    background: #eee;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    overflow: hidden;
}

#rand-images:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f55;
    background: rgba(10, 150, 10, 0.5);
    z-index: 99;
}

#rand-images h1,
#rand-images h2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: 400px;
    z-index: 100;
}

#rand-images h1 {
    font-size: 300%;
    padding: 5px;
}

#rand-images h2 {
    font-size: 250%;
    padding: 5px;
    top: 100px;
}