*,
:after,
:before {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #fff;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

.hideonload {
  opacity:0;
}
#heroslider {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 40vh;
  margin-top: 50px;
    background: #f5f5f5;

}
.heroslides {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://www.xbr.pw/600/400?image=337);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: background_image 15s infinite;
          animation: background_image 15s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heroslides::after {
  content: "Captions ONLY works in Chrome";
  font-size: 3vh;
  text-align: center;
  line-height: 24px;
  padding: .5em 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: text_overlay 15s infinite;
          animation: text_overlay 15s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: block;
  width: 100%;
}

@media screen and (max-width: 420px) {
  #heroslider {height: 20vh;}
  .heroslides::after {font-size: 4vw;}
}

@media screen and (min-width: 421px) and (max-width: 600px) {
  #heroslider {height: 30vh;}
  .heroslides::after {font-size: 3vw;}
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  #heroslider {height: 30vh;}
  .heroslides::after {font-size: 2.5vw;}
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
  #heroslider {height: 35vh;}
  .heroslides::after {font-size: 2vw;}
}

/* @keyframes */


/* background_slider */

@-webkit-keyframes background_image {
  0% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=337);
  }
  33.3% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=110);
  }
  66.6% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=212);
  }
}

@keyframes background_image {
  0% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=337);
  }
  33.3% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=110);
  }
  66.6% {
    opacity: 1;
    background-image: url(https://www.xbr.pw/600/400?image=212);
  }
}


/* //--------------------------- */

@-webkit-keyframes text_overlay {
  0% {
    content: "This is fullscreen background slider";
  }
  33.3% {
    content: "Pure CSS, no JS and another magic";
  }
  66.6% {
    content: "Some blablabla text. What can i do?";
  }
}

@keyframes text_overlay {
  0% {
    content: "This is fullscreen background slider";
  }
  33.3% {
    content: "Pure CSS, no JS and another magic";
  }
  66.6% {
    content: "Some blablabla text. What can i do?";
  }
}


/* background_slider */