/* go on then, styles go here.. knock yourself out! */
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html {
  height: 100%;
  background: #3498db;
}

body {
  height: 100%;
  font-size: 16px;
  position: relative;
}
body:after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: Roboto;
  color: white;
}

aside {
  width: 90%;
  background: transparent;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0);
  border-radius: 5px;
}
aside:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s all ease 0.25s;
}
aside:hover:before {
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: 0.3s top ease, 0.5s transform ease 0.25s;
}
aside:hover:after {
  opacity: 0;
}
aside:hover header a {
  transform: rotateX(0deg) scale(1);
  transition: 0.3s all ease 0.5s;
}
aside:hover header:before, aside:hover header:after {
  transform: translate3d(0, 0%, 0);
  transition: 0.3s all ease 0.8s;
}
aside:hover header h1 {
  opacity: 1;
  transition: 0.3s all ease 0.95s;
}
aside:hover header h2 {
  opacity: 1;
  transition: 0.3s all ease 1.1s;
}
aside:hover .profile-bio:before {
  width: 50px;
  transition: 0.3s all ease 1.25s;
}
aside:hover .profile-bio p {
  opacity: 1;
  transition: 0.3s all ease 1.4s;
}
aside:hover .profile-social-links li {
  transform: scale(1);
}
aside:hover .profile-social-links li:first-child {
  transition: 0.3s all ease 1.55s;
}
aside:hover .profile-social-links li:nth-child(2) {
  transition: 0.3s all ease 1.7s;
}
aside:hover .profile-social-links li:last-child {
  transition: 0.3s all ease 1.85s;
}
aside:before {
  content: "";
  position: absolute;
  width: 1500px;
  height: 1500px;
  background: white;
  border-radius: 50%;
  top: 90%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.025);
  animation: 0.5s bounce infinite alternate-reverse;
  transition: 0.5s transform ease;
}
aside:after {
  content: "";
  position: absolute;
  left: 160px;
  right: 160px;
  bottom: 0;
  height: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.3s opacity ease;
  animation: 0.5s shadow infinite alternate-reverse;
}
aside header {
  position: relative;
  display: block;
}
aside header:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 200px;
  background: url("https://www.luisangelmaciel.one/img/luisangelmaciel_400x400.webp") no-repeat;
  background-size: cover;
  transform: translate3d(0, -100%, 0);
}
aside header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -100%, 0);
}
aside header a {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 400;
  margin: 0 auto 100px;
  top: 50px;
  transform: rotateX(55deg) scale(0);
}
aside header a img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
aside header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 15px 0 5px;
  margin: 0;
  font-weight: 400;
  color: black;
  font-size: 1.75rem;
  opacity: 0;
}
aside header h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 0 20px;
  padding: 0 10px;
  font-size: 1rem;
  color: #555;
  opacity: 0;
}
aside .profile-bio {
  padding: 5px 20px;
  box-sizing: border-box;
  display: block;
  position: relative;
  opacity: 1;
  text-align: center;
}
aside .profile-bio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 150px;
  rigth: 150px;
  width: 0px;
  height: 1px;
  background: black;
}
aside .profile-bio p {
  line-height: 1.5;
  font-size: 0.95rem;
  font-weight: 300;
  color: #666;
  opacity: 0;
}
aside .profile-social-links {
  padding: 0 0 10px;
  list-style: none;
  text-align: center;
}
aside .profile-social-links li {
  display: inline-block;
  transform: scale(0);
}
aside .profile-social-links li a {
  display: block;
  width: 30px;
  margin: 0 5px;
}
aside .profile-social-links li a img {
  width: 100%;
}

@-webkit-keyframes bounce {
  from {
    top: 96%;
  }
  to {
    top: 85%;
  }
}

@keyframes bounce {
  from {
    top: 96%;
  }
  to {
    top: 85%;
  }
}
@-webkit-keyframes shadow {
  from {
    height: 5px;
  }
  to {
    height: 15px;
    transform: scale(0.5);
  }
}
@keyframes shadow {
  from {
    height: 5px;
  }
  to {
    height: 15px;
    transform: scale(0.5);
  }
}
.copyright {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-family: "Roboto";
}

.copyright span {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 10px;
  font-weight: 300;
}

.copyright span a {
  font-weight: 400;
  text-decoration: none;
  color: #ea4c89;
}

.copyright .balapa {
  width: 30px;
  height: 30px;
  display: block;
  background: url("https://www.luisangelmaciel.one/img/lamp-3.svg");
  background-size: cover;
  border-radius: 50%;
  /*border: 5px solid rgba(255, 255, 255, 0.75);*/
  float: right;
}