@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

$midGrey: #2e2e2e;
$darkGrey: #252525;
$green: #00ffb4;
$lightGrey:#4e4e4e;

$curve: cubic-bezier(0.23, 1, 0.32, 1);
  
$font: 'Share Tech Mono', monospace;

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}//@include keyframes


@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

body {
  background-color: $midGrey;
  font-family: $font;
}

a {
  text-decoration: none;
  color: $green;
}

.glitch-btn {
  display: inline-block;
  @include centerer;
  font-size: 80px;
  transition: all 0.8s $curve;
  color: #afafaf;
}


 .glitch-btn .mask {
      position: absolute;
      width: 100%;
      overflow: hidden;
      display: none;    
    }

.glitch-btn .mask span {
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%;
          top: -100%;
          
      }


.glitch-btn:hover {
  color: $lightGrey;
}
.glitch-btn:hover:before {
  background: $green;
  transform: translateX(120%) scaleX(3) scaleY(0.8);  
}

.glitch-btn:before {
  content: "";
  position: absolute;
  left: -15%;
  top: -50%;
  background: $lightGrey;
  width: 40%;
  height: 200%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s $curve;
}

.glitch-btn:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 108%;
  background: $green;
  width: 112%;
  height: 10%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s  $curve;
}

.glitch-btn:hover:after {
  background: $lightGrey;
  left: -5%;
  top: 108%;
  transform: translateX(-55%) translateY(-600%) rotate(90deg) scaleX(0.3);
}

.glitch-btn .mask1 {
  height: 20%;
  top: 19%; 
}

.glitch-btn .mask2 {
  height: 30%; 
  top: 35%;
}

.glitch-btn .mask3 {
  height: 57%;
  top: 63%;
}

.hidden {
  opacity: 0;
}


 .glitch-btn:hover .mask1 {
  animation: glitchin1 0.2s 0.3s both ;
 }
.glitch-btn:hover .mask2 {
  animation: glitchin2 0.2s 0.2s both ;
 }
.glitch-btn:hover .mask3 {
  animation: glitchin1 0.2s 0.2s both ;
 }
.glitch-btn:hover .hidden {
  animation: fade-in 0.1s 0.2s forwards;
}
.glitch-btn:hover .text {
  animation: fade-in 0.1s 0.2s forwards;
}
 .glitch-btn:hover .mask {
  display: block;
 }

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(glitchin1) {
  100% {
    opacity:0;        
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
            transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
            transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
            transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
            transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
            transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
            transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
            transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
            transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
            transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
            transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
            transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
            transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
            transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
            transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
            transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
            transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
            transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
            transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
            transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@include keyframes(glitchin2) {
  100% {
      opacity: 0;
      transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
            transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
            transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
            transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
            transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
            transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
            transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
            transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
            transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
            transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
            transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
            transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
            transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
            transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
            transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
            transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
            transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
            transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
            transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }
  
}