.pa4.sans-serif

  details.mw6.center.mb4
    summary.list.bl.bw3.b--red.pl1.dim.pointer
      .f6.ttu.gray.tracked Director
      .f2.ttu.fw9 John Doe
      
    p.f5.gray.lh-copy.measure Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
    
  details.mw6.center.mb4
    summary.list.bl.bw3.b--red.pl1.dim.pointer
      .f6.ttu.gray.tracked Manager
      .f2.ttu.fw9 Max Millian
      
    p.f5.gray.lh-copy.measure Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.