%header
  %nav.initially-hidden
    :plain
      <svg class="logo-top" version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         x="0px" y="0px" width="663.2px" height="137.7px" viewBox="0 0 663.2 137.7" style="enable-background:new 0 0 663.2 137.7;"
         xml:space="preserve">
      <style type="text/css">
        .st0{fill:#FFFFFF;}
      </style>
      <defs>
      </defs>
      <g>
        <polygon class="st0" points="71,35 49.9,108.8 49.6,108.8 29.1,35 0,35 35.6,135.1 63,135.1 98.7,35 	"/>
        <path class="st0" d="M185.2,115.5V61.3c0-24.7-25.5-29-39.5-29c-20.3,0-41.3,4.3-44.3,35h25.1c0.7-5.8,3-13.9,16-13.9
          c6.7,0,17.1,0.6,17.1,11.7c0,5.6-5,7.3-9.1,7.9l-23.5,3.6c-16.6,2.4-28.9,12.4-28.9,32c0,20.7,15.3,29.2,30.2,29.2
          c17.7,0,26.1-8.3,32-14.5c0.6,5.6,0.9,7.2,2.4,11.9h28.1v-4C187.8,130,185.2,127.4,185.2,115.5z M159.6,99.2
          c0,12.2-11.7,19.7-23.3,19.7c-5,0-12.1-2.8-12.1-12c0-10.9,8-13.4,17.7-15.1c10.8-1.7,15.1-3.4,17.7-5.5V99.2z"/>
        <rect x="611" y="116.3" class="st0" width="52.2" height="18.8"/>
        <rect x="200.8" y="0" class="st0" width="26.1" height="135.1"/>
        <path class="st0" d="M276.4,7.9h-26.1V35H237v18.8h13.4v60.8c0,13,4.1,21.6,26.6,21.6h3.4c4.1,0,8.2-0.2,12.3-0.4v-19.9
          c-1.9,0.2-3.7,0.4-5.4,0.4c-10.6,0-10.8-2.3-10.8-8.1V53.8h16.2V35h-16.2V7.9z"/>
        <path class="st0" d="M348.9,32.4c-43.4,0-47.5,38.6-47.5,50.6c0,41.2,21.4,54.8,49.4,54.8c16.9,0,36.7-7.9,43.6-32h-26.8
          c-2,7.1-9.5,10.9-16.8,10.9c-21.1,0-22.5-16.9-23.3-24.5h68v-4.7C395.5,41.8,368.5,32.4,348.9,32.4z M328.2,75.1
          c1.5-13.2,8-21.1,20.3-21.1c8.4,0,18.6,4.9,20.1,21.1H328.2z"/>
        <path class="st0" d="M449.9,54.6h1.3c11.2,0,14.9,9.8,16,16.2h26.4c-2.4-31.2-28.1-38.4-43.8-38.4c-33.5,0-47.5,23.1-47.5,55.5
          c0,21.1,8.6,49.9,45.8,49.9c36.3,0,44.3-28.8,45.3-39.1H467c0,4.7-4.5,17.5-17.7,17.5c-19.7,0-20.1-21.6-20.1-32.6
          C429.2,71.1,433.5,54.6,449.9,54.6z"/>
        <path class="st0" d="M560.3,32.4c-14.2,0-25.3,7.3-28.7,15.6h-0.4V0h-26.1v135.1h26.1V77.7c0-15.2,8.9-23.1,20.5-23.1
          c16.6,0,17,12.4,17,19.8v60.8h26.1V65.9C594.8,43.8,579.7,32.4,560.3,32.4z"/>
      </g>
      </svg>
    %div  
      %a.top-link{:href => '#', 'data-content' => 'donate'}
        An wen wir spenden
    
  %h2.animated.fadeIn.animate-3-s
    :plain
      <span id="upcount">
      <svg width="163px" height="111px" viewBox="0 0 163 111" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M5.1057081,89.4229266 C8.18455735,82.1043505 15.4525515,74.3568706 26.9099086,66.1802546 C36.8530775,59.0635702 43.2882806,53.9658799 46.2157111,50.8870306 C50.7078026,46.0921015 52.9538147,40.8429946 52.9538147,35.1395525 C52.9538147,30.4960422 51.6667741,26.6349203 49.0926542,23.556071 C46.5185343,20.4772218 42.8340651,18.9378202 38.0391359,18.9378202 C31.4776539,18.9378202 27.0108658,21.385721 24.6386377,26.2815961 C23.2758683,29.1080806 22.4683134,33.6001048 22.2159487,39.7578033 L1.2445476,39.7578033 C1.59785817,30.4203097 3.28867625,22.8747185 6.31705257,17.1208035 C12.0709676,6.16817583 22.2915843,0.691944133 36.9792095,0.691944133 C48.5879854,0.691944133 57.8243946,3.90954571 64.6887143,10.3448454 C71.5530339,16.7801451 74.9851423,25.2973257 74.9851423,35.8966428 C74.9851423,44.0227859 72.5624775,51.2403079 67.7170754,57.5494252 C64.5372803,61.7386791 59.3134095,66.4073559 52.0453063,71.5555957 L43.414477,77.6880271 C38.0138725,81.5239704 34.3167852,84.2999404 32.3231042,86.0160203 C30.3294231,87.7321002 28.6512231,89.7257514 27.2884537,91.9970336 L75.2122693,91.9970336 L75.2122693,111 L0.033203125,111 C0.23509488,103.126222 1.92591296,95.9339357 5.1057081,89.4229266 Z M162.50478,87.3787828 L150.088499,87.3787828 L150.088499,111 L128.96568,111 L128.96568,87.3787828 L85.5086973,87.3787828 L85.5086973,68.5272345 L125.86161,1.9032886 L150.088499,1.9032886 L150.088499,70.4956693 L162.50478,70.4956693 L162.50478,87.3787828 Z M128.96568,70.4956693 L128.96568,23.1018168 L101.483303,70.4956693 L128.96568,70.4956693 Z" id="24" fill="#15B1EA"></path>
      </g>
      </svg>
      </span><div id="waysto">
      <svg width="169px" height="128px" viewBox="0 0 169 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M24.3017578,14.3422852 C26.0563239,15.333501 27.4804633,16.7063714 28.5742188,18.4609375 L28.5742188,0.6875 L38.4521484,0.6875 L38.4521484,51 L28.984375,51 L28.984375,45.8388672 C27.5943941,48.0491647 26.0107511,49.6555939 24.2333984,50.6582031 C22.4560458,51.6608123 20.2457814,52.1621094 17.6025391,52.1621094 C13.2503038,52.1621094 9.58741721,50.4018731 6.61376953,46.8813477 C3.64012185,43.3608222 2.15332031,38.8434521 2.15332031,33.3291016 C2.15332031,26.9716479 3.61733562,21.9700703 6.54541016,18.3242188 C9.47348469,14.6783672 13.3870198,12.8554688 18.2861328,12.8554688 C20.5420035,12.8554688 22.5471917,13.3510693 24.3017578,14.3422852 Z M26.6943359,40.8828125 C28.12989,38.832021 28.8476562,36.1774251 28.8476562,32.9189453 C28.8476562,28.3616309 27.6969516,25.1031999 25.3955078,23.1435547 C23.9827403,21.9586529 22.3421317,21.3662109 20.4736328,21.3662109 C17.6253113,21.3662109 15.5346746,22.4428603 14.2016602,24.5961914 C12.8686457,26.7495225 12.2021484,29.421208 12.2021484,32.6113281 C12.2021484,36.0521005 12.8800388,38.8035379 14.2358398,40.8657227 C15.5916409,42.9279074 17.6480982,43.9589844 20.4052734,43.9589844 C23.1624487,43.9589844 25.2587819,42.933604 26.6943359,40.8828125 Z M67.8466797,32.8847656 C67.2314422,33.2721374 66.6105175,33.585448 65.9838867,33.824707 C65.357256,34.063966 64.4970758,34.2861318 63.4033203,34.4912109 L61.2158203,34.9013672 C59.1650288,35.2659523 57.6953169,35.7102838 56.8066406,36.234375 C55.3027269,37.1230513 54.5507812,38.5016183 54.5507812,40.3701172 C54.5507812,42.033537 55.0122024,43.2355106 55.9350586,43.9760742 C56.8579148,44.7166378 57.9801366,45.0869141 59.3017578,45.0869141 C61.3981225,45.0869141 63.3292555,44.4716858 65.0952148,43.2412109 C66.8611742,42.010736 67.77832,39.7662923 67.8466797,36.5078125 L67.8466797,32.8847656 Z M61.9335938,28.3388672 C63.733733,28.1110015 65.021155,27.8261736 65.7958984,27.484375 C67.1858793,26.8919241 67.8808594,25.9690818 67.8808594,24.7158203 C67.8808594,23.18912 67.3510795,22.1352568 66.2915039,21.5541992 C65.2319283,20.9731416 63.6767681,20.6826172 61.6259766,20.6826172 C59.3245328,20.6826172 57.6953173,21.2522729 56.7382812,22.3916016 C56.0546841,23.2347047 55.5989595,24.3740163 55.3710938,25.8095703 L45.9716797,25.8095703 C46.1767588,22.5510905 47.0882081,19.8737084 48.7060547,17.7773438 C51.2809374,14.4960773 55.7014661,12.8554688 61.9677734,12.8554688 C66.0465699,12.8554688 69.6695805,13.6643799 72.8369141,15.2822266 C76.0042476,16.9000732 77.5878906,19.9534281 77.5878906,24.4423828 L77.5878906,41.5322266 C77.5878906,42.7171283 77.6106769,44.1526608 77.65625,45.8388672 C77.7246097,47.1149152 77.9182927,47.980792 78.2373047,48.4365234 C78.5563167,48.8922549 79.0348275,49.2682277 79.6728516,49.5644531 L79.6728516,51 L69.0771484,51 C68.780923,50.2480431 68.5758469,49.54167 68.4619141,48.8808594 C68.3479812,48.2200488 68.2568363,47.4681032 68.1884766,46.625 C66.8440688,48.0833406 65.2946051,49.3251902 63.5400391,50.3505859 C61.4436744,51.5582743 59.0739064,52.1621094 56.4306641,52.1621094 C53.0582514,52.1621094 50.2726347,51.1993911 48.0737305,49.2739258 C45.8748262,47.3484604 44.7753906,44.6198093 44.7753906,41.0878906 C44.7753906,36.5077896 46.5413235,33.1923931 50.0732422,31.1416016 C52.0101008,30.0250595 54.8583796,29.2275415 58.6181641,28.7490234 L61.9335938,28.3388672 Z M87.7392578,58.1435547 L88.9697266,58.2119141 C89.9267626,58.2574872 90.8382118,58.2233079 91.7041016,58.109375 C92.5699913,57.9954421 93.2991507,57.7334005 93.8916016,57.3232422 C94.4612659,56.9358705 94.9910457,56.1269593 95.480957,54.8964844 C95.9708683,53.6660095 96.1702479,52.9140639 96.0791016,52.640625 L82.4072266,13.7441406 L93.2421875,13.7441406 L101.376953,41.2246094 L109.067383,13.7441406 L119.423828,13.7441406 L106.640625,50.3847656 C104.179675,57.448603 102.231452,61.8292558 100.795898,63.5268555 C99.3603444,65.2244551 96.4892793,66.0732422 92.1826172,66.0732422 C91.3167274,66.0732422 90.6217474,66.0675456 90.0976562,66.0561523 C89.5735651,66.0447591 88.7874401,66.0048832 87.7392578,65.9365234 L87.7392578,58.1435547 Z M132.753906,39.1054688 C132.958985,40.8372482 133.403317,42.0677047 134.086914,42.796875 C135.294602,44.0957096 137.527653,44.7451172 140.786133,44.7451172 C142.700205,44.7451172 144.221186,44.4602893 145.349121,43.890625 C146.477056,43.3209607 147.041016,42.4664771 147.041016,41.3271484 C147.041016,40.233393 146.585291,39.4016956 145.673828,38.8320312 C144.762365,38.2623669 141.37861,37.282559 135.522461,35.8925781 C131.306945,34.8443958 128.333342,33.5341875 126.601562,31.9619141 C124.869783,30.4124271 124.003906,28.1793766 124.003906,25.2626953 C124.003906,21.8219229 125.35399,18.8654095 128.054199,16.3930664 C130.754408,13.9207233 134.554012,12.6845703 139.453125,12.6845703 C144.101586,12.6845703 147.889797,13.6131092 150.817871,15.4702148 C153.745946,17.3273205 155.42643,20.5344824 155.859375,25.0917969 L146.118164,25.0917969 C145.981445,23.8385354 145.628258,22.8473344 145.058594,22.1181641 C143.987625,20.7965429 142.164726,20.1357422 139.589844,20.1357422 C137.470693,20.1357422 135.961105,20.4661425 135.061035,21.1269531 C134.160966,21.7877637 133.710938,22.5624956 133.710938,23.4511719 C133.710938,24.5677139 134.189448,25.3766251 135.146484,25.8779297 C136.10352,26.4020208 139.487276,27.302077 145.297852,28.578125 C149.171569,29.4895879 152.076813,30.8681548 154.013672,32.7138672 C155.927744,34.5823661 156.884766,36.9179547 156.884766,39.7207031 C156.884766,43.4121278 155.511895,46.4256068 152.766113,48.7612305 C150.020331,51.0968541 145.776396,52.2646484 140.03418,52.2646484 C134.178031,52.2646484 129.854343,51.0284954 127.062988,48.5561523 C124.271633,46.0838093 122.875977,42.9336129 122.875977,39.1054688 L132.753906,39.1054688 Z M22.1142578,74.7441406 L31.9921875,74.7441406 L37.6660156,101.575195 L43.4765625,74.7441406 L53.6279297,74.7441406 L42.8271484,112 L32.8125,112 L26.9677734,84.8613281 L21.0546875,112 L10.9375,112 L0.478515625,74.7441406 L10.9375,74.7441406 L16.7480469,101.472656 L22.1142578,74.7441406 Z M79.5361328,93.8847656 C78.9208954,94.2721374 78.2999706,94.585448 77.6733398,94.824707 C77.0467091,95.063966 76.1865289,95.2861318 75.0927734,95.4912109 L72.9052734,95.9013672 C70.8544819,96.2659523 69.3847701,96.7102838 68.4960938,97.234375 C66.99218,98.1230513 66.2402344,99.5016183 66.2402344,101.370117 C66.2402344,103.033537 66.7016555,104.235511 67.6245117,104.976074 C68.5473679,105.716638 69.6695897,106.086914 70.9912109,106.086914 C73.0875756,106.086914 75.0187086,105.471686 76.784668,104.241211 C78.5506273,103.010736 79.4677731,100.766292 79.5361328,97.5078125 L79.5361328,93.8847656 Z M73.6230469,89.3388672 C75.4231861,89.1110015 76.7106081,88.8261736 77.4853516,88.484375 C78.8753325,87.8919241 79.5703125,86.9690818 79.5703125,85.7158203 C79.5703125,84.18912 79.0405326,83.1352568 77.980957,82.5541992 C76.9213814,81.9731416 75.3662212,81.6826172 73.3154297,81.6826172 C71.0139859,81.6826172 69.3847704,82.2522729 68.4277344,83.3916016 C67.7441372,84.2347047 67.2884126,85.3740163 67.0605469,86.8095703 L57.6611328,86.8095703 C57.866212,83.5510905 58.7776612,80.8737084 60.3955078,78.7773438 C62.9703905,75.4960773 67.3909192,73.8554688 73.6572266,73.8554688 C77.736023,73.8554688 81.3590336,74.6643799 84.5263672,76.2822266 C87.6937007,77.9000732 89.2773438,80.9534281 89.2773438,85.4423828 L89.2773438,102.532227 C89.2773438,103.717128 89.30013,105.152661 89.3457031,106.838867 C89.4140628,108.114915 89.6077458,108.980792 89.9267578,109.436523 C90.2457698,109.892255 90.7242807,110.268228 91.3623047,110.564453 L91.3623047,112 L80.7666016,112 C80.4703761,111.248043 80.2653,110.54167 80.1513672,109.880859 C80.0374343,109.220049 79.9462894,108.468103 79.8779297,107.625 C78.5335219,109.083341 76.9840583,110.32519 75.2294922,111.350586 C73.1331275,112.558274 70.7633596,113.162109 68.1201172,113.162109 C64.7477045,113.162109 61.9620878,112.199391 59.7631836,110.273926 C57.5642794,108.34846 56.4648438,105.619809 56.4648438,102.087891 C56.4648438,97.5077896 58.2307766,94.1923931 61.7626953,92.1416016 C63.699554,91.0250595 66.5478328,90.2275415 70.3076172,89.7490234 L73.6230469,89.3388672 Z M99.4287109,119.143555 L100.65918,119.211914 C101.616216,119.257487 102.527665,119.223308 103.393555,119.109375 C104.259444,118.995442 104.988604,118.7334 105.581055,118.323242 C106.150719,117.93587 106.680499,117.126959 107.17041,115.896484 C107.660321,114.666009 107.859701,113.914064 107.768555,113.640625 L94.0966797,74.7441406 L104.931641,74.7441406 L113.066406,102.224609 L120.756836,74.7441406 L131.113281,74.7441406 L118.330078,111.384766 C115.869128,118.448603 113.920906,122.829256 112.485352,124.526855 C111.049798,126.224455 108.178732,127.073242 103.87207,127.073242 C103.006181,127.073242 102.311201,127.067546 101.787109,127.056152 C101.263018,127.044759 100.476893,127.004883 99.4287109,126.936523 L99.4287109,119.143555 Z M144.443359,100.105469 C144.648439,101.837248 145.09277,103.067705 145.776367,103.796875 C146.984056,105.09571 149.217106,105.745117 152.475586,105.745117 C154.389658,105.745117 155.910639,105.460289 157.038574,104.890625 C158.16651,104.320961 158.730469,103.466477 158.730469,102.327148 C158.730469,101.233393 158.274744,100.401696 157.363281,99.8320312 C156.451818,99.2623669 153.068063,98.282559 147.211914,96.8925781 C142.996398,95.8443958 140.022795,94.5341875 138.291016,92.9619141 C136.559236,91.4124271 135.693359,89.1793766 135.693359,86.2626953 C135.693359,82.8219229 137.043444,79.8654095 139.743652,77.3930664 C142.443861,74.9207233 146.243465,73.6845703 151.142578,73.6845703 C155.791039,73.6845703 159.57925,74.6131092 162.507324,76.4702148 C165.435399,78.3273205 167.115883,81.5344824 167.548828,86.0917969 L157.807617,86.0917969 C157.670898,84.8385354 157.317711,83.8473344 156.748047,83.1181641 C155.677078,81.7965429 153.85418,81.1357422 151.279297,81.1357422 C149.160146,81.1357422 147.650558,81.4661425 146.750488,82.1269531 C145.850419,82.7877637 145.400391,83.5624956 145.400391,84.4511719 C145.400391,85.5677139 145.878901,86.3766251 146.835938,86.8779297 C147.792974,87.4020208 151.176729,88.302077 156.987305,89.578125 C160.861022,90.4895879 163.766266,91.8681548 165.703125,93.7138672 C167.617197,95.5823661 168.574219,97.9179547 168.574219,100.720703 C168.574219,104.412128 167.201348,107.425607 164.455566,109.76123 C161.709784,112.096854 157.465849,113.264648 151.723633,113.264648 C145.867484,113.264648 141.543797,112.028495 138.752441,109.556152 C135.961086,107.083809 134.56543,103.933613 134.56543,100.105469 L144.443359,100.105469 Z" id="days-ways" fill="#15B1EA"></path>
      </g>
      </svg>
      </div>
  .subheadline.initially-hidden
    …to celebrate Christmas

.swoosh.initially-hidden
  :plain
    <svg version="1.1"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
       x="0px" y="0px" width="107.1px" height="18.8px" viewBox="0 0 107.1 18.8" style="enable-background:new 0 0 107.1 18.8;"
       xml:space="preserve">
    <defs>
    </defs>
    <path fill="#15b1ea" d="M107,5.9c-1.3-14-36.5,1.4-41.5,3.4C52.8,4.6,23.8-3.9,7.5,2C4.4,3.2,1.9,4.7,0,6.9c7.5-3.8,30.9-4.6,59.3,5.4
      c-7.5,3.6-13.1,4.4-17.7,4.4c5.2,2.2,13.3,0.8,21.8-2.7C81.1,21,108.6,21.9,107,5.9z M69.6,11.1c2.7-1.4,34.8-14.2,36.2-4.7
      C106.3,15,86.4,17.7,69.6,11.1z"/>
    </svg>

%h1.initially-hidden
  Der Valtech Adventskalender

%main.initially-hidden
  %p
    Singende Ziegen, der dreizehnte Teller und das Warten auf Donald Duck: Unsere diesjährige Weihnachtsspende verbinden wir mit einem Sammelsurium charmanter Geschichten rund um das Fest.
  %p
    Wir haben unsere Kollegen aus Guatemala, Costa Rica, Japan, Griechenland, Schweden, der Ukraine und anderen Ländern gebeten, von den Weihnachtsbräuchen ihrer Heimat und Familien zu berichten. 24 Türen, 24 Stories aus aller Welt – wir wünschen eine schöne Adventszeit, 
  %p
    %b
      Valtech Deutschland
 

%section
  %div.d_w100.m_w50.m_fleft
    %button.d_q25.m_q100.whi{:'data-content' => 'day3'}
      %span 3
    %button.d_q25.m_q100.d_of25.bla{:'data-content' => 'day1'}
      %span 1

  %div.d_w25.m_w50.d_fleft.m_fright.m_otop50
    %button.d_q100.m_q100.blu{:'data-content' => 'day12'}
      %span 12
    %button.d_q100.m_q100.bla{:'data-content' => 'day14'}
      %span 14

  %div.d_w75.m_w100.d_fleft
    %button.d_q66.m_q100.red{:'data-content' => 'day6'}
      %span.boss 6
    %button.d_q33.m_q50.blu{:'data-content' => 'day22'}
      %span 22


%section

  %div.d_w100.m_w100
    %button.d_q25.d_of25.m_q50.m_fleft.bla{:'data-content' => 'day10'}
      %span 10
    %button.d_q25.m_q50.m_fleft.blu{:'data-content' => 'day17'}
      %span 17
    %button.d_q25.m_q50.m_fleft.red{:'data-content' => 'day23'}
      %span 23


%section
  %div.d_w50.d_fleft.m_w100
    %button.d_q50.m_q50.whi{:'data-content' => 'day19'}
      %span 19
    %button.d_q50.m_q50.d_otop50.blu{:'data-content' => 'day4'}
      %span 4
  %div.d_w50.m_w100.d_fleft
    %button.d_q100.m_q100.bla{:'data-content' => 'day15'}
      %span.boss 15
    

%section
  %div
    %button.d_q25.m_q50.red{:'data-content' => 'day18'}
      %span 18
    %button.d_q25.d_of25.m_q50.whi{:'data-content' => 'day13'}
      %span 13

%section
  %div.d_w75.d_fleft.m_w100
    %button.d_q33.m_q50.bla{:'data-content' => 'day5'}
      %span 5
    %button.d_q66.m_q100.blu{:'data-content' => 'day24'}
      %span.boss 24

  %div.d_w25.d_fright.m_w100
    %button.d_q100.m_q50.red{:'data-content' => 'day16'}
      %span 16
    %button.d_q100.m_q50.bla{:'data-content' => 'day9'}
      %span 9

%section
  %div.d_w100.m_w100
    %button.d_q25.d_of25.m_q50.whi{:'data-content' => 'day20'}
      %span 20

%section
  %div.d_w50.m_w100.d_fleft
    %button.d_q100.m_q100.d_add.red{:'data-content' => 'day11'}
      %span.boss 11
  %div.d_w50.m_w100.d_fright
    %button.d_q50.d_of50.m_q50.blu{:'data-content' => 'day2'}
      %span 2
    %button.d_q50.m_q50.m_of50.whi{:'data-content' => 'day7'}
      %span 7
    %button.d_q50.m_q50.red{:'data-content' => 'day21'}
      %span 21

%section
  %div.d_w100.m_w100
    %button.d_q25.m_q50.m_of50.bla{:'data-content' => 'day8'}
      %span 8


%footer
  :plain
    <svg class="logo-bottom" version="1.1"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
       x="0px" y="0px" width="663.2px" height="137.7px" viewBox="0 0 663.2 137.7" style="enable-background:new 0 0 663.2 137.7;"
       xml:space="preserve">
    <style type="text/css">
      .st0{fill:#FFFFFF;}
    </style>
    <defs>
    </defs>
    <g>
      <polygon class="st0" points="71,35 49.9,108.8 49.6,108.8 29.1,35 0,35 35.6,135.1 63,135.1 98.7,35 	"/>
      <path class="st0" d="M185.2,115.5V61.3c0-24.7-25.5-29-39.5-29c-20.3,0-41.3,4.3-44.3,35h25.1c0.7-5.8,3-13.9,16-13.9
        c6.7,0,17.1,0.6,17.1,11.7c0,5.6-5,7.3-9.1,7.9l-23.5,3.6c-16.6,2.4-28.9,12.4-28.9,32c0,20.7,15.3,29.2,30.2,29.2
        c17.7,0,26.1-8.3,32-14.5c0.6,5.6,0.9,7.2,2.4,11.9h28.1v-4C187.8,130,185.2,127.4,185.2,115.5z M159.6,99.2
        c0,12.2-11.7,19.7-23.3,19.7c-5,0-12.1-2.8-12.1-12c0-10.9,8-13.4,17.7-15.1c10.8-1.7,15.1-3.4,17.7-5.5V99.2z"/>
      <rect x="611" y="116.3" class="st0" width="52.2" height="18.8"/>
      <rect x="200.8" y="0" class="st0" width="26.1" height="135.1"/>
      <path class="st0" d="M276.4,7.9h-26.1V35H237v18.8h13.4v60.8c0,13,4.1,21.6,26.6,21.6h3.4c4.1,0,8.2-0.2,12.3-0.4v-19.9
        c-1.9,0.2-3.7,0.4-5.4,0.4c-10.6,0-10.8-2.3-10.8-8.1V53.8h16.2V35h-16.2V7.9z"/>
      <path class="st0" d="M348.9,32.4c-43.4,0-47.5,38.6-47.5,50.6c0,41.2,21.4,54.8,49.4,54.8c16.9,0,36.7-7.9,43.6-32h-26.8
        c-2,7.1-9.5,10.9-16.8,10.9c-21.1,0-22.5-16.9-23.3-24.5h68v-4.7C395.5,41.8,368.5,32.4,348.9,32.4z M328.2,75.1
        c1.5-13.2,8-21.1,20.3-21.1c8.4,0,18.6,4.9,20.1,21.1H328.2z"/>
      <path class="st0" d="M449.9,54.6h1.3c11.2,0,14.9,9.8,16,16.2h26.4c-2.4-31.2-28.1-38.4-43.8-38.4c-33.5,0-47.5,23.1-47.5,55.5
        c0,21.1,8.6,49.9,45.8,49.9c36.3,0,44.3-28.8,45.3-39.1H467c0,4.7-4.5,17.5-17.7,17.5c-19.7,0-20.1-21.6-20.1-32.6
        C429.2,71.1,433.5,54.6,449.9,54.6z"/>
      <path class="st0" d="M560.3,32.4c-14.2,0-25.3,7.3-28.7,15.6h-0.4V0h-26.1v135.1h26.1V77.7c0-15.2,8.9-23.1,20.5-23.1
        c16.6,0,17,12.4,17,19.8v60.8h26.1V65.9C594.8,43.8,579.7,32.4,560.3,32.4z"/>
    </g>
    </svg>





%aside.red#overlay
  .inner#overlay-content
    - 100.times do
      Hallo Test Hallo Tester
  .closer#closer
    &times;

%div#animHelper


.hidden
  #day1
    :plain
      <iframe class="video" data-src="https://www.youtube-nocookie.com/embed/qzQKs43Ene4?version=3&vq=hd720&rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  #donate
    %h3
      An wen wir spenden
    :plain
      <svg class="center-me" width="244px" height="213px" viewBox="0 0 244 213" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g> <polygon id="Fill-1" fill="#004F9E" points="102.0465 0.0001 102.0465 212.5991 172.9135 212.5991 172.9135 141.7331 243.7795 141.7331 243.7795 70.8671 172.9135 70.8671 172.9135 0.0001"></polygon> <path d="M74.1552,125.2543 L74.1552,126.5983 L78.2532,126.5983 L78.2532,130.5763 L74.1552,130.5763 L74.1552,141.7363 L68.6382,141.7363 L68.6382,130.5763 L65.6352,130.5763 L65.6352,126.5983 L68.6382,126.5983 L68.6382,125.0473 C68.6382,122.3973 69.2432,119.5683 74.4232,119.5683 C76.1602,119.5683 77.7082,119.6813 79.0112,119.8923 L79.0112,123.6743 C78.3522,123.5533 77.2882,123.4493 76.2882,123.4493 C75.2062,123.4493 74.1552,123.5583 74.1552,125.2543 L74.1552,125.2543 Z M10.5282,92.1663 L7.0392,86.1293 L5.4612,87.9133 L5.4612,92.1663 L0.0002,92.1663 L0.0002,70.1373 L5.4612,70.1373 L5.4612,82.2853 L10.0782,76.2393 L15.9862,76.2393 L10.7842,82.6843 L16.2042,92.1663 L10.5282,92.1663 Z M52.5392,92.4033 C54.8902,92.4033 56.3392,91.2123 57.3212,89.7843 C57.3212,90.5873 57.4512,91.8183 57.6782,92.1663 L63.3252,92.1663 C62.9672,91.3613 62.8482,90.2013 62.8482,88.2963 L62.8482,70.1373 L57.3212,70.1373 L57.3212,78.1753 C56.2102,76.6073 54.7412,75.9323 52.5982,75.9323 C48.9672,75.9323 46.5362,78.8893 46.5362,84.3663 C46.5362,89.8433 48.9372,92.4033 52.5392,92.4033 L52.5392,92.4033 Z M54.7022,88.2853 C52.6772,88.2853 52.0622,86.5293 52.0622,84.3373 C52.0622,81.8653 52.8072,80.4673 54.6422,80.4673 C55.7342,80.4673 56.4382,80.8243 57.3212,81.6273 L57.3212,86.9963 C56.7462,87.6013 55.7232,88.2853 54.7022,88.2853 L54.7022,88.2853 Z M28.3072,76.2393 L33.8342,76.2393 L33.8342,78.7203 C34.6082,77.5683 36.3042,75.9323 39.1922,75.9323 C41.7532,75.9323 43.7862,77.1723 43.7862,80.5463 L43.7862,92.1663 L38.2702,92.1663 L38.2702,82.3423 C38.2702,81.1313 37.8532,80.4673 36.7512,80.4673 C35.6502,80.4673 34.7072,81.0223 33.8342,81.7463 L33.8342,92.1663 L28.3072,92.1663 L28.3072,76.2393 Z M18.7922,92.1663 L24.3292,92.1663 L24.3292,76.2403 L18.7922,76.2403 L18.7922,92.1663 Z M18.7922,74.0993 L24.3282,74.0993 L24.3282,70.1373 L18.7922,70.1373 L18.7922,74.0993 Z M47.3132,141.7363 L52.8502,141.7363 L52.8502,125.8103 L47.3132,125.8103 L47.3132,141.7363 Z M47.3132,123.6703 L52.8492,123.6703 L52.8492,119.7093 L47.3132,119.7093 L47.3132,123.6703 Z M27.8842,141.7363 L33.4112,141.7363 L33.4112,131.3173 C34.2832,130.5933 35.2272,130.0373 36.3382,130.0373 C37.4292,130.0373 37.8462,130.7023 37.8462,131.9133 L37.8462,141.7363 L43.3732,141.7363 L43.3732,130.1163 C43.3732,126.7423 41.3392,125.5033 38.7682,125.5033 C35.8822,125.5033 34.1852,127.1413 33.4112,128.2913 L33.4112,119.7093 L27.8842,119.7093 L27.8842,141.7363 Z M79.8592,133.7973 C79.8592,127.4303 84.8972,125.4403 88.1762,125.4403 C91.3942,125.4403 95.7832,126.7513 95.7832,134.5083 L95.7832,135.3473 L85.3962,135.3473 C85.6772,137.6273 86.9472,138.3073 88.7762,138.3073 C90.5262,138.3073 92.3762,137.4383 93.4352,136.6873 L95.4732,140.0453 C93.4952,141.4573 91.0662,142.1263 88.3562,142.1263 C84.0262,142.1263 79.8592,140.1953 79.8592,133.7973 L79.8592,133.7973 Z M90.8452,132.1393 C90.6062,130.1083 89.6852,129.3503 88.1462,129.3503 C86.8662,129.3503 85.8162,130.1393 85.4572,132.1393 L90.8452,132.1393 Z M57.2762,141.7363 L62.7922,141.7363 L62.7922,119.7093 L57.2762,119.7093 L57.2762,141.7363 Z M85.3652,110.6473 L85.3652,103.3823 L82.7562,103.3823 L82.7562,99.4033 L85.3652,99.4033 L85.3652,94.8713 L90.8822,94.8713 L90.8822,99.4033 L94.9602,99.4033 L94.9602,103.3823 L90.8822,103.3823 L90.8822,109.4243 C90.8822,111.1223 91.3192,111.5783 93.0062,111.5783 C93.5212,111.5783 94.2752,111.4993 94.5632,111.4003 L94.5632,115.2803 C94.2462,115.3693 92.2312,115.5373 91.1102,115.5373 C85.9302,115.5373 85.3652,113.7023 85.3652,110.6473 L85.3652,110.6473 Z M73.4302,115.6563 C77.2702,115.6563 81.8042,113.8123 81.8042,107.3913 C81.8042,100.8913 77.2702,99.0963 73.4302,99.0963 C69.5602,99.0963 65.0452,100.8913 65.0452,107.3913 C65.0452,113.8123 69.5902,115.6563 73.4302,115.6563 L73.4302,115.6563 Z M73.4302,111.8163 C71.2462,111.8163 70.5722,109.8533 70.5722,107.4213 C70.5722,104.8013 71.3762,103.0863 73.4302,103.0863 C75.5722,103.0863 76.2772,104.9913 76.2772,107.4213 C76.2772,110.0703 75.4722,111.8163 73.4302,111.8163 L73.4302,111.8163 Z M47.3132,99.4033 L52.8402,99.4033 L52.8402,101.8843 C53.6142,100.7333 55.3112,99.0963 58.1982,99.0963 C60.7582,99.0963 62.7932,100.3363 62.7932,103.7093 L62.7932,115.3303 L57.2762,115.3303 L57.2762,105.5063 C57.2762,104.2953 56.8592,103.6313 55.7572,103.6313 C54.6552,103.6313 53.7132,104.1863 52.8402,104.9113 L52.8402,115.3303 L47.3132,115.3303 L47.3132,99.4033 Z M85.3652,92.1663 L90.8922,92.1663 L90.8922,82.4113 C91.7052,81.6083 92.9362,80.7153 94.6822,80.7153 C95.0592,80.7153 95.8732,80.7943 96.0922,80.8233 L96.1112,75.9323 L96.0212,75.9323 C93.0842,75.9323 91.6652,77.5883 90.9212,78.7703 L90.8922,78.7703 L90.8922,76.2393 L85.3652,76.2393 L85.3652,92.1663 Z M65.8852,84.2273 C65.8852,77.8593 70.9242,75.8693 74.2022,75.8693 C77.4212,75.8693 81.8102,77.1793 81.8102,84.9373 L81.8102,85.7763 L71.4242,85.7763 C71.7032,88.0563 72.9722,88.7353 74.8022,88.7353 C76.5522,88.7353 78.4012,87.8663 79.4612,87.1163 L81.5002,90.4763 C79.5202,91.8853 77.0912,92.5553 74.3822,92.5553 C70.0532,92.5553 65.8852,90.6253 65.8852,84.2273 L65.8852,84.2273 Z M76.8712,82.5673 C76.6322,80.5393 75.7122,79.7793 74.1722,79.7793 C72.8932,79.7793 71.8432,80.5683 71.4842,82.5673 L76.8712,82.5673 Z" id="Fill-2" fill="#FEFEFE"></path> </g> </g> </svg> 
    %p
      In diesem Jahr spendet Valtech an die Kindernothilfe – eine der größten deutschen Nichtregierungsorganisationen für Entwicklungszusammenarbeit und humanitäre Hilfe. Seit über 55 Jahren setzt sich die Organisation für benachteiligte Kinder und deren Rechte in Entwicklungsländern ein. Fast zwei Millionen Kinder und Jugendliche stärkt, schützt und beteiligt die Kindernothilfe derzeit mit 783 Projekten in 31 Ländern Afrikas, Asiens und Lateinamerikas.

