.triangle {
  position: relative;
  background: grey;
  height: 60vh;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 67px 67px 0 67px;
  border-color: grey transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.full-height {height:100vh;background:black;}