#main
  #container.spinner
    .spinner-lever
      button#spin.spinner-lever-button(type="button") Pull the lever to spin the wheel
    ul#wheel.spinner-list
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title
      li.spinner-slice
        p.spinner-slice-text(contenteditable) Prize title