@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typing { 
	border-right: .1em solid black;
	width: auto; 
	width: 67ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(67, end),
	           blink-caret .5s step-end infinite alternate;
}