/* **********
 Common Aspect Ratio Containers
************************************************* */

.ratio {
  position: relative;
  display: block;
  overflow: hidden;
}

.ratio::before {
  display: block;
  width: 100%;
  content: "";
}

.ratio-1\:1::before {
  padding-bottom: 100%;
}

.ratio-2\:1::before {
  padding-bottom: 50%;
}

.ratio-2\:3::before {
  padding-bottom: 150%;
}

.ratio-3\:2::before {
  padding-bottom: 66.66667%;
}

.ratio-3\:4::before {
  padding-bottom: 133.33333%;
}

.ratio-4\:3::before {
  padding-bottom: 75%;
}

.ratio-16\:9::before {
  padding-bottom: 56.25%;
}

/* **********
 Demo Styling
************************************************* */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color:white;
}

/* Two column grid container */

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 20px;
   padding-right: 20px;
  padding-bottom:300px;
}

/* Remove grid container on small screens */

@media (max-width: 980px) {
  section {
    display:inherit;
  
   
  }
}

figure {
  background-color: #333;
  border: 1px solid grey;
  font-size: 21px;
  width: 100%;
  margin-top:35px;
}
figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 35px;
}

body {
  background: #212121;
}