body {
  text-align: center;
}

.action {
  border-bottom: 2px solid #000;
}

.stickman {
  position: relative;
  margin: auto;
  width: 100px;
  width: 100px;
  height: 100px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.stickman .body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -5px;
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 30px;
}
.stickman .head {
  position: absolute;
  top: -18px;
  left: -5px;
  width: 20px;
  height: 20px;
  background: #000;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.stickman .head .hat {
  position: absolute;
  top: -4px;
  left: -3px;
  width: 20px;
  height: 10px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  border: 1px solid #000;
  animation: leftLegLimb 0.75s infinite;
  -webkit-animation: hat 0.75s infinite;
  -moz-animation: hat 0.75s infinite;
}
.stickman .head .hat:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 18px;
  width: 8px;
  height: 1px;
  background: #fff;
  border: 1px solid #000;
}
.stickman .arm {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 8px;
  height: 20px;
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 4px 4px;
  -moz-transform-origin: 4px 4px;
}
.stickman .arm .limb {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 8px;
  height: 20px;
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 4px 4px;
  -moz-transform-origin: 4px 4px;
}
.stickman .arm.arm-left {
  animation: leftArm 0.75s infinite;
  -webkit-animation: leftArm 0.75s infinite;
}
.stickman .arm.arm-left .limb {
  animation: leftArmLimb 0.75s infinite;
  -webkit-animation: leftArmLimb 0.75s infinite;
  -moz-animation: leftArmLimb 0.75s infinite;
}
.stickman .arm.arm-right {
  animation: rightArm 0.75s infinite;
  -webkit-animation: rightArm 0.75s infinite;
  -moz-animation: rightArm 0.75s infinite;
}
.stickman .arm.arm-right .limb {
  animation: rightArmLimb 0.75s infinite;
  -webkit-animation: rightArmLimb 0.75s infinite;
  -moz-animation: rightArmLimb 0.75s infinite;
}
.stickman .leg {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 10px;
  height: 20px;
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 5px 5px;
  -moz-transform-origin: 5px 5px;
}
.stickman .leg .limb {
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 10px;
  height: 25px;
  background: #000;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0px 0px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 5px 5px;
  -moz-transform-origin: 5px 5px;
}
.stickman .leg.leg-left {
  animation: leftLeg 0.75s infinite;
  -webkit-animation: leftLeg 0.75s infinite;
  -moz-animation: leftLeg 0.75s infinite;
}
.stickman .leg.leg-left .limb {
  animation: leftLegLimb 0.75s infinite;
  -webkit-animation: leftLegLimb 0.75s infinite;
  -moz-animation: leftLegLimb 0.75s infinite;
}
.stickman .leg.leg-right {
  animation: rightLeg 0.75s infinite;
  -webkit-animation: rightLeg 0.75s infinite;
  -moz-animation: rightLeg 0.75s infinite;
}
.stickman .leg.leg-right .limb {
  animation: rightLegLimb 0.5s infinite;
  -webkit-animation: rightLegLimb 0.75s infinite;
  -moz-animation: rightLegLimb 0.75s infinite;
}

@keyframes leftLeg {
  0% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes leftLeg {
  0% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-moz-keyframes leftLeg {
  0% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes rightLeg {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  50% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes rightLeg {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  50% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rightLeg {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  50% {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes leftLegLimb {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes leftLegLimb {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes leftLegLimb {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rightLegLimb {
  0% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  75% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@-webkit-keyframes rightLegLimb {
  0% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  75% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@-moz-keyframes rightLegLimb {
  0% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  75% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@keyframes leftArm {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes leftArm {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes leftArm {
  0% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  100% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rightArm {
  0% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-webkit-keyframes rightArm {
  0% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-moz-keyframes rightArm {
  0% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@keyframes rightArmLimb {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  75% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes rightArmLimb {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  75% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rightArmLimb {
  0% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  75% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes leftArmLimb {
  0% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes leftArmLimb {
  0% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-moz-keyframes leftArmLimb {
  0% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes hat {
  0% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    left: -2px;
  }
  100% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes hat {
  0% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    left: -2px;
  }
  100% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
@-moz-keyframes hat {
  0% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    left: -2px;
  }
  100% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
@keyframes wheels {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wheels {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes wheels {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes tractor {
  0% {
    left: 100%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes tractor {
  0% {
    left: 100%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes tractor {
  0% {
    left: 100%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}