body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

main > div {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  transition: 0.25s all linear;
  transform: translateX(0);
}

div:nth-child(1) {
  background-color: #f2170d;
}

div:nth-child(2) {
  background-color: #f2200d;
}

div:nth-child(3) {
  background-color: #f22a0d;
}

div:nth-child(4) {
  background-color: #f2340d;
}

div:nth-child(5) {
  background-color: #f23e0d;
}

div:nth-child(6) {
  background-color: #f2470d;
}

div:nth-child(7) {
  background-color: #f2510d;
}

div:nth-child(8) {
  background-color: #f25b0d;
}

div:nth-child(9) {
  background-color: #f2650d;
}

div:nth-child(10) {
  background-color: #f26e0d;
}

div:nth-child(11) {
  background-color: #f2780d;
}

div:nth-child(12) {
  background-color: #f2820d;
}

div:nth-child(13) {
  background-color: #f28c0d;
}

div:nth-child(14) {
  background-color: #f2950d;
}

div:nth-child(15) {
  background-color: #f29f0d;
}

div:nth-child(16) {
  background-color: #f2a90d;
}

div:nth-child(17) {
  background-color: #f2b30d;
}

div:nth-child(18) {
  background-color: #f2bc0d;
}

div:nth-child(19) {
  background-color: #f2c60d;
}

div:nth-child(20) {
  background-color: #f2d00d;
}

div:nth-child(21) {
  background-color: #f2da0d;
}

div:nth-child(22) {
  background-color: #f2e30d;
}

div:nth-child(23) {
  background-color: #f2ed0d;
}

div:nth-child(24) {
  background-color: #eef20d;
}

div:nth-child(25) {
  background-color: #e4f20d;
}

div:nth-child(26) {
  background-color: #daf20d;
}

div:nth-child(27) {
  background-color: #d0f20d;
}

div:nth-child(28) {
  background-color: #c7f20d;
}

div:nth-child(29) {
  background-color: #bdf20d;
}

div:nth-child(30) {
  background-color: #b3f20d;
}

div:nth-child(31) {
  background-color: #a9f20d;
}

div:nth-child(32) {
  background-color: #a0f20d;
}

div:nth-child(33) {
  background-color: #96f20d;
}

div:nth-child(34) {
  background-color: #8cf20d;
}

div:nth-child(35) {
  background-color: #82f20d;
}

div:nth-child(36) {
  background-color: #79f20d;
}

div:nth-child(37) {
  background-color: #6ff20d;
}

div:nth-child(38) {
  background-color: #65f20d;
}

div:nth-child(39) {
  background-color: #5bf20d;
}

div:nth-child(40) {
  background-color: #52f20d;
}

div:nth-child(41) {
  background-color: #48f20d;
}

div:nth-child(42) {
  background-color: #3ef20d;
}

div:nth-child(43) {
  background-color: #34f20d;
}

div:nth-child(44) {
  background-color: #2bf20d;
}

div:nth-child(45) {
  background-color: #21f20d;
}

div:nth-child(46) {
  background-color: #17f20d;
}

div:nth-child(47) {
  background-color: #0df20d;
}

div:nth-child(48) {
  background-color: #0df216;
}

div:nth-child(49) {
  background-color: #0df220;
}

div:nth-child(50) {
  background-color: #0df229;
}

div:nth-child(51) {
  background-color: #0df233;
}

div:nth-child(52) {
  background-color: #0df23d;
}

div:nth-child(53) {
  background-color: #0df247;
}

div:nth-child(54) {
  background-color: #0df250;
}

div:nth-child(55) {
  background-color: #0df25a;
}

div:nth-child(56) {
  background-color: #0df264;
}

div:nth-child(57) {
  background-color: #0df26e;
}

div:nth-child(58) {
  background-color: #0df277;
}

div:nth-child(59) {
  background-color: #0df281;
}

div:nth-child(60) {
  background-color: #0df28b;
}

div:nth-child(61) {
  background-color: #0df295;
}

div:nth-child(62) {
  background-color: #0df29e;
}

div:nth-child(63) {
  background-color: #0df2a8;
}

div:nth-child(64) {
  background-color: #0df2b2;
}

div:nth-child(65) {
  background-color: #0df2bc;
}

div:nth-child(66) {
  background-color: #0df2c5;
}

div:nth-child(67) {
  background-color: #0df2cf;
}

div:nth-child(68) {
  background-color: #0df2d9;
}

div:nth-child(69) {
  background-color: #0df2e3;
}

div:nth-child(70) {
  background-color: #0df2ed;
}

div:nth-child(71) {
  background-color: #0deef2;
}

div:nth-child(72) {
  background-color: #0de4f2;
}

div:nth-child(73) {
  background-color: #0ddbf2;
}

div:nth-child(74) {
  background-color: #0dd1f2;
}

div:nth-child(75) {
  background-color: #0dc7f2;
}

div:nth-child(76) {
  background-color: #0dbdf2;
}

div:nth-child(77) {
  background-color: #0db4f2;
}

div:nth-child(78) {
  background-color: #0daaf2;
}

div:nth-child(79) {
  background-color: #0da0f2;
}

div:nth-child(80) {
  background-color: #0d96f2;
}

div:nth-child(81) {
  background-color: #0d8df2;
}

div:nth-child(82) {
  background-color: #0d83f2;
}

div:nth-child(83) {
  background-color: #0d79f2;
}

div:nth-child(84) {
  background-color: #0d6ff2;
}

div:nth-child(85) {
  background-color: #0d66f2;
}

div:nth-child(86) {
  background-color: #0d5cf2;
}

div:nth-child(87) {
  background-color: #0d52f2;
}

div:nth-child(88) {
  background-color: #0d48f2;
}

div:nth-child(89) {
  background-color: #0d3ff2;
}

div:nth-child(90) {
  background-color: #0d35f2;
}

div:nth-child(91) {
  background-color: #0d2bf2;
}

div:nth-child(92) {
  background-color: #0d21f2;
}

div:nth-child(93) {
  background-color: #0d18f2;
}

div:nth-child(94) {
  background-color: #0d0ef2;
}

div:nth-child(95) {
  background-color: #150df2;
}

div:nth-child(96) {
  background-color: #1f0df2;
}

div:nth-child(97) {
  background-color: #290df2;
}

div:nth-child(98) {
  background-color: #330df2;
}

div:nth-child(99) {
  background-color: #3c0df2;
}

div:nth-child(100) {
  background-color: #460df2;
}