@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg-BlurryLoading {
  background: url("/") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text-BlurryLoading {
  font-size: 50px;
  color: #444;
}