*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 62.5%
}

body {
	font-size: 1.8rem;
	font-family: "Libre Franklin", sans-serif;
	background-color: #fff;
	color: #151f29
}

.container {
	max-width: 144rem;
	margin: 0 auto;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

.wrapper {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center
}

.header {
	width: 50rem;
	margin: 0 auto;
	
}

.header_logo svg {
	margin-top:20%;
	height: 6rem;
	width: 6rem
}

.header_title {
	color: #969696;
	font-weight: 300;
	margin-bottom: 1.5rem;
	font-size: 3rem
}


.header_title span {
	font-weight: 700;
	color: #151f29
}

.header_description {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 2rem
}

.form_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%
}


.form_input-group {
	position: relative;
	-webkit-box-flex: 60%;
	-ms-flex: 60%;
	flex: 60%;
	margin: 0 1.5rem 2.5rem 0
}

.form_email {
	border: 1px solid #969696;
	border-radius: 10rem;
	display: inline-block;
	padding: 1rem 1.5rem;
	width: 100%
}

.form_email:focus {
	outline: none
}

.form_email::-webkit-input-placeholder {
	color: #969696
}

.form_email::-moz-placeholder {
	color: #969696
}

.form_email:-ms-input-placeholder {
	color: #969696
}

.form_email::-ms-input-placeholder {
	color: #969696
}

.form_email::placeholder {
	color: #969696
}

.form_validate {
	padding-left: 1rem;
	margin-top: .5rem;
	font-style: italic;
	font-size: 1.25rem;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -2rem
}

.form_btn-group {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%
}

.form_btn {
	background-color: #4f7df3;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 10rem;
	padding: 1rem 1.5rem;
	font-size: 1.3rem;
	-webkit-box-shadow: 0 5px 5px rgba(79, 125, 243, 0.3);
	box-shadow: 0 5px 5px rgba(79, 125, 243, 0.3);
	-webkit-transition: background-color .25s;
	transition: all .25s;
	width: 100%
}

.form_btn:hover {
	background-color: #7ea0f6
}

.invalid {
	border: 1px solid #ff5263 !important
}

.content {
	margin: 3rem auto 2rem auto;
	width: 50rem
}
.content_photo {
	width: 100%;
	height: auto;
	display: block;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.footer_logo-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1.5rem
}

.footer_logo-wrap {
	width: 3rem;
	height: 3rem;
	padding: .75rem;
	background-color: #fff;
	border: 1px solid #c2d3ff;
	border-radius: 50%;
	-webkit-transition: all .25s;
	transition: all .25s
}

.footer_logo-wrap:not(:last-child) {
	margin-right: 1.5rem
}

.footer_logo-wrap svg {
	width: 100%;
	height: 100%;
	fill: #4f7df3;
	display: block
}

.footer_logo-wrap:hover {
	background-color: #4f7df3;
	cursor: pointer
}

.footer_logo-wrap:hover svg {
	fill: #fff
}

.footer_copyright {
	font-size: 1.25rem;
	color: #969696
}

.footer_copyright a {
	color: #4f7df3;
	text-decoration: none
}

/*Mobile design*/

@media (max-width: 37.5em) {
	
	.header {
		width: 90%
	}
	.header_title {
		font-size: 2.5rem
	}
	.header_description {
		font-size: 1.4rem
	}
	.form_wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.form_input-group {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin: 0 0 2.5rem 0;
		padding: 0 3rem 0 3rem
	}
	.form_validate {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	.form_btn-group {
		width: 100%;
		margin: 0;
		padding: 0 3rem 0 3rem
	}
	.content {
		width: 90%
	}
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}