.about {
   $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
   $transition: 0.6s $cubic;
   $size: 40px;
   position: fixed;
   z-index: 10;
   bottom: 10px;
   right: 10px;
   width: $size;
   height: $size;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   transition: all 0.2s ease;

   .bg_links {
      width: $size;
      height: $size;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(#000000, 0.2);
      border-radius: 100%;
      backdrop-filter: blur(5px);
      position: absolute;
   }

   .logo {
      width: $size;
      height: $size;
      z-index: 9;
      background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 10px 7px;
      opacity: 0.9;
      transition: all 1s 0.2s ease;
      bottom: 0;
      right: 0;
   }

   .social {
      opacity: 0;
      right: 0;
      bottom: 0;

      .icon {
         width: 100%;
         height: 100%;
         background-size: 20px;
         background-repeat: no-repeat;
         background-position: center;
         background-color: transparent;
         display: flex;
         transition: all 0.2s ease, background-color 0.4s ease;
         opacity: 0;
         border-radius: 100%;
      }

      &.portfolio {
         transition: all 0.8s ease;

         .icon {
            background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
         }
      }

      &.dribbble {
         transition: all 0.3s ease;
         .icon {
            background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
         }
      }

      &.linkedin {
         transition: all 0.8s ease;
         .icon {
            background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
         }
      }
   }

   &:hover {
      width: 105px;
      height: 105px;
      transition: all $transition;

      .logo {
         opacity: 1;
         transition: all 0.6s ease;
      }

      .social {
         opacity: 1;

         .icon {
            opacity: 0.9;
         }

         &:hover {
            background-size: 28px;
            .icon {
               background-size: 65%;
               opacity: 1;
            }
         }

         &.portfolio {
            right: 0;
            bottom: calc(100% - 40px);
            transition: all 0.3s 0s $cubic;
            .icon {
               &:hover {
                  background-color: #698fb7;
               }
            }
         }

         &.dribbble {
            bottom: 45%;
            right: 45%;
            transition: all 0.3s 0.15s $cubic;
            .icon {
               &:hover {
                  background-color: #ea4c89;
               }
            }
         }

         &.linkedin {
            bottom: 0;
            right: calc(100% - 40px);
            transition: all 0.3s 0.25s $cubic;
            .icon {
               &:hover {
                  background-color: #0077b5;
               }
            }
         }
      }
   }
}


@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900|Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900|Barlow:100,200,300,400,500,600,700,800,900&display=swap');
$font-01: "Barlow",
sans-serif;
$font-02: 'Barlow Semi Condensed',
sans-serif;
$font-03: "Barlow Condensed",
sans-serif;

$m-01: #8847C1;
$m-02: #513B73;

$neu-01: #363636;
$neu-02: #5A5A5A;
$neu-03: #909090;
$neu-04: #979797;
$neu-05: #BDBDBD;
$neu-06: #F5F5F5;
$neu-07: #F8f8f8;

$cubic: cubic-bezier(0.44, 0.43, 0, 1.85);

$cubic2: cubic-bezier(0.31, 0.42, 0, 1.39);


@mixin lg {
    @media screen and (max-width: 1919px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 512px) {
        @content;
    }
}

@mixin transition {
    transition: all 0.4s ease;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    background-color: $neu-06;
    font-family: $font-01;
    font-weight: normal;
    background-color: #343434;

}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {
        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }

    @include sm {
        display: none;
    }
}

.wrapper {
    width: 100%;
    min-height: 400px;
    font-family: $font-01;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 40px;
    overflow-x: hidden;

    &:before {
        content: "";
        width: 100%;
        height: calc(50% + 60px);
        border-radius: inherit;
        position: absolute;
        background-color: #272727;
        z-index: -2;
        top: 0;

        @include sm {
            height: 240px;
        }
    }

    @include sm {
        height: initial;
    }

}

.videos {
    width: 100%;
    max-width: 1120px;
    margin: 40px auto;
    flex-direction: column;

    &__title {
        font-size: 400px;
        line-height: 270px;
        font-weight: 900;
        color: $m-02;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -40px;
        transform: translateY(-25px);
        z-index: -2;
        user-select: none;
        animation: title 1s 0.2s ease backwards;


        @keyframes title {
            0% {
                opacity: 0;
                transform: translateY(-25px) translateX(100px);
            }
        }

        @include sm {
            font-size: 290px;
            line-height: 202px;
        }
    }

    &__subtitle {
        font-weight: 900;
        font-size: 100px;
        color: white;
        user-select: none;

        @include sm {
            font-size: 60px;
            margin-bottom: 20px;
            text-align: center;
        }

        animation: enter 0.6s 0.8s $cubic2 backwards;

        @keyframes enter {
            0% {
                opacity: 0;
                transform: translateX(-200px);
            }
        }
    }

    &__line {
        width: 50%;
        height: 6px;
        position: absolute;
        background: $m-01;
        display: flex;
        left: 0;
        top: 50%;
        transform: translateY(-140px);
        animation: line 0.6s 1s $cubic2 backwards;
        z-index: 1;

        @include sm {
            top: 0%;
            transform: translateY(83px);
            height: 4px;
            width: calc(50% + 180px);
            min-width: initial;
        }

        @include xs() {

            width: calc(100% - 20px);

        }

        @keyframes line {
            0% {
                width: 0px;
                min-width: 0px;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;

        @include sm {
            height: auto;
            flex-direction: column;
        }
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__play {

        width: 32px;
        height: 32px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        opacity: 0.5;
        border-radius: 100%;
        transition: all 0.3s 0.1s $cubic;

        img {
            width: 100%;
        }

    }

    &__name {
        position: absolute;
        z-index: 1;
        bottom: -40px;
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.05em;
        color: white;
        visibility: hidden;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            width: 0;
            height: 2px;
            transform: translateY(2px);
            border-radius: inherit;
            position: absolute;
            background: $m-01;
            transition: all 0.3s 0.2s ease;
        }

        @include sm {

            bottom: 10px;
            font-size: 16px;
            visibility: visible;

            &:before {
                width: calc(100% + 20px);
            }

        }

    }

    &__item {
        max-width: 360px;
        width: 100%;
        height: 270px;
        margin-right: 20px;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.2), 0px 3px 8px rgba(0, 0, 0, 0.42), 0px 40px 30px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        cursor: pointer;
        transition: all 0.3s $cubic;
        animation: items 0.6s 0.8s $cubic2 backwards;

        @keyframes items {
            0% {
                opacity: 0;
                transform: translateY(40px);
            }
        }

        @include sm {
            margin-right: 0px;
            margin-bottom: 20px;
            height: 160px;
            box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.2), 0px 3px 8px rgba(0, 0, 0, 0.42), 0px 20px 10px rgba(0, 0, 0, 0);

        }


        &:nth-last-child(2) {
            animation-delay: 0.6s;
        }

        &:nth-last-child(3) {
            animation-delay: 0.4s;
        }




        &:last-of-type {
            margin-right: 0px;
        }

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: inherit;
            position: absolute;
            z-index: -1;
            box-shadow: inset 0px 2px 3px rgba(255, 255, 255, 0.4);
            background: linear-gradient(0deg, rgba(28, 0, 200, 0.7), rgba(141, 44, 217, 0.7)), linear-gradient(0deg, rgba(68, 68, 68, 0.4), rgba(68, 68, 68, 0.2)), rgba(255, 255, 255, 0.6);
        }

        &:hover {
            height: 300px;
            box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.2), 0px 3px 8px rgba(0, 0, 0, 0.42), 0px 20px 10px rgba(0, 0, 0, 0);

            @include sm {
                height: 160px;

            }

            .videos {

                &__play {
                    opacity: 1;
                    width: 48px;
                    height: 48px;
                    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);

                    @include sm {
                        width: 32px;
                        height: 32px;
                        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
                        opacity: 0.5;
                    }
                }

                &__name {
                    bottom: 20px;
                    visibility: visible;

                    @include sm {
                        bottom: 10px;
                    }

                    &:before {
                        width: calc(100% + 20px);
                    }
                }
            }

        }

    }


}

.modal {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow-x: hidden;

    &:before {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background: #444444;
        right: 0;
        bottom: 0;
        z-index: -2;
        background: linear-gradient(180deg, rgba(140, 71, 205, 0.4), transparent), rgba(68, 68, 68, 0.8);
        transition: all 0.5s 0.3s ease;
        opacity: 0;
        backdrop-filter: blur(5px);
    }

    &__container {
        width: 80%;
        max-width: 1280px;
        margin: 40px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: white;
        box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.31), 0px 3px 8px rgba(0, 0, 0, 0.42);
        border-radius: 6px;
        padding: 80px 5%;
        transform: perspective(100em) rotateY(20deg) translateX(400px);
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;


        @include sm {
            width: calc(100% - 40px);
            margin: 0px auto;
            padding: 60px 20px;

        }
    }

    &__icon {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        transform: perspective(0em) rotateX(0px);
        transition: all 0.3s $cubic;


        img {
            width: 100%;
        }

        @include sm {
            width: 16px;
            height: 16px;
        }

        &:hover {
            transform: rotate(90deg) scale(1.2);
        }
    }

    &__video {
        position: relative;
        padding-bottom: 56.25vh;
        padding-top: 30px;
        width: 100%;
        height: 0;
        overflow: hidden;

        @include sm {
            padding-bottom: 26.25vh;
        }


        iframe {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.open {
        visibility: visible;

        &:before {
            width: 100%;
            opacity: 1;
            transition: all 0.4s ease;
        }

        .modal {
            &__container {
                opacity: 1;
                visibility: visible;
                transform: perspective(0em) rotateY(0deg) translateX(0px);
                transition: transform 0.8s 0.4s $cubic2, opacity 0.8s 0.4s $cubic2;
            }
        }
    }
}