#login-form {
    --primary: #6D58FF;
    --primary-dark: #362A89;
    --dark: #2B3044;
    --grey-dark: #404660;
    --grey: #8A91B4;
    --grey-light: #A6ACCD;
    --light: #BBC1E1;
    --pale: #ECEFFC;
    --white: #FFFFFF;
    --red: #F04949;
    width: 100%;
    max-width: 180px;
    .logo {
        width: 44px;
        height: 44px;
        display: block;
        margin: 0 auto;
        fill: var(--primary);
    }
    h1 {
        margin: 24px 0;
        font-family: inherit;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: var(--dark);
    }
    .input {
        position: relative;
        label {
            pointer-events: none;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.5;
            position: absolute;
            top: 8px;
            left: 0;
            transform-origin: 0 50%;
            transform: translateY(var(--label-y, 0)) scale(var(--label-scale, 1)) translateZ(0);
            transition: transform .3s, color .3s;
            color: var(--label-color, var(--grey-light));
        }
        input {
            width: 100%;
            border-radius: 0;
            -webkit-appearance: none;
            &:not(:placeholder-shown),
            &:focus {
                & + label {
                    --label-y: -17px;
                    --label-scale: .8;
                    --label-color: var(--grey);
                }
            }
        }
        &.email {
            margin-bottom: 16px;
            input {
                background: none;
                outline: none;
                border: none;
                color: var(--grey-dark);
                font-weight: 500;
                font-family: inherit;
                font-size: 13px;
                letter-spacing: .025em;
                line-height: 22px;
                caret-color: var(--primary);
                padding: 7px 0 5px 0;
                box-shadow: inset 0 -1px 0 0 var(--grey);
            }
        }
        &.password {
            height: 34px;
            .dots {
                position: absolute;
                display: flex;
                left: 0;
                top: 50%;
                transform: translateY(-2px);
                i {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: var(--grey-dark);
                    display: block;
                    margin-right: 4px;
                    animation: var(--name, scale-in) .05s linear forwards;
                    &.remove {
                        --name: scale-out;
                    }
                    $i: 1;
                    @while $i <= 15 {
                        $delay: 400 - 6.5 * $i;
                        &:nth-child(#{$i}) {
                            --delay: #{$delay}ms;
                        }
                        $i: $i + 1;
                    }
                }
            }
            .cursor {
                position: absolute;
                height: 15px;
                width: 1px;
                left: 0;
                top: 10px;
                background: var(--primary);
                opacity: 0;
                transform: translateX(var(--cursor-x, 0));
                transition: transform var(--cursor-duration, .1s);
            }
            input {
                opacity: 0;
                padding: 0;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                &:focus {
                    & + label + .cursor {
                        animation: cursor 1s ease infinite;
                    }
                }
            }
        }
        .line,
        .tick {
            pointer-events: none;
            position: absolute;
            left: var(--left, 0);
            bottom: var(--bottom, -10px);
            opacity: var(--opacity, 1);
            transition: opacity 0s linear var(--tick-opacity-delay, .5s);
            svg {
                stroke: var(--line-stroke, var(--grey));
                stroke-width: 1;
                fill: none;
                display: block;
                width: var(--width, 900px);
                height: var(--height, 22px);
                transform: translateX(var(--x, var(--line-x, 0)));
                transition: transform var(--line-x-duration, 0s) ease, stroke .3s;
            }
        }
        .line {
            overflow: hidden;
            width: 100%;
            transform-origin: 0 50%;
        }
        .tick {
            --left: 100%;
            --bottom: -1px;
            --width: 32px;
            --height: 28px;
            --x: -16px;
            --opacity: 0;
            svg {
                stroke: var(--tick-stroke, var(--grey));
                stroke-dasharray: 17 81;
                stroke-dashoffset: var(--tick-offset, 34px);
                transition: stroke-dashoffset .5s ease var(--tick-delay, 0s), stroke .5s ease var(--tick-delay, 0s);
            }
        }
    }
    button {
        border: none;
        outline: none;
        padding: 10px 0;
        margin: 24px 0 0 0;
        border-radius: 7px;
        color: var(--c, #fff);
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        position: relative;
        font-family: inherit;
        font-weight: 500;
        background: var(--b, var(--primary-dark));
        transition: color .3s, background .3s;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        &:disabled {
            --b: var(--pale);
            --c: var(--grey-light);
            cursor: not-allowed;
        }
        svg {
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -8px 0 0 -8px;
            fill: none;
            stroke: currentColor;
            stroke-linecap: round;
            stroke-width: 1.5;
            opacity: var(--svg-o, 0);
            transform: translateY(var(--svg-y, -16px)) rotate(-90deg) scale(var(--svg-s, .7)) translateZ(0);
            transition: transform .3s, opacity .3s;
            circle {
                &:first-child {
                    stroke-opacity: .1;
                }
                &:last-child {
                    stroke-dasharray: 38px;
                    stroke-dashoffset: 114px;
                }
            }
        }
        span {
            display: inline-block;
            vertical-align: top;
            line-height: 16px;
            opacity: var(--span-o, 1);
            transform: translateY(var(--span-y, 0)) scale(var(--span-s, 1)) translateZ(0);
            transition: transform .3s, opacity .3s;
        }
    }
    &.processing {
        &:not(.error):not(.success) {
            button {
                --svg-y: 0;
                --svg-s: 1;
                --svg-o: 1;
                --span-y: 16px;
                --span-s: .7;
                --span-o: 0;
                svg {
                    circle {
                        &:last-child {
                            animation: load 1.2s linear .3s;
                        }
                    }
                }
            }
        }
        &.error {
            --line-x: -80%;
            --line-x-duration: 2s;
            --line-stroke: var(--red);
            --cursor-duration: 1s;
            .dots {
                i {
                    animation: flip .4s linear var(--delay) forwards;
                }
            }
        }
        &.success {
            .input {
                .tick {
                    --opacity: 1;
                    --tick-offset: 98px;
                    --tick-delay: .45s;
                    --tick-opacity-delay: 0s;
                    --tick-stroke: var(--primary);
                    animation: tick .4s linear forwards;
                }
                .line {
                    animation: line .5s linear forwards;
                }
            }
        }
    }
}

@keyframes tick {
    70%,
    80% {
        transform: translateX(-10px);
    }
}

@keyframes line {
    70% {
        transform: scaleX(.8);
    }
}

@keyframes flip {
    25% {
        transform: translateY(8px);
    }
    35% {
        transform: translateY(12px);
    }
    65% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(-12px) scale(0);
    }
}

@keyframes load {
    from {
        stroke-dashoffset: 114px;
    }
    to {
        stroke-dashoffset: 38px;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scale-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes cursor {
    50% {
        opacity: 1;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    font-family: 'Inter', 'Inter UI', Arial;
    justify-content: center;
    align-items: center;
    background: #F6F8FF;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
    .twitter {
        position: fixed;
        display: block;
        right: 64px;
        bottom: 14px;
        svg {
            width: 32px;
            height: 32px;
            fill: #1da1f2;
        }
    }
}