.introAnimation {

		background: #010102;
		font-size: 100%;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: rgb( 255 , 255 , 255 );
		margin: 0em;
		padding: 0em;
		width: 100%;
		height: 100%;

	}
	.Block_ATF {

		position: relative;
		width: 100%;
		margin: 7.5em auto 0em auto;
		text-align: center;
		overflow-x: hidden;
	}
	.Block_ATF._Off {  display: none;  }

	.ATF_Title {

		position: relative;
		margin: 0em auto;
		padding: 0em;
		font-size: 9.0em;
		font-weight: bold;
		letter-spacing: -0.015em;
		line-height: 0.9;
	}
	.ttlTxt {

		display: inline-block;
	}

	.ttlTxt.ch0 {

		transition: transform 0.5s;
		transform: translate(-15em,0em);
	}
	.ttlTxt.ch0._On {

		transform: translate(0em,0em);
	}

	.ttlTxt.ch1 {

		transition: transform 0.5s;
		transform: translate(-13em,0em);
	}
	.ttlTxt.ch1._On {

		transform: translate(0em,0em);
	}

	.ttlTxt.ch2 {

		transition: transform 0.5s;
		transform: scale(0,0);
	}
	.ttlTxt.ch2._On {

		transform: scale(1,1);
	}

	.ttlTxt.ch3 {

		transition: transform 0.5s;
		transform: translate(15em,0em);
	}
	.ttlTxt.ch3._On {

		transform: translate(0em,0em);
	}

	.ttlTxt.ch4 {

		transition: transform 0.5s;
		transform: translate(13em,0em);
	}
	.ttlTxt.ch4._On {

		transform: translate(0em,0em);
	}

	.Dots_sB {

		margin: 1.0em auto;
	}
	.LogoDot {

		display: inline-block;
		width: 2.0em;
		height: 2.0em;
		margin: 0em 0.5em;
		border-radius: 50%;
		transform: scale(0,0);
	}
	.LogoDot.drkOrng {  background-color: rgb( 255 , 117 , 18 );  }
	.LogoDot.ltOrng {  background-color: rgb( 255 , 149 , 18 );  }
	.LogoDot.ylw {

		background-color: rgb( 255 , 199 , 18 );
		transform: scale(1,1);
	}
	.LogoDot.grn {  background-color: rgb( 210 , 234 , 18 );  }
	.LogoDot.blu {  background-color: rgb( 31 , 168 , 255 );  }

	@keyframes logoDot_0 {

		0%	{  transform: scale(0,0);  }
		25%	{  transform: scale(0.65,0.65);  }
		75%	{  transform: scale(1.25,1.25);  }
		100%	{  transform: scale(1,1);  }
	}
	.LogoDot._On {

		animation: logoDot_0 0.25s ease-in forwards;
	}

	.Airtime_Station_sB {

		font-size: 2em;
		font-weight: normal;
		margin: 0em auto;
		padding: 0em;
		letter-spacing: 0.05em;
		transition: opacity 1s;
		opacity: 0;
	}
	.Airtime_Station_sB._On {  opacity: 1;  }

	.tbsLogo_sB {

		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
	.hlfCrcl {

		position: relative;
		top: -0.75em;
		margin: auto;
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		background-color: rgb( 255 , 255 , 255 );
		/*z-index: -1;*/
	}
	.crcl_tpHlfMask {  position: absolute; top: 0em; left: 0em; width: 100%; height: 50%; background-color: rgb( 0 , 0 , 0 ); z-index: -1;  }

	.sntcPrd {  font-size: 0.5em; position: absolute; right: -0.5em; bottom: -0.5em;  }

	.Website_URL_sB {

		font-size: 1.5em;
		font-weight: bold;
		margin: 1.0em auto;
		padding: 0em;
		transition: opacity 1s;
		opacity: 0;
	}
	.Website_URL_sB._On {  opacity: 1;  }
	@media ( max-width : 400px ) {

		.introAnimation {  font-size: 50%;  }
		.ATF_Title {  font-size: 7.0em;  }
		.Airtime_Station_sB {  font-size: 1.5em;  }
	}
	@media ( min-width : 401px ) and ( max-width : 600px ) {

		.introAnimation {  font-size: 60%;  }
		.ATF_Title {  font-size: 9.0em;  }
		.Airtime_Station_sB {  font-size: 2em;  }
	}
	@media ( min-width : 601px ) and ( max-width : 800px ) {

		.introAnimation {  font-size: 80%;  }
	}
	@media ( min-width : 801px ) and ( max-width : 1000px ) {

		.introAnimation {  font-size: 90%;  }
	}
	@media ( min-width : 1001px ) and ( max-width : 1200px ) {

		.introAnimation {  font-size: 100%;  }
	}
	@media ( min-width : 1201px ) and ( max-width : 1400px ) {

		.introAnimation {  font-size: 100%;  }
	}
	@media ( min-width : 1401px ) {

		.introAnimation {  font-size: 125%;  }
	}