h1.title ナナメなやつら

- for (var i = 0; i < 3; i++)
  div.sections
    section.sections_item
      div.sections_inner
        h2.sections_heading 見出し
        p.sections_text テキストテキストテキストテキストテキストテキスト
        p.sections_pic: img(src="https://placehold.it/800x600" alt="")
    section.sections_item
      div.sections_inner
        h2.sections_heading 見出し
        p.sections_text テキストテキストテキストテキストテキストテキスト
        p.sections_pic: img(src="https://placehold.it/800x600" alt="")
