@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Dancing+Script&display=swap');
body {
    background: black;
    color: white;
    font-size: 15px;
    font-family: Raleway;
    overflow: hidden;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url("sexflix.sgv");
    /* background-image: url("https://imgur.com/iArVwti.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20000;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}

#container netflixintro {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation-name: zoom-in;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-size: 4000px;
    background-position: -1950px 0;
}

#container netflixintro::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #000000;
    width: 150%;
    height: 30%;
    left: -25%;
    bottom: -27%;
    border-radius: 50%;
    z-index: 5;
    transform-origin: left center;
    background-size: 4000px;
    background-position: -1950px 0;
}

#container netflixintro[letter=N] {
    transform-origin: 30% center;
}

#container netflixintro[letter=N] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 22.4%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=N] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

#container netflixintro[letter=N] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=N] .helper-3 {
    width: 19%;
    height: 150%;
    left: 40.5%;
    top: -25%;
    transform: rotate(-19.5deg);
    box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#container netflixintro[letter=N] .helper-3 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#container netflixintro[letter=N] .helper-2 {
    width: 19.5%;
    height: 100%;
    left: 57.8%;
    top: 0;
    transform: rotate(180deg);
    overflow: hidden;
}

#container netflixintro[letter=N] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#container netflixintro[letter=E] {
    transform-origin: 30% center;
}

#container netflixintro[letter=E] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 22%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=E] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

#container netflixintro[letter=E] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=E] .helper-2 {
    width: 17.5%;
    height: 50%;
    left: 38%;
    top: -49px;
    transform: rotate(270deg);
    overflow: hidden;
}

#container netflixintro[letter=E] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#container netflixintro[letter=E] .helper-3 {
    width: 17%;
    height: 39%;
    left: 33%;
    top: 29%;
    transform: rotate(-90deg);
    box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    animation-name: fading-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#container netflixintro[letter=E] .helper-3 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

#container netflixintro[letter=E] .helper-4 {
    width: 17.5%;
    height: 50%;
    left: 38%;
    top: 196px;
    transform: rotate(270deg);
    overflow: hidden;
}

#container netflixintro[letter=E] .helper-4 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    animation-delay: 0.5s;
}

#container netflixintro[letter=T] {
    transform-origin: center center;
}

#container netflixintro[letter=T] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 38%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=T] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#container netflixintro[letter=T] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=T] .helper-2 {
    width: 17.5%;
    height: 54%;
    left: 39%;
    top: -55px;
    transform: rotate(270deg);
    overflow: hidden;
}

#container netflixintro[letter=T] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#container netflixintro[letter=F] {
    transform-origin: 30% center;
}

#container netflixintro[letter=F] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 22%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=F] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

#container netflixintro[letter=F] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=F] .helper-2 {
    width: 17.5%;
    height: 50%;
    left: 38%;
    top: -49px;
    transform: rotate(270deg);
    overflow: hidden;
}

#container netflixintro[letter=F] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

#container netflixintro[letter=F] .helper-3 {
    width: 17%;
    height: 39%;
    left: 33%;
    top: 29%;
    transform: rotate(-90deg);
    box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    animation-name: fading-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#container netflixintro[letter=F] .helper-3 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#container netflixintro[letter=L] {
    transform-origin: 30% center;
}

#container netflixintro[letter=L] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 22%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=L] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

#container netflixintro[letter=L] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=L] .helper-2 {
    width: 17.5%;
    height: 50%;
    left: 38%;
    top: 196px;
    transform: rotate(270deg);
    overflow: hidden;
}

#container netflixintro[letter=L] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

#container netflixintro[letter=I] {
    transform-origin: center center;
}

#container netflixintro[letter=I] .helper-1 {
    width: 19.5%;
    height: 100%;
    background-color: rgba(228, 9, 19, 0.5);
    left: 38%;
    top: 0;
    transform: rotate(180deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=I] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#container netflixintro[letter=I] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=X] {
    transform-origin: center center;
}

#container netflixintro[letter=X] .helper-1 {
    width: 19%;
    height: 150%;
    left: 40.5%;
    top: -25%;
    transform: rotate(-19.5deg);
    animation-name: fading-lumieres-box;
    animation-duration: 2s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#container netflixintro[letter=X] .helper-1 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

#container netflixintro[letter=X] .helper-1 .effect-brush [class*=fur-] {
    bottom: 0;
    height: 40%;
}

#container netflixintro[letter=X] .helper-2 {
    width: 19%;
    height: 150%;
    left: 40.5%;
    top: -25%;
    transform: rotate(19.5deg);
    overflow: hidden;
}

#container netflixintro[letter=X] .helper-2 .effect-brush {
    animation-name: brush-moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#container netflixintro [class*=helper-] {
    position: absolute;
}

#container netflixintro [class*=helper-] .effect-brush {
    position: absolute;
    width: 100%;
    height: 300%;
    top: 0;
    overflow: hidden;
}

#container netflixintro [class*=helper-] .effect-brush::before {
    display: block;
    content: "";
    position: absolute;
    background-color: #e40913;
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 29px 24px #e40913;
}

#container netflixintro [class*=helper-] .effect-brush [class*=fur-] {
    display: block;
    position: absolute;
    bottom: 10%;
    height: 30%;
}

#container netflixintro [class*=helper-] .effect-brush .fur-1 {
    left: 0%;
    width: 3.8%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-2 {
    left: 3.8%;
    width: 2.8%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 10%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-3 {
    left: 6.6%;
    width: 4.8%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-4 {
    left: 11.4%;
    width: 4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 23%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-5 {
    left: 15.4%;
    width: 4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-6 {
    left: 19.4%;
    width: 2.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, rgba(0, 0, 0, 0) 89%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-7 {
    left: 21.9%;
    width: 4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 20%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-8 {
    left: 25.9%;
    width: 2%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-9 {
    left: 27.9%;
    width: 4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 35%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-10 {
    left: 31.9%;
    width: 3.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-11 {
    left: 35.4%;
    width: 2%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-12 {
    left: 37.4%;
    width: 2.6%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 22%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-13 {
    left: 40%;
    width: 6%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-14 {
    left: 46%;
    width: 2%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 36%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-15 {
    left: 48%;
    width: 5.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 29%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-16 {
    left: 53.5%;
    width: 3%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-17 {
    left: 56.5%;
    width: 4.1%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 45%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-18 {
    left: 60.6%;
    width: 2.4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-19 {
    left: 63%;
    width: 4%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-20 {
    left: 67%;
    width: 1.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-21 {
    left: 68.5%;
    width: 2.8%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-22 {
    left: 71.3%;
    width: 2.3%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 9%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-23 {
    left: 73.6%;
    width: 2.2%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-24 {
    left: 75.8%;
    width: 1%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-25 {
    left: 76.8%;
    width: 2.1%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-26 {
    left: 78.9%;
    width: 4.1%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-27 {
    left: 83%;
    width: 2.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 21%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-28 {
    left: 85.5%;
    width: 4.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-29 {
    left: 90%;
    width: 2.8%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-30 {
    left: 92.8%;
    width: 3.5%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 19%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-brush .fur-31 {
    left: 96.3%;
    width: 3.7%;
    background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
}

#container netflixintro [class*=helper-] .effect-lumieres {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: showing-lumieres;
    animation-duration: 2s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

#container netflixintro [class*=helper-] .effect-lumieres [class*=lamp-] {
    position: absolute;
    display: block;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
    background: var(--color);
}

#container netflixintro [class*=helper-] .effect-lumieres [class*=lamp-]::before {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--color);
    box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-1 {
    --color: #ff0100;
    z: 6;
    left: 0.7%;
    width: 1%;
    animation-delay: 0.7s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-1::before {
    left: 105%;
    animation-delay: 0.82s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-2 {
    --color: #ffde01;
    left: 2.2%;
    width: 1.4%;
    animation-delay: 1.7s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-2::before {
    left: 31%;
    animation-delay: 0.12s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-3 {
    --color: #ff00cc;
    left: 5.8%;
    width: 2.1%;
    animation-delay: 1.77s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-3::before {
    left: 109%;
    animation-delay: 1.05s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-4 {
    --color: #04fd8f;
    left: 10.1%;
    width: 2%;
    animation-delay: 1.58s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-4::before {
    left: 64%;
    animation-delay: 0.72s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-5 {
    --color: #ff0100;
    left: 12.9%;
    width: 1.4%;
    animation-delay: 1.09s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-5::before {
    left: 136%;
    animation-delay: 0.95s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-6 {
    --color: #ff9600;
    left: 15.3%;
    width: 2.8%;
    animation-delay: 1.41s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-6::before {
    left: 111%;
    animation-delay: 0.3s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-7 {
    --color: #0084ff;
    left: 21.2%;
    width: 2.5%;
    animation-delay: 1.16s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-7::before {
    left: 162%;
    animation-delay: 1.88s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-8 {
    --color: #f84006;
    left: 25%;
    width: 2.5%;
    animation-delay: 0.25s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-8::before {
    left: 135%;
    animation-delay: 0.57s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-9 {
    --color: #ffc601;
    left: 30.5%;
    width: 3%;
    animation-delay: 0.05s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-9::before {
    left: 49%;
    animation-delay: 0.97s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-10 {
    --color: #ff4800;
    left: 36.3%;
    width: 3%;
    animation-delay: 1.28s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-10::before {
    left: 137%;
    animation-delay: 0.49s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-11 {
    --color: #fd0100;
    left: 41%;
    width: 2.2%;
    animation-delay: 0.4s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-11::before {
    left: 52%;
    animation-delay: 0.22s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-12 {
    --color: #01ffff;
    left: 44.2%;
    width: 2.6%;
    animation-delay: 1.96s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-12::before {
    left: 133%;
    animation-delay: 1.75s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-13 {
    --color: #ffc601;
    left: 51.7%;
    width: 0.5%;
    animation-delay: 2s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-13::before {
    left: 17%;
    animation-delay: 0.47s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-14 {
    --color: #ffc601;
    left: 52.1%;
    width: 1.8%;
    animation-delay: 0.22s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-14::before {
    left: 75%;
    animation-delay: 0.15s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-15 {
    --color: #0078fe;
    left: 53.8%;
    width: 2.3%;
    animation-delay: 0.23s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-15::before {
    left: 37%;
    animation-delay: 0.08s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-16 {
    --color: #0080ff;
    left: 57.2%;
    width: 2%;
    animation-delay: 0.1s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-16::before {
    left: 108%;
    animation-delay: 1.29s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-17 {
    --color: #ffae01;
    left: 62.3%;
    width: 2.9%;
    animation-delay: 1.48s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-17::before {
    left: 191%;
    animation-delay: 1.94s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-18 {
    --color: #ff00bf;
    left: 65.8%;
    width: 1.7%;
    animation-delay: 0.52s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-18::before {
    left: 18%;
    animation-delay: 0.5s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-19 {
    --color: #a601f4;
    left: 72.8%;
    width: 0.8%;
    animation-delay: 0.92s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-19::before {
    left: 194%;
    animation-delay: 0.63s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-20 {
    --color: #f30b34;
    left: 74.3%;
    width: 2%;
    animation-delay: 1.06s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-20::before {
    left: 4%;
    animation-delay: 1.47s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-21 {
    --color: #ff00bf;
    left: 79.8%;
    width: 2%;
    animation-delay: 0.06s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-21::before {
    left: 109%;
    animation-delay: 1.93s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-22 {
    --color: #04fd8f;
    left: 78.2%;
    width: 2%;
    animation-delay: 0.88s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-22::before {
    left: 5%;
    animation-delay: 1.84s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-23 {
    --color: #01ffff;
    left: 78.5%;
    width: 2%;
    animation-delay: 1.56s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-23::before {
    left: 12%;
    animation-delay: 0.82s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-24 {
    --color: #a201ff;
    left: 85.3%;
    width: 1.1%;
    animation-delay: 0.38s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-24::before {
    left: 137%;
    animation-delay: 1.17s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-25 {
    --color: #ec0014;
    left: 86.9%;
    width: 1.1%;
    animation-delay: 1.72s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-25::before {
    left: 72%;
    animation-delay: 0.09s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-26 {
    --color: #0078fe;
    left: 88.8%;
    width: 2%;
    animation-delay: 1.41s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-26::before {
    left: 34%;
    animation-delay: 1.38s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-27 {
    --color: #ff0036;
    left: 92.4%;
    width: 2.4%;
    animation-delay: 1s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-27::before {
    left: 158%;
    animation-delay: 1.9s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-28 {
    --color: #06f98c;
    left: 96.2%;
    width: 2.1%;
    animation-delay: 1.6s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-28::before {
    left: 93%;
    animation-delay: 0.91s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-1,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-3,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-5,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-7,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-9,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-11,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-13,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-15,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-17,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-19,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-21,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-23,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-25,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-27 {
    animation-name: lumieres-moving-left;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-1::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-3::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-5::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-7::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-9::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-11::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-13::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-15::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-17::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-19::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-21::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-23::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-25::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-27::before {
    animation-name: lumieres-moving-left;
    animation-duration: 5.5s;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-2,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-4,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-6,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-8,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-10,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-12,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-14,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-16,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-18,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-20,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-22,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-24,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-26,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-28 {
    animation-name: lumieres-moving-right;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#container netflixintro [class*=helper-] .effect-lumieres .lamp-2::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-4::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-6::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-8::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-10::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-12::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-14::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-16::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-18::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-20::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-22::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-24::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-26::before,
#container netflixintro [class*=helper-] .effect-lumieres .lamp-28::before {
    animation-name: lumieres-moving-right;
    animation-duration: 5.5s;
}

@keyframes brush-moving {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes fading-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes lumieres-moving-right {
    0% {
        transform: translate(0);
    }
    40% {
        transform: translate(-10px) scaleX(1);
    }
    50% {
        transform: translate(-60px);
    }
    100% {
        transform: translate(-120px) scaleX(3);
    }
}

@keyframes lumieres-moving-left {
    0% {
        transform: translate(0);
    }
    40% {
        transform: translate(10px) scaleX(1);
    }
    50% {
        transform: translate(60px);
    }
    100% {
        transform: translate(120px) scaleX(3);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(15);
    }
}

@keyframes showing-lumieres {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fading-lumieres-box {
    0% {
        background-color: rgba(228, 9, 19, 0.5);
    }
    100% {
        background-color: rgba(228, 9, 19, 0);
    }
}

#netflix {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    font-size: 15px;
    font-family: Raleway;
    overflow: hidden;
}

#choose-person {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 15000;
    overflow-y: scroll;
    overflow-x: hidden;
}

#choose-text {
    position: absolute;
    top: 70px;
    left: 0;
    height: 50px;
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

#netflix-heading {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100vw;
    height: 100px;
    background-image: url("https://imgur.com/4vhuogo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.profiles {
    position: absolute;
    height: 200px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#Tareq {
    top: 80px;
    left: calc(50vw - 125px);
    background-image: url("https://imgur.com/brHyoWt.jpg");
}

#abhishek {
    top: 80px;
    left: calc(50vw + 25px);
    background-image: url("https://imgur.com/PGBeoiI.jpg");
}

#sunny {
    top: 210px;
    left: calc(50vw - 125px);
    background-image: url("https://imgur.com/Rw3XXcs.jpg");
}

#stuti {
    top: 210px;
    left: calc(50vw + 25px);
    background-image: url("https://imgur.com/b6upFC1.jpg");
}

#mittal {
    top: 340px;
    left: calc(50vw - 125px);
    background-image: url("https://imgur.com/IxcMv9P.jpg");
}


/* ------------------ main (home page) -------------------- */

#main {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
}

#netflix-logo {
    position: absolute;
    top: 5px;
    left: -40px;
    background: url("https://imgur.com/nd9ZTHb.png");
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 12;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1000;
}

#navbar {
    position: absolute;
    height: 50px;
    width: 100%;
    left: 50px;
    top: 0;
    padding: 10px;
    background: transparent;
}

.navbar-element {
    font-size: 25px;
    position: relative;
    display: inline;
    margin-left: 4%;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(500px + 40vw);
    width: 100%;
    background: url("https://imgur.com/8aMvzW2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cover {
    position: absolute;
    top: 0;
    left: 85%;
    height: 40px;
    width: 15%;
    background: black;
}

.top-div {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(600px + 40vw);
    width: 100%;
    background: linear-gradient(180deg, transparent 45%, black 76%);
}

#top-genres {
    position: absolute;
    top: calc(480px + 20vw);
    left: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

#top-add-list {
    position: absolute;
    top: calc(515px + 20vw);
    left: calc(50% - 42.5px - 80px - 12vw);
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 180%;
}

#plus {
    font-size: 70px;
    font-weight: 100;
}

#top-add-list-text {
    font-weight: 100;
    font-size: 12px;
}

span {
    color: rgb(200, 100, 0);
    font-size: 15px;
}

#play {
    position: absolute;
    top: calc(527px + 20vw);
    left: calc(50% - 42.5px);
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: 800;
}

#triangle {
    height: 15px;
    width: 15px;
}

#play-text {
    display: inline;
    position: relative;
    margin-left: 6px;
}

#info {
    position: absolute;
    left: calc(50% + 42.5px + 12vw);
    height: 50px;
    width: 50px;
    top: calc(520px + 20vw);
    color: white;
}

#info-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: url("https://imgur.com/Z8D5OEv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
}

#info-text {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 240%;
    font-weight: 100;
}

.row-heading {
    font-weight: 800;
    font-size: 25px;
    margin-left: 10px;
    color: white;
}

.row-movies {
    position: absolute;
    top: 0;
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row-movies-holder {
    position: relative;
    top: 10px;
    height: 120px;
    overflow-x: scroll;
    padding: 10px;
}

::-webkit-scrollbar {
    height: 7px;
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 0, 0);
}

.row {
    z-index: 10;
    position: relative;
    top: calc(600px + 20vw);
    width: 100%;
}

#available-now {
    position: absolute;
    z-index: 20;
    width: 100%;
    top: calc(820px + 20vw);
}

#available-heading {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 800;
}

#available-image {
    background-image: url("https://imgur.com/OSEL8NP.jpg");
    background-size: cover;
    width: 100vw;
    height: 57.13vw;
    background-repeat: no-repeat;
    margin-top: 5px;
}

#play2 {
    position: absolute;
    top: calc(57.13vw + 45px);
    height: 35px;
    width: 44vw;
    left: 4vw;
    border-radius: 5px;
    background: white;
    color: black;
    padding-top: 4px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 35px;
    font-weight: 600;
}

#play2:hover {
    background: rgba(255, 255, 255, 0.4);
}

#add-to-list {
    position: absolute;
    top: calc(57.13vw + 45px);
    height: 35px;
    width: 44vw;
    left: 52vw;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 4px;
}

#add-to-list:hover {
    background: rgba(255, 255, 255, 0.4);
}

u {
    position: absolute;
    top: -5px;
    left: 12vw;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
}

#my-list {
    position: absolute;
    top: 10px;
    left: calc(12vw + 30px);
    color: white;
}

.row2 {
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100vw;
}

.row2-heading {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 25px;
    color: white;
    font-weight: 900;
}

.row2-movies-holder {
    z-index: 20;
    position: relative;
    width: 100vw;
    top: 40px;
    left: 0;
    overflow-x: scroll;
}

.row2-movies {
    z-index: 30;
    position: absolute;
    border-radius: 3px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------------  movie page -------------------- */

#movie-page {
    z-index: 1100;
    position: absolute;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 0;
    transition: .5s;
    overflow-x: hidden;
    overflow-y: scroll;
}

#mp-bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -10px;
    left: 0;
    background-size: 130vw 182vw;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px) brightness(0.8);
}

#back {
    position: absolute;
    background: url("https://imgur.com/b8lJRU0.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 50px;
    top: 0;
    left: 0;
}

#mp-img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100vw;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#back-holder {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 100vw;
    height: 40px;
    width: 0;
    transition: .5s;
}

#mp-text {
    position: absolute;
    top: 230px;
    left: 0;
    height: 600px;
    width: 100vw;
}

#mp-gradience {
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    width: 100%;
    background: linear-gradient(180deg, transparent 10%, black 47%);
}

#mp-play {
    position: absolute;
    top: 25px;
    left: 5vw;
    height: 20px;
    width: 90vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background: white;
    border-radius: 3px;
    font-size: 18px;
    word-spacing: 8px;
    font-weight: 800;
}

#mp-play:active {
    background: rgb(150, 150, 150);
}

#mp-triangle {
    height: 15px;
    width: 15px;
}

#mp-download {
    position: absolute;
    top: 75px;
    left: 5vw;
    height: 20px;
    width: 90vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: rgba(50, 50, 50);
    border-radius: 3px;
    font-size: 18px;
    word-spacing: 8px;
    font-weight: 800;
}

#mp-download:active {
    background: rgb(100, 100, 100);
}

#mp-download-img {
    background: white;
    height: 15px;
    width: 15px;
}

#mp-synopsis {
    position: absolute;
    font-size: 15px;
    top: 130px;
    left: 5vw;
    width: 90vw;
    color: white;
}

#mp-add-list {
    position: absolute;
    top: 230px;
    left: 20px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 180%;
}

#mp-plus {
    font-size: 70px;
    font-weight: 100;
    color: white;
}

#mp-add-list-text {
    font-weight: 100;
    font-size: 12px;
}

#mp-rate {
    position: absolute;
    top: 230px;
    left: 120px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 180%;
}

#rate-thumb {
    height: 28px;
    width: 28px;
    background-image: url("https://imgur.com/rLVi4GP.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#mp-rate-text {
    position: absolute;
    font-weight: 100;
    font-size: 12px;
    top: 28px;
    left: 0;
}

.thumbs {
    z-index: 1110;
    position: fixed;
    top: 200px;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: calc(50vw - 20px);
    transition: .5s;
    background: white;
    filter: brightness(1.8);
}

#thumbs-up {
    background-image: url("https://imgur.com/iArC1rh.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    left: calc(50vw - 60px);
}

#thumbs-down {
    background-image: url("https://imgur.com/FVMIKtW.jpg");
    background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    left: calc(50vw + 20px);
}

#tab-bar-holder {
    position: absolute;
    top: 310px;
    left: 0;
    height: 2px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.3);
}

#tab-bar {
    position: absolute;
    top: 0;
    left: 5px;
    height: 5px;
    width: 130px;
    background: red;
    border-radius: 1px;
    transition: .2s linear;
}

#more-like-this {
    left: 15px;
}

#trailer {
    left: 160px;
    filter: brightness(0.5);
}

.mp-more {
    position: absolute;
    top: 330px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    transition: .2s linear;
}

#mp-more-like-this {
    position: absolute;
    top: 400px;
    left: 0;
    width: 92vw;
    height: 250px;
    transition: .3s;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.05);
    border-left: 3px solid red;
}

#mp-trailer {
    transition: .3s;
    position: absolute;
    top: 400px;
    left: 100vw;
    width: 92vw;
    background: rgba(255, 255, 255, 0.05);
    border-left: 3px solid red;
    outline: none;
}

.tab1-movies {
    position: absolute;
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 43.5vw;
    width: 29vw;
}

video {
    width: 92vw;
    outline: none;
}


/* ------------------ bottom tabs -------------------- */

#bottom-tabs-holder {
    position: fixed;
    top: calc(100vh - 50px);
    left: 0;
    height: 50px;
    width: 100vw;
    background: rgb(20, 20, 20);
    z-index: 10000;
    color: white;
}

.bottom-tabs {
    position: absolute;
    top: 0;
    height: 50px;
    width: 20vw;
    background: rgb(20, 20, 20);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#home-tab {
    background-image: url("https://imgur.com/0sSPl2R.jpg");
    left: 0;
}

#search-tab {
    background-image: url("https://imgur.com/qKVq7ng.jpg");
    left: 20vw;
    filter: brightness(0.5);
}

#coming-soon-tab {
    background-image: url("https://imgur.com/oyeQcut.jpg");
    left: 40vw;
    filter: brightness(0.5);
}

#downloads-tab {
    background-image: url("https://imgur.com/YFxHwiG.jpg");
    left: 60vw;
    filter: brightness(0.5);
}

#more-tab {
    background-image: url("https://imgur.com/gU0CyoK.jpg");
    left: 80vw;
    filter: brightness(0.5);
}


/* ------------------ search page -------------------- */

#search-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    z-index: 500;
    display: none;
}

#search-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 40px;
    width: 40px;
    background: url("https://imgur.com/XnvtbTs.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#audio-icon {
    position: absolute;
    top: 5px;
    left: calc(100vw - 55px);
    height: 40px;
    width: 40px;
    background: url("https://imgur.com/lXYziXE.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#search-bar {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 50px;
    width: calc(100vw - 10px);
    background: rgb(50, 50, 50);
}

#search-space {
    position: absolute;
    top: 5px;
    left: 50px;
    height: calc(100% - 10px);
    width: calc(100% - 100px);
}

input {
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

#search-results {
    position: absolute;
    top: 100px;
    left: 10px;
    height: calc(100vh - 160px);
    width: calc(100vw - 20px);
    overflow-y: scroll;
}

.sr-movies {
    position: absolute;
    width: 30vw;
    height: 45vw;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.no-result {
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://imgur.com/wf7JkwR.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


/* ------------------ coming soon page -------------------- */

#coming-soon-page {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: black;
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 600;
    display: none;
}

#notification-bar {
    position: absolute;
    top: 10px;
    left: 0;
    height: 40px;
    width: 100vw;
}

#not-img-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("https://imgur.com/WjLWwMO.jpg");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#not-img-2 {
    position: absolute;
    top: 0;
    left: calc(100% - 50px);
    height: 40px;
    width: 40px;
    background: url("https://imgur.com/wWXkPMR.jpg");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#nots {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 100vw;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition: .2s;
    background: black;
}

#no-nots {
    position: absolute;
    top: 45vh;
    left: 0;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

#nots-back {
    position: absolute;
    top: 5px;
    left: 0;
    height: 50px;
    width: 100vw;
    background: black;
    background-image: url("https://imgur.com/RoOTtw7.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.cs-movie-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vw;
    outline: none;
}

.cs-movie-icon {
    position: absolute;
    top: 50vw;
    left: 5px;
    height: 80px;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.cs-movie-name {
    position: absolute;
    top: calc(60vw + 30px);
    left: 5px;
    height: 30px;
    width: calc(100vw - 10px);
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.cs-movie-synopsis {
    position: absolute;
    top: calc(60vw + 75px);
    left: 10px;
    height: 50px;
    width: calc(100vw - 30px);
    color: rgba(255, 255, 255, 0.7);
}

.cs-movie-genre {
    position: absolute;
    top: calc(60vw + 140px);
    left: 10px;
    color: white;
    font-size: 12px;
}

.cs-movie {
    position: absolute;
    top: 50px;
    left: 0;
    height: 400px;
    width: 100vw;
}

.remind-me {
    position: absolute;
    top: 50vw;
    left: calc(100vw - 160px);
    height: 80px;
    width: 80px;
    background-size: 100% 100%;
    background-image: url("https://imgur.com/yLqWnvI.jpg");
}

.share {
    position: absolute;
    top: calc(50vw - 5px);
    left: calc(100vw - 90px);
    height: 80px;
    width: 80px;
    background-size: 100% 100%;
    background-image: url("https://imgur.com/zobm66k.jpg");
}

#downloads-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 700;
    display: none;
    overflow-y: scroll;
}

#dp-empty {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vw;
    width: 100vw;
    background-image: url("https://imgur.com/I81vCft.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#alert-box {
    position: absolute;
    top: 100vh;
    left: 10vw;
    height: 50px;
    width: 80vw;
    background: white;
    color: black;
    transition: .2s;
    border-radius: 5px;
    text-align: center;
    z-index: 10000;
    font-weight: 800;
    font-size: 15px;
}

.dp-movie {
    position: relative;
    top: 50px;
    left: 0;
    height: 150px;
    width: 100vw;
    background: rgb(20, 20, 20);
    color: white;
}

.dp-movie-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dp-movie-name {
    position: absolute;
    top: 10px;
    left: 120px;
    width: calc(100vw - 120px);
    height: calc(100% - 10px);
    color: white;
    font-size: 25px;
    font-weight: 900;
}

#more-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 800;
    display: none;
}

#more-my-list {
    position: relative;
    top: 50px;
    height: 50px;
    left: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.05);
}

#mml-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: transparent;
    height: 45px;
    width: calc(100vw - 5px);
    font-size: 30px;
}

#mml-arrow {
    position: absolute;
    top: 15px;
    left: calc(100vw - 50px);
    height: 45px;
    width: 50px;
    font-weight: 900;
    transform: rotate(90deg);
    font-size: 40px;
    transition: .1s;
}

#mml-movies {
    position: absolute;
    top: 50px;
    left: 0;
    height: 0;
    width: 100vw;
    transition: .2s;
    overflow-y: scroll;
    overflow-x: hidden;
}

#more-liked {
    position: relative;
    top: 50px;
    height: 50px;
    left: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.05);
}

#ml-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: transparent;
    height: 45px;
    width: calc(100vw - 5px);
    font-size: 30px;
}

#ml-arrow {
    position: absolute;
    top: 15px;
    left: calc(100vw - 50px);
    height: 45px;
    width: 50px;
    font-weight: 900;
    transform: rotate(90deg);
    font-size: 40px;
    transition: .1s;
}

#ml-movies {
    position: absolute;
    top: 50px;
    left: 0;
    height: 0;
    width: 100vw;
    transition: .2s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.more-page-movies {
    position: relative;
    top: 50px;
    left: 0;
    height: 100px;
    width: 100vw;
    background: rgb(20, 20, 20);
    color: white;
}

.mpm-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.mpm-name {
    position: absolute;
    top: 10px;
    left: 100px;
    width: calc(100vw - 120px);
    height: calc(100% - 10px);
    color: white;
    font-size: 20px;
    font-weight: 900;
}