@charset "UTF-8";
:root {
  --sans: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
  	cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: var(--sans);
}

p,
blockquote,
li {
  text-align: justify;
  line-height: 1.6rem;
}

blockquote {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  margin: 40px auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8rem;
}

blockquote:after {
  position: absolute;
  content: "”";
  font-size: 8rem;
  bottom: -40px;
  right: 10px;
}

a,
a:link,
a:visited {
  color: inherit;
}


.wrapper {
  margin: 0 auto;
  padding: 1.2rem;
  display: grid;
  justify-content: start;
  align-content: start;
  gap: 0 30px;
  grid-template-areas: "widgets" "header" "content" "sidebar" "footer";
}
.wrapper .main-head {
  grid-area: header;
  font-size: 1.2rem;
  padding: 1rem 0;

}
.wrapper .main-head h1 {
  border-bottom: 3px solid;

  line-height: 3.5rem;
  padding-bottom: 1rem;
}
.wrapper .head-widgets {
  grid-area: widgets;
  padding: 1rem 0;
}
.wrapper .content {
  grid-area: content;
  padding-bottom: 2rem;
}
.wrapper .side {
  grid-area: sidebar;
}
.wrapper .side p {
  text-align: left;
}
.wrapper .main-footer {
  grid-area: footer;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid;
  font-size: 0.9rem;
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 920px;
    grid-template-columns: 8fr 4fr;
    grid-template-areas: "header widgets" "content sidebar" "footer footer";
  }
}