@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/***VARIABLES***/

$anim-time: 10s;
/***MIXINS***/

@mixin meth-animation() {
  @for $i from 1 through 34 {
    &:nth-child(#{$i}) {
      @if $i % 2==0 {
        animation: meth-animation-even (random(150)*.1) + 5s linear infinite random(300)*-.1s;
      }
      @else {
        animation: meth-animation-odd (random(150)*.1) + 5s linear infinite random(300)*-.1s;
      }
    }
  }
}

@mixin word-animation-childs() {
  @for $i from 1 through 14 {
    &:nth-child(#{$i}) {
      animation: word-animation-#{$i} (random(20)*.1) + 5s ease-in-out infinite random(300)*-.1s;
    }
  }
}

@mixin word-animation() {
  @for $i from 1 through 14 {
    $xPos: (random(720) - 360) * 10;
    $yPos: (random(720) - 360) * 10;

    @keyframes word-animation-#{$i}{
      0% {
        opacity: 0;
        transform: translate3d( $xPos + 0px, $yPos + 0px, 0) scale(random(5));
      }
      20% {
        opacity: .1;
      }
      50% {
        opacity: .1;
      }
      100% {
        transform: translate3d( 0, 0, 0) scale(.01);
        opacity: 0;
      }
    }
  }
} 

/***STYLES***/

html{
  background: #012000;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

svg {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd;
    padding: 1vh;
    height: 85%;
    border: 5px solid #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: -webkit-radial-gradient(center, ellipse, #62c31d 0%, #0a4b0d 56%, #012000 100%);
    background: radial-gradient(ellipse at center, #62c31d 0%, #0a4b0d 56%, #012000 100%);
    box-shadow: 0px 0px 50px 0px #9FACA0;
  
    &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

    .fil1 {fill:#FFC128;fill-rule:nonzero}
    .fil2 {fill:#F7BA28;fill-rule:nonzero}
    .fil3 {fill:#E4A516;fill-rule:nonzero}
    .fil4 {fill:#F2B528;fill-rule:nonzero}
    .fil5 {fill:#E6AA28;fill-rule:nonzero}
    .fil6 {fill:#EFB326;fill-rule:nonzero}
    .fil7 {fill:#CD9416;fill-rule:nonzero}
    .fil9 {fill:#FFCC33;fill-rule:nonzero}
    .fil10 {fill:#FEC930;fill-rule:nonzero}
    .fil11 {fill:#F2B424;fill-rule:nonzero}
    .fil12 {fill:#F6C331;fill-rule:nonzero}
    .fil13 {fill:#F0BC31;fill-rule:nonzero}
    .fil14 {fill:#E1AE31;fill-rule:nonzero}
    .fil15 {fill:#E1AF34;fill-rule:nonzero}
    .fil16 {fill:#EDBA31;fill-rule:nonzero}
    .fil17 {fill:#E0AD29;fill-rule:nonzero}
    .fil19 {fill:#EFBC2D;fill-rule:nonzero}
    .fil20 {fill:#AC7000;fill-rule:nonzero}
    .fil21 {fill:#996601;fill-rule:nonzero}
    .fil22 {fill:#996600;fill-rule:nonzero}
    .fil24 {fill:#231F1F;fill-rule:nonzero}
    .fil27 {fill:#A26C28;fill-rule:nonzero}
    .fil28 {fill:#B47528;fill-rule:nonzero}
    .fil29 {fill:#FEFEFE;fill-rule:nonzero}

.background-word {
  fill: #FFF;
  fill-rule:nonzero;
  transform-origin: 50% 50%;
  @include word-animation-childs();
}

.beard {
  opacity: 0;
  animation: show-walter-2-3 $anim-time linear infinite alternate;
}

.glasses {
  fill: #000;
  animation: show-walter-1-2 $anim-time linear infinite alternate;
}

.moustache, .hair {
  animation: show-walter-1 $anim-time linear infinite alternate;
}

.eye-brow-left {
  fill: #1A0F00;
  fill-rule: nonzero;
  transform-origin: 30% 50%;
  animation: left-eyebrow-anim $anim-time linear infinite alternate;
}

.eye-brow-right {
  fill: #482A00;
  fill-rule: nonzero;
  transform-origin: 70% 50%;
  animation: right-eyebrow-anim $anim-time linear infinite alternate;
}

.sunGlasses {
  fill: #000;
  fill-rule: nonzero;
  opacity: 0;
  animation: show-walter-3 $anim-time linear infinite alternate;
}

g[class^="sun-glasses-meth"] {
  opacity: 0;
  animation: show-walter-3 $anim-time linear infinite alternate;
}

.sun-glasses-meth-left {
  clip-path: url(#id1)
}

.sun-glasses-meth-right {
  clip-path: url(#id0);
}

.sun-glasses-crystal {
  fill: #231F1F;
  fill-rule: nonzero;
  opacity: 0;
}

.meth-bit {
  fill: #00A0E3;
  transform-origin: 50% 50%;
  @include meth-animation();
}

@include word-animation();

@keyframes meth-animation-odd {
  0% {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg) rotatey(0deg);
  }
  100% {
    transform: translateY(300%) rotateZ(360deg) rotateX(360deg) rotatey(360deg);
    opacity: 0;
  }
}

@keyframes meth-animation-even {
  0% {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg) rotatey(0deg);
  }
  100% {
    transform: translateY(300%) rotateZ(-360deg) rotateX(-360deg) rotatey(-360deg);
    opacity: 0;
  }
}

@keyframes show-walter-1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-walter-1-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-walter-2-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-walter-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes left-eyebrow-anim {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes right-eyebrow-anim {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
