body {
    text-align: center;

    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0.93) 21%, rgba(133,226,255,0.66) 99%, rgba(237,237,237,0.66) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(21%, rgba(237,237,237,0.93)), color-stop(99%, rgba(133,226,255,0.66)), color-stop(100%, rgba(237,237,237,0.66)));
    background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0.93) 21%, rgba(133,226,255,0.66) 99%, rgba(237,237,237,0.66) 100%);
    background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0.93) 21%, rgba(133,226,255,0.66) 99%, rgba(237,237,237,0.66) 100%);
    background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0.93) 21%, rgba(133,226,255,0.66) 99%, rgba(237,237,237,0.66) 100%);
    background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(237,237,237,0.93) 21%, rgba(133,226,255,0.66) 99%, rgba(237,237,237,0.66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );

}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Press Start 2P', cursive;
}

h2:first-of-type {
    margin-top: 0.5em;

}
form {
  font-family: 'Shadows Into Light Two', cursive;
}

button {
  margin: 1em;
    font-family: 'Shadows Into Light Two', cursive;
    background-color: lightblue;
  }

tr,
td {
    border: 1px solid black;
    background-color: white;
}

table {
    border:10px ;
    border-color:  #0f153e;
    border-style: ridge;
    border-collapse: collapse;
    margin: 0 auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    }

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
.container1 {

  flex: 4;


}

.container2 {

    flex: 1;
}

@media (min-width: 500px){
  #flex {
    display: flex;
  }
  body {
        margin: auto;

}