* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 2rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 40rem;
}

.editor {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}

.textarea,
.textdisplay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Georgia, serif;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 2rem;
}

.textarea {
  border: 0;
  resize: none;
  background-color: transparent;
  color: transparent;
  caret-color: black;
}
.textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #444;
}
.textarea:-ms-input-placeholder {
  color: #444;
}
.textarea::placeholder {
  color: #444;
}

.textdisplay {
  outline: 3px solid hotpink;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  pointer-events: none;
}

.overflow {
  color: #fd545e;
  background-color: transparent;
}

.charcount {
  font-size: 0.875rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  text-align: right;
}

.textarea:focus {
  outline: 0;
}