@font-face {
  font-family: Pari-Match;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.eot?#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Bold.svg#Pari-Match-Bold) format("svg");
  font-weight: 700;
}

@font-face {
  font-family: Pari-Match;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.eot?#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline-speakers/fonts/Pari-Match-Regular.svg#Pari-Match-Regular) format("svg");
  font-weight: normal;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;

  overflow: hidden;
}
.ag-line-block {
  margin: 0 0 200px;

  position: relative;
}
.ag-line_text {
  line-height: .85;
  margin: 70px 0;

  letter-spacing: -.02em;
  text-transform: uppercase;
  text-align: center;
  font-family: Pari-Match, sans-serif;
  font-weight: 700;
  font-size: 120px;
  color: #4aec00;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #4aec00;
  -webkit-text-stroke-width: 3px;

  text-shadow: 2px 2px 30px rgba(74, 237, 0, .4);
}
.ag-line_light {
  height: 24.0625em;
  width: 42.875em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-lines/images/light.png) 50% 50%/100% 100% no-repeat;

  opacity: 0;

  position: absolute;
}
.ag-line_light-1 {
  top: -15em;
  right: -6em;

  -webkit-animation: mvsl-light-slide-1-ltr 7s ease-in-out 3s infinite normal;
  -moz-animation: mvsl-light-slide-1-ltr 7s ease-in-out 3s infinite normal;
  -o-animation: mvsl-light-slide-1-ltr 7s ease-in-out 3s infinite normal;
  animation: mvsl-light-slide-1-ltr 7s ease-in-out 3s infinite normal;
}
.ag-line_light-2 {
  left: -6em;
  bottom: -15em;

  -webkit-animation: mvsl-light-slide-2-ltr 7s ease-in-out 3s infinite normal;
  -moz-animation: mvsl-light-slide-2-ltr 7s ease-in-out 3s infinite normal;
  -o-animation: mvsl-light-slide-2-ltr 7s ease-in-out 3s infinite normal;
  animation: mvsl-light-slide-2-ltr 7s ease-in-out 3s infinite normal;
}

.ag-line-block__rtl {
  height: 200px;

  position: relative;
}
.ag-line_light-1__rtl {
  top: -12em;
  right: -6em;

  -webkit-animation: mvsl-light-slide-1-rtl 5s ease-in-out 5s infinite normal;
  -moz-animation: mvsl-light-slide-1-rtl 5s ease-in-out 5s infinite normal;
  -o-animation: mvsl-light-slide-1-rtl 5s ease-in-out 5s infinite normal;
  animation: mvsl-light-slide-1-rtl 5s ease-in-out 5s infinite normal;
}
.ag-line_light-2__rtl {
  left: -6em;
  bottom: -5em;

  -webkit-animation: mvsl-light-slide-2-rtl 5s ease-in-out 5s infinite normal;
  -moz-animation: mvsl-light-slide-2-rtl 5s ease-in-out 5s infinite normal;
  -o-animation: mvsl-light-slide-2-rtl 5s ease-in-out 5s infinite normal;
  animation: mvsl-light-slide-2-rtl 5s ease-in-out 5s infinite normal;
}
.ag-line_text-2 {
  color: #F8FF13;

  -webkit-text-stroke-color: #F8FF13;

  text-shadow: 2px 2px 30px rgba(185, 174, 8, 0.4);
}

@-webkit-keyframes mvsl-light-slide-1-ltr {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@-moz-keyframes mvsl-light-slide-1-ltr {
  0% {
    opacity: 0;

    -moz-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -moz-transform: translateZ(0);
    transform: translateZ(0);

    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -moz-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -moz-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@-o-keyframes mvsl-light-slide-1-ltr {
  0% {
    opacity: 0;

    -o-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -o-transform: translateZ(0);
    transform: translateZ(0);

    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -o-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -o-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@keyframes mvsl-light-slide-1-ltr {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-25em, 0, 0);
    -moz-transform: translate3d(-25em, 0, 0);
    -o-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(23.125em, 0, 0);
    -moz-transform: translate3d(23.125em, 0, 0);
    -o-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(53.125em, 0, 0);
    -moz-transform: translate3d(53.125em, 0, 0);
    -o-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@-webkit-keyframes mvsl-light-slide-1-rtl {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@-moz-keyframes mvsl-light-slide-1-rtl {
  0% {
    opacity: 0;

    -moz-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -moz-transform: translateZ(0);
    transform: translateZ(0);

    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -moz-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -moz-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@-o-keyframes mvsl-light-slide-1-rtl {
  0% {
    opacity: 0;

    -o-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -o-transform: translateZ(0);
    transform: translateZ(0);

    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -o-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -o-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@keyframes mvsl-light-slide-1-rtl {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(25em, 0, 0);
    -moz-transform: translate3d(25em, 0, 0);
    -o-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(-23.125em, 0, 0);
    -moz-transform: translate3d(-23.125em, 0, 0);
    -o-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(-53.125em, 0, 0);
    -moz-transform: translate3d(-53.125em, 0, 0);
    -o-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@-webkit-keyframes mvsl-light-slide-2-ltr {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@-moz-keyframes mvsl-light-slide-2-ltr {
  0% {
    opacity: 0;

    -moz-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -moz-transform: translateZ(0);
    transform: translateZ(0);

    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -moz-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -moz-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@-o-keyframes mvsl-light-slide-2-ltr {
  0% {
    opacity: 0;

    -o-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -o-transform: translateZ(0);
    transform: translateZ(0);

    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -o-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -o-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}
@keyframes mvsl-light-slide-2-ltr {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(25em, 0, 0);
    -moz-transform: translate3d(25em, 0, 0);
    -o-transform: translate3d(25em, 0, 0);
    transform: translate3d(25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(-23.125em, 0, 0);
    -moz-transform: translate3d(-23.125em, 0, 0);
    -o-transform: translate3d(-23.125em, 0, 0);
    transform: translate3d(-23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(-53.125em, 0, 0);
    -moz-transform: translate3d(-53.125em, 0, 0);
    -o-transform: translate3d(-53.125em, 0, 0);
    transform: translate3d(-53.125em, 0, 0);
  }
}

@-webkit-keyframes mvsl-light-slide-2-rtl {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@-moz-keyframes mvsl-light-slide-2-rtl {
  0% {
    opacity: 0;

    -moz-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -moz-transform: translateZ(0);
    transform: translateZ(0);

    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -moz-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -moz-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@-o-keyframes mvsl-light-slide-2-rtl {
  0% {
    opacity: 0;

    -o-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -o-transform: translateZ(0);
    transform: translateZ(0);

    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -o-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -o-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}
@keyframes mvsl-light-slide-2-rtl {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(-25em, 0, 0);
    -moz-transform: translate3d(-25em, 0, 0);
    -o-transform: translate3d(-25em, 0, 0);
    transform: translate3d(-25em, 0, 0);

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  60% {
    opacity: 1;

    -webkit-transform: translate3d(23.125em, 0, 0);
    -moz-transform: translate3d(23.125em, 0, 0);
    -o-transform: translate3d(23.125em, 0, 0);
    transform: translate3d(23.125em, 0, 0);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70%,
  to {
    opacity: 0;

    -webkit-transform: translate3d(53.125em, 0, 0);
    -moz-transform: translate3d(53.125em, 0, 0);
    -o-transform: translate3d(53.125em, 0, 0);
    transform: translate3d(53.125em, 0, 0);
  }
}



@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
