body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.hours {
  display: flex;
  justify-content: space-between;
}

.hours > div:first-child {
  padding: 20px 0 0 30px;
}

.hours > div:last-child {
  padding: 20px 30px 0 0;
}

h1 {
  margin: 30px;
  font-size: 1.2em;
}

hr {
  margin: 5px 30px 25px;
}

.hours-box {
  min-width: 25em;
  background: #fff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
}

ul:first-child li:first-child {
  font-weight: bold;
  color: #000;
}

ul:last-child li:first-child {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 15px;
  list-style: none;
}

ul li {
  color: #777;
}