@font-face {
    font-family: 'tweet';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/tweet.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    padding: 0px;
    margin: 0px;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
}

.long-bird {
    background-color: #4099FF;
}


/* Stationary CSS */

.long-bird .hole {
    margin-left: -95px;
    width: 190px;
    background-color: #4099FF;
}

.long-bird .door {
    -webkit-transition: left 400ms;
    -moz-transition: left 400ms;
    -ms-transition: left 400ms;
    -o-transition: left 400ms;
    transition: left 400ms;
    height: 100%;
    width: 50%;
    background-color: #4099FF;
}

.long-bird .door:after {
    margin-left: -20px;
    font-size: 46px;
    color: #fff;
    top: -5px;
}

.long-bird .left {
    left: 0%;
    top: 0%;
}

.long-bird .left:after {
    right: 17px;
}

.long-bird .right {
    left: 50%;
    top: 0%;
}

.long-bird .right:after {
    left: 4px;
}


/* Effects on Hover */

.long-bird .hole:hover .left {
    left: -74px;
}

.long-bird .hole:hover .right {
    left: 170px;
}

.hole {
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    /* Font smoothing + HW acceleration for webkit */
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0px);
    /* Centering */
    margin-left: -100px;
    position: absolute;
    margin-top: -25px;
    left: 50%;
    top: 50%;
    width: 00px;
    height: 60px;
    font-size: 35px;
}

.twitter-follow-button {
    margin-left: -105px;
    /* position: absolute !important;*/
    position: relative !important;
    margin-top: 0px;
    left: 50%;
    top: 50%;
}

.door {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.door:after {
    font-family: 'tweet', sans-serif;
    position: absolute;
    content: "\e000";
    font-size: 35px;
    display: block;
    height: 20px;
    width: 0px;
}