.hover-state {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
}
body {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
body,
html,
.desktop {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.desktop {
  background: url(http://creativecollective.studio/code-examples/images/windows10.jpg) center right no-repeat;
  background-size: cover;
}
.taskbar {
  position: absolute;
  z-index: 9000;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #fff;
}
.taskbar:before,
.taskbar:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.taskbar .icon {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 2em;
  transition: background 0.2s ease-out;
}
.taskbar .icon:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
}
.taskbar .icon:hover .fa-windows {
  color: #aaa;
}
.taskbar .icon.win.open {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
}
.taskbar .icon.minimized:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.15s ease-out;
}
.taskbar .icon.minimized:hover:after,
.taskbar .icon.minimized.open:after {
  transition: all 0.15s ease-out;
  left: 0;
  right: 0;
}
.taskbar .icon .app-preview {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 50px;
  width: 150px;
  height: 0;
  margin-left: -50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0;
  transition: all 0.2s ease-out;
  transition-delay: 0s;
}
.taskbar .icon .app-preview.preview-edge .content {
  overflow: hidden;
  position: relative;
}
.taskbar .icon .app-preview.preview-edge .content:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.taskbar .icon .app-preview.preview-edge .content .edge-browser {
  background: transparent !important;
  width: 520px !important;
  height: 400px !important;
  transform: scale(0.3);
  transform-origin: top left;
}
.taskbar .icon.edge {
  color: #5a93e8;
}
.taskbar .icon.edge:hover .app-preview {
  visibility: visible;
  opacity: 1;
  height: 100px;
  transition: all 0.2s ease-out;
  transition-delay: 1s;
}
.taskbar .icon.edge.open .app-preview {
  visibility: hidden;
  opacity: 0;
}
.taskbar > .programs,
.taskbar > .tray {
  height: 50px;
  line-height: 50px;
}
.taskbar > .programs {
  float: left;
  width: 50%;
}
.taskbar > .tray {
  float: right;
  width: 50%;
  text-align: right;
}
.taskbar > .tray .peek {
  display: inline-block;
  width: 10px;
  height: 50px;
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  float: right;
}
.taskbar > .tray .peek:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
}
.taskbar > .tray .all-icons {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  width: 150px;
  margin-left: -60px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.taskbar > .tray .all-icons .fa {
  float: left;
  margin: 10px;
}
.taskbar > .tray .all-icons.open {
  visibility: visible;
}
.taskbar > .tray .ico {
  display: inline-block;
  font-size: 1.4em;
  width: 30px;
  height: 50px;
  text-align: center;
}
.taskbar > .tray .ico:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
}
.taskbar > .tray .ico.time {
  position: relative;
  top: 6px;
  height: auto;
  width: 60px;
  line-height: 20px;
}
.taskbar > .tray .ico.time .clock,
.taskbar > .tray .ico.time .date {
  text-align: center;
  height: auto;
  font-size: 0.8em;
  line-height: 1em;
}
.taskbar > .tray .ico.time .date {
  margin-top: 5px;
}
.taskbar > .tray .ico.time:hover {
  background: transparent;
}
.startmenu {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 300px;
  width: 550px;
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.startmenu.open {
  transition: all 0.2s ease-in-out;
  height: 400px;
  opacity: 1;
  visibility: visible;
}
.startmenu.open .icons .bottom {
  transition: all 0.3s ease-out;
  opacity: 1;
}
.startmenu.open .programs .item {
  margin-bottom: 1px;
  transition: margin 0.5s ease-out;
}
.startmenu.open .tiles .tile {
  margin-top: 0px;
  transition: margin 0.5s ease-out;
}
.startmenu .title {
  margin: 6px 0 0 0;
  padding: 8px 0 4px 10px;
}
.startmenu .title:hover {
  background: #333;
}
.startmenu > .container-fluid {
  padding: 0;
  height: 100%;
}
.startmenu > .container-fluid .row {
  margin-right: 0;
}
.startmenu > .container-fluid .row,
.startmenu > .container-fluid .programs,
.startmenu > .container-fluid .tiles {
  height: inherit;
  position: relative;
}
.startmenu .icons {
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 50px;
  overflow: hidden;
  transition: all 0.1s ease-out;
}
.startmenu .icons.open {
  width: 200px;
  background: #333;
  transition: all 0.2s ease-out;
}
.startmenu .icons .icon {
  position: relative;
  line-height: 50px;
  width: 100%;
  text-align: left;
}
.startmenu .icons .icon .fa {
  margin-left: 17px;
}
.startmenu .icons .icon img {
  max-width: 36px;
  margin-left: -4px;
}
.startmenu .icons .icon > span {
  position: absolute;
  left: 60px;
  font-size: 0.6em;
  line-height: 50px;
  width: 100px;
  height: 50px;
  text-align: left;
}
.startmenu .icons .icon > span.start {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.5em;
}
.startmenu .icons .icon.top {
  position: absolute;
  z-index: 100;
}
.startmenu .icons .bottom {
  position: relative;
  bottom: 0;
  height: 100%;
  opacity: 0;
}
.startmenu .icons .bottom .icon {
  position: absolute;
}
.startmenu .icons .bottom .icon.power {
  bottom: 0;
}
.startmenu .icons .bottom .icon.settings {
  bottom: 50px;
}
.startmenu .icons .bottom .icon.file-explorer {
  bottom: 100px;
}
.startmenu .icons .bottom .icon.profile {
  bottom: 150px;
  padding: 0 12px;
}
.startmenu .icons .bottom .icon.profile img {
  display: inline;
  border-radius: 50%;
}
.startmenu .programs {
  overflow: hidden;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
}
.startmenu .programs .item {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 2px 0 2px 10px;
}
.startmenu .programs .item:hover {
  background: #333;
}
.startmenu .programs .item .fa {
  background: #999;
  padding: 5px;
}
.startmenu .programs .item span {
  margin-left: 10px;
  font-size: 12px;
  line-height: 30px;
  vertical-align: bottom;
}
.startmenu .tiles {
  padding-right: 1px;
  overflow: hidden;
  padding-right: 12px;
}
.startmenu .tiles:hover {
  overflow-y: auto;
  padding-right: 0;
}
.startmenu .tiles .title {
  padding-left: 0;
}
.startmenu .tiles .title:hover {
  background: transparent;
}
.startmenu .tiles .tile {
  position: relative;
  background: #333;
  border: 2px solid #333;
  padding: 30px;
  min-height: 110px;
  margin-bottom: 4px;
  margin-top: 30px;
  text-align: center;
}
.startmenu .tiles .tile.photos {
  background: url(http://lorempixel.com/200/150/cats/) center no-repeat;
  background-size: cover;
}
.startmenu .tiles .tile.twitter {
  background: url(http://creativecollective.studio/code-examples/images/twitter_icon_2011.png) center no-repeat;
  background-size: cover;
}
.startmenu .tiles .tile.news {
  background: url(http://lorempixel.com/400/150/business/) center no-repeat;
  background-size: cover;
}
.startmenu .tiles .tile:hover {
  border: 2px solid #eee;
}
.startmenu .tiles .tile .fa {
  font-size: 25px;
}
.startmenu .tiles .tile > span {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  text-align: left;
}
.startmenu .tiles .tile > span .fa {
  float: right;
  font-size: 14px;
}
.startmenu .tiles .tile.wide {
  width: 100%;
  clear: both;
}
.startmenu .tiles .tile.medium {
  width: 49%;
  float: left;
}
.startmenu .tiles .tile.medium:nth-child(odd) {
  margin-right: 4px;
}
.startmenu .tiles .tile.medium:nth-child(even) {
  float: right;
}
body.peek .startmenu.open,
body.peek .window,
body.peek .app {
  opacity: 0.1;
}
.app {
  overflow: hidden;
  z-index: 10;
  border: 1px solid #000000;
  width: 550px;
  height: 400px;
  transform-origin: bottom left;
  transition: opacity 0.2s ease-in-out;
}
.app.minimized {
  opacity: 0;
  visibility: hidden;
}
.app.open {
  bottom: 550px;
  left: 250px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}
.app .toolbar {
  background: #999;
  height: 30px;
  font-size: 12px;
  overflow: hidden;
}
.app .toolbar:before,
.app .toolbar:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.app .toolbar .tab {
  position: relative;
  padding: 0 10px;
  width: 100px;
  line-height: 30px;
  background: #aaa;
  float: left;
}
.app .toolbar .tab:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f067";
  position: absolute;
  right: -20px;
  top: 10px;
}
.app .toolbar .tab span {
  margin-left: 6px;
}
.app .toolbar .tab .fa-times {
  float: right;
  line-height: 30px;
}
.app .toolbar .tab .fa-times:hover {
  color: #990000;
}
.app .addressbar {
  line-height: 30px;
}
.app .addressbar i {
  padding: 0 10px;
}
.app .addressbar span {
  margin: 0 5px;
}
.app .addressbar span.divider {
  border-right: 1px solid #777;
}
.app .addressbar input {
  background: transparent;
  border: 0;
  outline: none;
}
.app.id-edge {
  background: #aaa;
}
a {
  cursor: default;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
}
::-webkit-scrollbar-button {
  background-size: 100%;
  height: 10px;
  width: 10px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button:vertical:increment {
  background-position: center top;
  background-image: url(http://creativecollective.studio/code-examples/images/downarrow0.png);
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position: center bottom;
  background-image: url(http://creativecollective.studio/code-examples/images/uparrow0.png);
}
.ui-draggable-dragging iframe,
.ui-resizable-resizing iframe {
  pointer-events: none;
}