html {
  margin-left:100px;
  margin-top :50px;
  margin-right:600px;
  border: 2px solid red;
  background-color:green;
  padding-top:1px;
  }
h2{
  margin-top:10px;
  font-size:60px;
  font-weight:900;
  text-align:center;
  text-decoration:underline;
  color:blue;
}
p{
  text-align:center;
  font-size:50px;
}
h3 {
  text-align:center;
  font-weight:bold;
  font-size:50px;
}
audio{
  padding-left:250px;
}
video{
  border: 5px solid blue;
  margin-left:50px;
  margin-bottom:20px;
}
body{
  background-color:red;
}