@charset "UTF-8";
@-webkit-keyframes load-gauge {
  from {
    stroke-dasharray: 0 352;
  }
}
@keyframes load-gauge {
  from {
    stroke-dasharray: 0 352;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background-color: #212121;
  color: WHITE;
}

.scores-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  width: 100%;
}
.scores-container .scores-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.scores-container .scores-header .gauge-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
  align-items: center;
  contain: none;
  text-decoration: none;
  width: 148px;
}
.scores-container .scores-header .gauge-wrapper.performance .gauge-label:after {
  content: "Performance";
}
.scores-container .scores-header .gauge-wrapper.accessibility .gauge-label:after {
  content: "Accessibility";
}
.scores-container .scores-header .gauge-wrapper.best-practices .gauge-label:after {
  content: "Best Practices";
}
.scores-container .scores-header .gauge-wrapper.seo .gauge-label:after {
  content: "SEO";
}
.scores-container .scores-header .gauge-wrapper.pass {
  color: #0cce6b;
  fill: #0cce6b;
  stroke: #0cce6b;
}
.scores-container .scores-header .gauge-wrapper.average {
  color: #ffa400;
  fill: #ffa400;
  stroke: #ffa400;
}
.scores-container .scores-header .gauge-wrapper.fail {
  color: #ff4e42;
  fill: #ff4e42;
  stroke: #ff4e42;
}
.scores-container .scores-header .gauge-wrapper.per01 .gauge-arc {
  stroke-dasharray: 3.52, 352;
}
.scores-container .scores-header .gauge-wrapper.per02 .gauge-arc {
  stroke-dasharray: 7.04, 352;
}
.scores-container .scores-header .gauge-wrapper.per03 .gauge-arc {
  stroke-dasharray: 10.56, 352;
}
.scores-container .scores-header .gauge-wrapper.per04 .gauge-arc {
  stroke-dasharray: 14.08, 352;
}
.scores-container .scores-header .gauge-wrapper.per05 .gauge-arc {
  stroke-dasharray: 17.6, 352;
}
.scores-container .scores-header .gauge-wrapper.per06 .gauge-arc {
  stroke-dasharray: 21.12, 352;
}
.scores-container .scores-header .gauge-wrapper.per07 .gauge-arc {
  stroke-dasharray: 24.64, 352;
}
.scores-container .scores-header .gauge-wrapper.per08 .gauge-arc {
  stroke-dasharray: 28.16, 352;
}
.scores-container .scores-header .gauge-wrapper.per09 .gauge-arc {
  stroke-dasharray: 31.68, 352;
}
.scores-container .scores-header .gauge-wrapper.per10 .gauge-arc {
  stroke-dasharray: 35.2, 352;
}
.scores-container .scores-header .gauge-wrapper.per11 .gauge-arc {
  stroke-dasharray: 38.72, 352;
}
.scores-container .scores-header .gauge-wrapper.per12 .gauge-arc {
  stroke-dasharray: 42.24, 352;
}
.scores-container .scores-header .gauge-wrapper.per13 .gauge-arc {
  stroke-dasharray: 45.76, 352;
}
.scores-container .scores-header .gauge-wrapper.per14 .gauge-arc {
  stroke-dasharray: 49.28, 352;
}
.scores-container .scores-header .gauge-wrapper.per15 .gauge-arc {
  stroke-dasharray: 52.8, 352;
}
.scores-container .scores-header .gauge-wrapper.per16 .gauge-arc {
  stroke-dasharray: 56.32, 352;
}
.scores-container .scores-header .gauge-wrapper.per17 .gauge-arc {
  stroke-dasharray: 59.84, 352;
}
.scores-container .scores-header .gauge-wrapper.per18 .gauge-arc {
  stroke-dasharray: 63.36, 352;
}
.scores-container .scores-header .gauge-wrapper.per19 .gauge-arc {
  stroke-dasharray: 66.88, 352;
}
.scores-container .scores-header .gauge-wrapper.per20 .gauge-arc {
  stroke-dasharray: 70.4, 352;
}
.scores-container .scores-header .gauge-wrapper.per21 .gauge-arc {
  stroke-dasharray: 73.92, 352;
}
.scores-container .scores-header .gauge-wrapper.per22 .gauge-arc {
  stroke-dasharray: 77.44, 352;
}
.scores-container .scores-header .gauge-wrapper.per23 .gauge-arc {
  stroke-dasharray: 80.96, 352;
}
.scores-container .scores-header .gauge-wrapper.per24 .gauge-arc {
  stroke-dasharray: 84.48, 352;
}
.scores-container .scores-header .gauge-wrapper.per25 .gauge-arc {
  stroke-dasharray: 88, 352;
}
.scores-container .scores-header .gauge-wrapper.per26 .gauge-arc {
  stroke-dasharray: 91.52, 352;
}
.scores-container .scores-header .gauge-wrapper.per27 .gauge-arc {
  stroke-dasharray: 95.04, 352;
}
.scores-container .scores-header .gauge-wrapper.per28 .gauge-arc {
  stroke-dasharray: 98.56, 352;
}
.scores-container .scores-header .gauge-wrapper.per29 .gauge-arc {
  stroke-dasharray: 102.08, 352;
}
.scores-container .scores-header .gauge-wrapper.per30 .gauge-arc {
  stroke-dasharray: 105.6, 352;
}
.scores-container .scores-header .gauge-wrapper.per31 .gauge-arc {
  stroke-dasharray: 109.12, 352;
}
.scores-container .scores-header .gauge-wrapper.per32 .gauge-arc {
  stroke-dasharray: 112.64, 352;
}
.scores-container .scores-header .gauge-wrapper.per33 .gauge-arc {
  stroke-dasharray: 116.16, 352;
}
.scores-container .scores-header .gauge-wrapper.per34 .gauge-arc {
  stroke-dasharray: 119.68, 352;
}
.scores-container .scores-header .gauge-wrapper.per35 .gauge-arc {
  stroke-dasharray: 123.2, 352;
}
.scores-container .scores-header .gauge-wrapper.per36 .gauge-arc {
  stroke-dasharray: 126.72, 352;
}
.scores-container .scores-header .gauge-wrapper.per37 .gauge-arc {
  stroke-dasharray: 130.24, 352;
}
.scores-container .scores-header .gauge-wrapper.per38 .gauge-arc {
  stroke-dasharray: 133.76, 352;
}
.scores-container .scores-header .gauge-wrapper.per39 .gauge-arc {
  stroke-dasharray: 137.28, 352;
}
.scores-container .scores-header .gauge-wrapper.per40 .gauge-arc {
  stroke-dasharray: 140.8, 352;
}
.scores-container .scores-header .gauge-wrapper.per41 .gauge-arc {
  stroke-dasharray: 144.32, 352;
}
.scores-container .scores-header .gauge-wrapper.per42 .gauge-arc {
  stroke-dasharray: 147.84, 352;
}
.scores-container .scores-header .gauge-wrapper.per43 .gauge-arc {
  stroke-dasharray: 151.36, 352;
}
.scores-container .scores-header .gauge-wrapper.per44 .gauge-arc {
  stroke-dasharray: 154.88, 352;
}
.scores-container .scores-header .gauge-wrapper.per45 .gauge-arc {
  stroke-dasharray: 158.4, 352;
}
.scores-container .scores-header .gauge-wrapper.per46 .gauge-arc {
  stroke-dasharray: 161.92, 352;
}
.scores-container .scores-header .gauge-wrapper.per47 .gauge-arc {
  stroke-dasharray: 165.44, 352;
}
.scores-container .scores-header .gauge-wrapper.per48 .gauge-arc {
  stroke-dasharray: 168.96, 352;
}
.scores-container .scores-header .gauge-wrapper.per49 .gauge-arc {
  stroke-dasharray: 172.48, 352;
}
.scores-container .scores-header .gauge-wrapper.per50 .gauge-arc {
  stroke-dasharray: 176, 352;
}
.scores-container .scores-header .gauge-wrapper.per51 .gauge-arc {
  stroke-dasharray: 179.52, 352;
}
.scores-container .scores-header .gauge-wrapper.per52 .gauge-arc {
  stroke-dasharray: 183.04, 352;
}
.scores-container .scores-header .gauge-wrapper.per53 .gauge-arc {
  stroke-dasharray: 186.56, 352;
}
.scores-container .scores-header .gauge-wrapper.per54 .gauge-arc {
  stroke-dasharray: 190.08, 352;
}
.scores-container .scores-header .gauge-wrapper.per55 .gauge-arc {
  stroke-dasharray: 193.6, 352;
}
.scores-container .scores-header .gauge-wrapper.per56 .gauge-arc {
  stroke-dasharray: 197.12, 352;
}
.scores-container .scores-header .gauge-wrapper.per57 .gauge-arc {
  stroke-dasharray: 200.64, 352;
}
.scores-container .scores-header .gauge-wrapper.per58 .gauge-arc {
  stroke-dasharray: 204.16, 352;
}
.scores-container .scores-header .gauge-wrapper.per59 .gauge-arc {
  stroke-dasharray: 207.68, 352;
}
.scores-container .scores-header .gauge-wrapper.per60 .gauge-arc {
  stroke-dasharray: 211.2, 352;
}
.scores-container .scores-header .gauge-wrapper.per61 .gauge-arc {
  stroke-dasharray: 214.72, 352;
}
.scores-container .scores-header .gauge-wrapper.per62 .gauge-arc {
  stroke-dasharray: 218.24, 352;
}
.scores-container .scores-header .gauge-wrapper.per63 .gauge-arc {
  stroke-dasharray: 221.76, 352;
}
.scores-container .scores-header .gauge-wrapper.per64 .gauge-arc {
  stroke-dasharray: 225.28, 352;
}
.scores-container .scores-header .gauge-wrapper.per65 .gauge-arc {
  stroke-dasharray: 228.8, 352;
}
.scores-container .scores-header .gauge-wrapper.per66 .gauge-arc {
  stroke-dasharray: 232.32, 352;
}
.scores-container .scores-header .gauge-wrapper.per67 .gauge-arc {
  stroke-dasharray: 235.84, 352;
}
.scores-container .scores-header .gauge-wrapper.per68 .gauge-arc {
  stroke-dasharray: 239.36, 352;
}
.scores-container .scores-header .gauge-wrapper.per69 .gauge-arc {
  stroke-dasharray: 242.88, 352;
}
.scores-container .scores-header .gauge-wrapper.per70 .gauge-arc {
  stroke-dasharray: 246.4, 352;
}
.scores-container .scores-header .gauge-wrapper.per71 .gauge-arc {
  stroke-dasharray: 249.92, 352;
}
.scores-container .scores-header .gauge-wrapper.per72 .gauge-arc {
  stroke-dasharray: 253.44, 352;
}
.scores-container .scores-header .gauge-wrapper.per73 .gauge-arc {
  stroke-dasharray: 256.96, 352;
}
.scores-container .scores-header .gauge-wrapper.per74 .gauge-arc {
  stroke-dasharray: 260.48, 352;
}
.scores-container .scores-header .gauge-wrapper.per75 .gauge-arc {
  stroke-dasharray: 264, 352;
}
.scores-container .scores-header .gauge-wrapper.per76 .gauge-arc {
  stroke-dasharray: 267.52, 352;
}
.scores-container .scores-header .gauge-wrapper.per77 .gauge-arc {
  stroke-dasharray: 271.04, 352;
}
.scores-container .scores-header .gauge-wrapper.per78 .gauge-arc {
  stroke-dasharray: 274.56, 352;
}
.scores-container .scores-header .gauge-wrapper.per79 .gauge-arc {
  stroke-dasharray: 278.08, 352;
}
.scores-container .scores-header .gauge-wrapper.per80 .gauge-arc {
  stroke-dasharray: 281.6, 352;
}
.scores-container .scores-header .gauge-wrapper.per81 .gauge-arc {
  stroke-dasharray: 285.12, 352;
}
.scores-container .scores-header .gauge-wrapper.per82 .gauge-arc {
  stroke-dasharray: 288.64, 352;
}
.scores-container .scores-header .gauge-wrapper.per83 .gauge-arc {
  stroke-dasharray: 292.16, 352;
}
.scores-container .scores-header .gauge-wrapper.per84 .gauge-arc {
  stroke-dasharray: 295.68, 352;
}
.scores-container .scores-header .gauge-wrapper.per85 .gauge-arc {
  stroke-dasharray: 299.2, 352;
}
.scores-container .scores-header .gauge-wrapper.per86 .gauge-arc {
  stroke-dasharray: 302.72, 352;
}
.scores-container .scores-header .gauge-wrapper.per87 .gauge-arc {
  stroke-dasharray: 306.24, 352;
}
.scores-container .scores-header .gauge-wrapper.per88 .gauge-arc {
  stroke-dasharray: 309.76, 352;
}
.scores-container .scores-header .gauge-wrapper.per89 .gauge-arc {
  stroke-dasharray: 313.28, 352;
}
.scores-container .scores-header .gauge-wrapper.per90 .gauge-arc {
  stroke-dasharray: 316.8, 352;
}
.scores-container .scores-header .gauge-wrapper.per91 .gauge-arc {
  stroke-dasharray: 320.32, 352;
}
.scores-container .scores-header .gauge-wrapper.per92 .gauge-arc {
  stroke-dasharray: 323.84, 352;
}
.scores-container .scores-header .gauge-wrapper.per93 .gauge-arc {
  stroke-dasharray: 327.36, 352;
}
.scores-container .scores-header .gauge-wrapper.per94 .gauge-arc {
  stroke-dasharray: 330.88, 352;
}
.scores-container .scores-header .gauge-wrapper.per95 .gauge-arc {
  stroke-dasharray: 334.4, 352;
}
.scores-container .scores-header .gauge-wrapper.per96 .gauge-arc {
  stroke-dasharray: 337.92, 352;
}
.scores-container .scores-header .gauge-wrapper.per97 .gauge-arc {
  stroke-dasharray: 341.44, 352;
}
.scores-container .scores-header .gauge-wrapper.per98 .gauge-arc {
  stroke-dasharray: 344.96, 352;
}
.scores-container .scores-header .gauge-wrapper.per99 .gauge-arc {
  stroke-dasharray: 348.48, 352;
}
.scores-container .scores-header .gauge-wrapper.per100 .gauge-arc {
  stroke-dasharray: 352, 352;
}
.scores-container .scores-header .gauge-wrapper .gauge-svg-wrapper {
  position: relative;
}
.scores-container .scores-header .gauge-wrapper .gauge-svg-wrapper svg.gauge {
  stroke-linecap: round;
  width: 80px;
  height: 80px;
}
.scores-container .scores-header .gauge-wrapper .gauge-svg-wrapper svg.gauge .gauge-base {
  opacity: 0.1;
  stroke-width: 8px;
}
.scores-container .scores-header .gauge-wrapper .gauge-svg-wrapper svg.gauge .gauge-arc {
  fill: none;
  stroke-width: 8px;
  -webkit-animation: load-gauge 1s ease forwards;
          animation: load-gauge 1s ease forwards;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.scores-container .scores-header .gauge-wrapper .gauge-percentage {
  font-family: "Roboto Mono", "Menlo", "dejavu sans mono", "Consolas", "Lucida Console", monospace;
  font-size: 28.5px;
  height: 80px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(60px/2);
  width: 100%;
}
.scores-container .scores-header .gauge-wrapper .gauge-label {
  font-size: 20px;
  line-height: 26px;
  margin-top: 10px;
  text-align: center;
  color: WHITE;
}
.small .scores-container .scores-header .gauge-wrapper .gauge-label {
  font-size: 10px;
}
.scores-container .scorescale {
  display: inline-flex;
  margin: 12px auto 0 auto;
  border: 1px solid #424242;
  border-radius: 20px;
  padding: 8px 8px;
}
.scores-container .scorescale .scorescale-range {
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-family: "Roboto Mono", "Menlo", "dejavu sans mono", "Consolas", "Lucida Console", monospace;
  white-space: nowrap;
}
.scores-container .scorescale .scorescale-range:before {
  content: "";
  width: 18px;
  height: 6px;
  border-radius: 10px;
  display: block;
  margin-right: 10px;
}
.scores-container .scorescale .scorescale-range.fail:before {
  background-color: #ff4e42;
}
.scores-container .scorescale .scorescale-range.fail:after {
  content: "0–49";
}
.scores-container .scorescale .scorescale-range.average:before {
  background-color: #ffa400;
}
.scores-container .scorescale .scorescale-range.average:after {
  content: "50–89";
}
.scores-container .scorescale .scorescale-range.pass:before {
  background-color: #0cce6b;
}
.scores-container .scorescale .scorescale-range.pass:after {
  content: "90–100";
}

hr {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.scores-container.small .scores-header {
  justify-content: flex-end;
}
.scores-container.small .scores-header .gauge-wrapper {
  width: 120px;
  margin-bottom: 1em;
}
.scores-container.small .scores-header .gauge-wrapper svg.gauge {
  width: 40px;
  height: 40px;
}
.scores-container.small .scores-header .gauge-wrapper svg.gauge .gauge-base {
  stroke-width: 4px;
}
.scores-container.small .scores-header .gauge-wrapper svg.gauge .gauge-arc {
  stroke-width: 4px;
}
.scores-container.small .scores-header .gauge-wrapper .gauge-percentage {
  font-size: 16px;
  top: calc(18px/2);
}
.scores-container.small .scores-header .gauge-wrapper .gauge-label {
  font-size: 16px;
  line-height: 1em;
}
.scores-container.small .scorescale {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table img {
  border-radius: 8px;
}

th, td {
  text-align: left;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}