/* CSS comes here */
body {
  font-family: arial;
}
button {
  padding:10px;
  background-color:#6a67ce;
  color: #FFFFFF;
  border: 0px;
  cursor:pointer;
  border-radius: 5px;
}
#output {
  background-color:#F9F9F9;
  padding:10px;
  width: 100%;
  margin-top:20px;
  line-height:30px;
}
.hide {
  display:none;
}
.show {
  display:block;
}