@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
html, body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  justify-content: center;
  background: #B9BBBC;
}

article {
  align-self: center;
  min-height: 700px;
  height: 650px;
  width: 425px;
  background: #52515B;
  box-shadow: 15px 38px 34px -26px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 6px 7px #EAEAE3;
  border-radius: 5px;
}
article header {
  position: absolute;
  width: 100%;
  height: 52px;
  top: 0px;
  background-color: #52515B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
article header label {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 8px;
  margin: 20px 25px;
  display: block;
  background: #B9BBBC;
  cursor: pointer;
}
article header label:hover {
  background-color: #E1E1E0;
}
article #content {
  width: 425px;
  height: 650px;
  position: relative;
  transform: translate3d(0px, 0, 0);
  transition: transform 0.5s ease-in-out;
  z-index: 10;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
article h1 {
  height: 140px;
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: normal;
  color: #777;
}
article #container {
  position: absolute;
  height: 650px;
  overflow-x: hidden;
}
article #container section#content {
  height: 100%;
  padding-top: 52px;
  background-color: #FDFDFD;
  box-sizing: border-box;
}
article #container section#content #body {
  height: 100%;
  padding: 1rem;
  color: #aaa;
  box-sizing: border-box;
  overflow-y: auto;
}

#menu_wrap,
#alt_menu {
  position: absolute;
  height: 650px;
  width: 200px;
  top: 0px;
  margin-left: -200px;
  background-color: #52515B;
  transition: transform 0.5s ease-in-out;
  border-top-left-radius: 10px;
}

#open {
  display: none;
}
#open:checked ~ article #menu_wrap {
  transform: translate3d(200px, 0, 0);
  border-top-left-radius: 10px;
}
#open:checked ~ article header > label {
  background-color: #E1E1E0;
}
#open:checked ~ article #content {
  transform: translate3d(200px, 0, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#open:checked ~ article #alt_menu {
  top: -100%;
  transition: top 0s ease-in-out 0.5s;
}
#open:checked + article #alt_menu_right {
  transform: translate3d(200px, 0, 0);
  z-index: 100;
}
#open:checked + article #alt_menu_left > .alt_menu_inner {
  transform: perspective(800) rotateY(0deg);
}
#open:checked + article #alt_menu_right > .alt_menu_inner {
  transform: perspective(800) rotateY(0deg);
}
#open:checked + article .alt_menu_inner > div:after {
  background-color: transparent;
}

.txt {
  height: 100px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.txt:nth-of-type(2) {
  margin-top: 10px;
}
.txt .img {
  float: left;
  height: 60%;
  width: 20%;
  margin-left: 20px;
  border-radius: 4px;
  background: #B9BBBC;
}
.txt span {
  float: left;
  background: #E1E1E0;
  height: 10px;
  width: 55%;
  margin-left: 150px;
  margin-top: -60px;
  position: relative;
  border-radius: 3px;
}
.txt span:nth-of-type(2) {
  margin-top: -35px;
}
.txt span:nth-of-type(3) {
  margin-top: -10px;
  width: 25%;
}

#alt_menu {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0%;
  left: 0px;
  margin-left: 0px;
  background-color: #595959;
  z-index: 10;
  transition: top 0s ease-in-out;
  border-top-left-radius: 10px;
}

.alt_menus {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.alt_menus .alt_menu_inner {
  position: absolute;
  width: 100px;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform-origin: left center;
}

#alt_menu_right > .alt_menu_inner {
  left: -100px;
  overflow: hidden;
  transform-origin: right center;
  transform: perspective(800) rotateY(-90deg) scale(0.55, 1);
}

.alt_menu_inner > div {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: #52515B;
}

#alt_menu_right > .alt_menu_inner > div {
  right: 0;
}
#alt_menu_right > .alt_menu_inner > div:after {
  background-color: rgba(255, 255, 255, 0.6);
}

#alt_menu_left > .alt_menu_inner {
  transform: perspective(800) rotateY(90deg) scale(0.57, 1);
  z-index: 10;
}

#alt_menu_left > .alt_menu_inner > div:after {
  background-color: rgba(0, 0, 0, 0.6);
}

.alt_menu_inner > div:after {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  content: "";
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

menu {
  list-style: none;
  width: 200px;
  padding: 0 12px;
  margin: 0px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
}
menu li {
  position: relative;
  width: 100%;
  height: 52px;
  margin-bottom: 1px;
  padding: 0 8px;
  line-height: 52px;
  font-size: 16px;
  box-sizing: border-box;
}
menu li label {
  display: block;
  height: 100%;
  width: 100%;
}
menu li:after {
  position: absolute;
  display: block;
  height: 8px;
  width: 160px;
  content: "";
  background-color: #B9BBBC;
  border-radius: 2px;
}
menu li:first-child {
  height: 120px;
  padding: 0;
}
menu li:first-child:after, menu li:last-child:after {
  display: none;
}
menu span {
  padding: 1rem;
}

.icon, .icon2 {
  margin-left: 20px;
  border-radius: 4px;
  height: 80px;
  width: 90px;
  background-color: #B9BBBC;
  margin: 50px 42px 0;
}

.icon2 {
  margin: 52px 28px 0;
  width: 110px;
}