#container
  header#header.grid.cols-6
    section#proj-heading
      h1 Wikipedia Viewer Application
    details#proj-details
      summary Project Info
      section#details-body.grid.cols-2.rows-2
        .details-column
        .details-column
  main#app
    #app-con.flex-c
      section#search.flex-c
        h2
          i.fa.fa-wikipedia-w.item-icon
          | ikipedia Viewer
        #search-bar
          input#search-input(autocomplete='off' autofocus='' placeholder='Search The Wikipedia...' type='search')
          button#search-btn(type='button')
            i.fa.fa-search
        a#random(href='https://en.wikipedia.org/wiki/Special:Random' target='_blank') Random Article
      section#results-con.flex-c
  footer#footer
    p
      | Last Updated:
      time(datetime='2017-05-03')  03/05/2017
      | &amp;nbsp | &amp;nbsp
      a(href='https://codepen.io/U-ways/' target='_blank')
        i.fa.fa-codepen(aria-hidden='true')
        | U-ways
