*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  overflow: hidden;
}

body {
  background: #373737;
  font-family: "Source Sans Pro", sans-serif;
}

.material-icons {
  font-size: 18px;
  margin-left: 4px;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 35rem));
  grid-template-rows: repeat(5, min-content);
  justify-items: space-between;
  align-items: center;
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 790px) {
  .container {
    grid-template-columns: 50rem;
    grid-column-rows: repeat(6, min-content);
  }
}
@media only screen and (max-width: 540px) {
  .container {
    grid-template-columns: minmax(30rem, 40rem);
  }
}

/*  TITLE  */
.title {
  grid-row: 1/2;
  grid-column: 1/4;
  padding: 2.8rem 4rem;
  margin-bottom: 1.4rem;
  font-size: 3.2rem;
  color: #373737;
  border-radius: 0.4rem 0.4rem 0 0;
  background: #f2f2f2;
  font-weight: 700;
}

/*  FORM  */
.form {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0.8rem 4rem;
  position: relative;
}
@media only screen and (max-width: 790px) {
  .form {
    margin: 2rem 4rem 0.8rem 4rem;
  }
}
.form__1 {
  grid-row: 2/3;
}
.form__2 {
  grid-row: 3/4;
}
.form__3 {
  grid-row: 4/5;
}
.form.active label {
  transform: translateY(-2.2rem);
  visibility: visible;
  font-size: 1.3rem;
  color: #7581FF;
}
.form__input {
  font-size: 1.6rem;
  padding: 1rem 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #c1c1c1;
}
.form__input:focus {
  outline: none;
  border-bottom: 2px solid #c1c1c1;
}
.form__input:focus:invalid {
  border-bottom: 2px solid #7581FF;
}
.form__label {
  font-size: 1.6rem;
  color: #c1c1c1;
  position: absolute;
  top: 1rem;
  pointer-events: none;
  transition: all 0.3s;
}
.form__btn {
  grid-column: 1/2;
  grid-row: 5/6;
  background: #7581FF;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.1rem 0;
  margin: 2.8rem 0 4rem 4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
}
@media only screen and (max-width: 790px) {
  .form__btn {
    margin: 2.8rem 4rem 4rem 4rem;
  }
}
.form__btn:focus {
  outline: 0;
}
.form__btn:hover {
  background-color: #5162fe;
}
.form__btn > * {
  transition: all 0.4s;
  transition-delay: 1s;
  display: inline-block;
}
.form__btn--invisible {
  position: absolute;
  width: 100%;
  left: 0;
  top: -100%;
}
.form__btn--invisible.visible {
  top: 11px;
}
.form__btn--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__btn--visible.invisible {
  transform: translateY(200%);
}

/*  MAIL ICON  */
.container-mail {
  grid-column: 2/3;
  grid-row: 2/6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31rem;
  height: 28rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 790px) {
  .container-mail {
    grid-column: 1/2;
    grid-row: 6/7;
    height: 12rem;
    margin-top: 4rem;
    justify-self: center;
  }
}

.mail {
  position: relative;
  top: -4rem;
  left: -6rem;
}
@media only screen and (max-width: 790px) {
  .mail {
    left: -27%;
    top: -5rem;
  }
}
.mail__top {
  position: absolute;
  top: -5.7rem;
  width: 0;
  height: 0;
  border-right: 8rem solid transparent;
  border-left: 8rem solid transparent;
  border-bottom: 5.8rem solid #ffab17;
  z-index: 0;
}
.mail__top.closed {
  transition: transform 0.6s 0.8s, z-index 0.2s 0.4s;
  z-index: 2;
  transition-delay: 0.5s;
  transform-origin: bottom left;
  transform: rotate3d(1, 0, 0, 180deg);
}
.mail__back {
  position: absolute;
  background: #ffab17;
  width: 16rem;
  height: 10rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
}
.mail__left {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8rem solid #ffc867;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
}
.mail__right {
  position: absolute;
  left: 8rem;
  width: 0;
  height: 0;
  border-right: 8rem solid #ffc867;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
}
.mail__bottom {
  position: absolute;
  top: 4.92rem;
  width: 0;
  height: 0;
  border-right: 8rem solid transparent;
  border-left: 8rem solid transparent;
  border-bottom: 5.08rem solid #ffbb43;
}
.mail__letter {
  position: absolute;
  top: -4rem;
  left: 2rem;
  width: 12rem;
  height: 9rem;
  background: #fff;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.8s ease;
}
.mail__letter.move {
  transform: translateY(45px);
}
.mail__letter * {
  background: #e0e0e0;
}
.mail__letter-square {
  position: absolute;
  top: 3rem;
  left: 1rem;
  width: 3.8rem;
  height: 4rem;
}
.mail__letter-square::before {
  content: "";
  position: absolute;
  top: -2rem;
  width: 10rem;
  height: 1.5rem;
  background: inherit;
}
.mail__letter-lines {
  top: 4.9rem;
  left: 5.8rem;
}
.mail__letter-lines, .mail__letter-lines::before, .mail__letter-lines::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 0.3rem;
  background: #e0e0e0;
}
.mail__letter-lines::before {
  top: -1rem;
}
.mail__letter-lines::after {
  top: 1rem;
}