@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

//scss variables//
$button-darkblue: #1d74ff;
$button-lightblue: #4ebeff;
$button-outer-shadow: 0 0 .5em .05em $button-lightblue;
$button-light-shadow: inset .05em .05em .1em .01em rgba(255, 255, 255, .5);
$button-dark-shadow: inset -.05em -.05em .1em .01em rgba(0, 0, 0, .2);
$button-border-radius: 20px;

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: max(5vmin, 16px);
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  position: relative;
  background:linear-gradient(to bottom right, $button-darkblue 40%, $button-lightblue 100%);
  border: none;
	border-radius: $button-border-radius;
  box-shadow:
    $button-outer-shadow,
    $button-light-shadow,
    $button-dark-shadow;
  cursor: pointer;
  color: white;
	font-family: 'Recursive', sans-serif;
  font-size: inherit;
	padding: 30px 40px;
  transition: transform 0.05s ease-in;
}

button:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top left, $button-darkblue 40%, $button-lightblue 100%);
  border: none;
  border-radius: $button-border-radius;
  box-shadow:
    $button-light-shadow,
    $button-dark-shadow;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

button:hover:after {
  opacity: 1;
}

button span {
  position: relative;
  z-index: 1;
}